<!--section `Калькулятор расчета PK`-->
+section("s-calc", "Вы можете посчитать, через какое время вам вернется стоимость РАЗРАБОТКИ И настройки ваших рекламных кампаний", desc, "CALC_RK")
    .inner
        .b-calc
            .b-calc-wrap
                .b-calc-group
                    .b-calc-title
                        p
                            span.text-medium Введите сумму оцененную Webcom за разработку и настройку рекламных кампаний.<br>
                            |(Минимальная стоимость разработки рекламной кампании — 100 BYN)
                    .b-calc-body
                        .b-calc-body-group
                            input#RK_VALUE(type="text", placeholder="100 BYN", data-default-value="100")
                        .b-calc-body-group
                            button.b-calc-btn.b-help-variant-new__btn.b-new-btn.b-new-btn--orange.b-new-btn--shadow(type="button", data-attr="calculate") Рассчитать
                .b-calc-group.has-bg(data-attr="CALC_RESULT")
                    .b-calc-body
                        .b-calc-range
                            input#CALC_RANGE(type="range", name="CALC_RANGE", min = 1, max = 6000, value = 450, step = 50, hidden)
                            .b-calc-range-min
                            .b-calc-range-max
                            p.b-calc-range-text Месячный бюджет на рекламу:
                            div(class="js-range", data-target="CALC_RANGE")
                            p.b-calc-range-text <span data-default-rk-budget>450</span> BYN
                        .b-calc-result
                            span.text-style.text-style-danger ≈ через <span data-total-time>150</span> дней
                            +tooltip('Деньги за создание рекламной кампании возвращаются единоразово. 50% стоимости разработки контекстной рекламы можно получить, потратив половину рассчитанного бюджета.')
                        p.
                            вы получите 100% кэшбек за разработку и настройку рекламных кампаний,<br> потратив в общей сложности <span class="text-style text-style-warning"><span data-total-price>XXXX</span> BYN</span> на рекламу.
<!--end section `Калькулятор расчета PK`-->