<!--section `Профессиональная настройка `-->
+section("b-control is_dark", "Профессиональная настройка<br> рекламной кампании сэкономит ваш бюджет", "Сравнение показателей эффективности на примере одной рекламной кампании (РК) в Яндекс.Директе<br> на примере автомобильной тематики", "CONTROL")
    .b-control-group.b-control-group-prices.has-bg
        .inner
            .b-row
                .b-row__col
                    .b-control-price
                        .b-control-price-head
                            p 150 BYN
                        .b-control-price-body
                            p Оцененная экспертами Webcom сумма за разработку РК в Яндекс.Директе
                .b-row__col
                    .b-control-price
                        .b-control-price-head
                            p 700 BYN
                        .b-control-price-body
                            p Месячный бюджет на рекламу
                .b-row__col
                    .b-control-price
                        .b-control-price-head
                            p 0,62 BYN
                        .b-control-price-body
                            p Средняя цена за клика в Яндекс. Директе в тематике Автомобили*
    .b-control-group
        // Start block: tools
        .b-tools
            .b-tools__container
                .b-tools__items.b-items
                    .b-items__item.b-items__item--col-2.b-item
                        .b-item__header
                            .b-item__header-icon
                                svg
                                    use(href='img/sprite-diff.svg#Human-hearing')
                            .b-item__header-wrap
                                h3.b-item__title.b-item__title--upper Самостоятельная настройка
                        .b-item__body
                            ul.b-item__list.b-item__list--line.b-list
                                li.b-list__item.b-list__item--marker 
                                    p Стоимость разработки РК — 
                                        span.text-medium 0 BYN
                                li.b-list__item.b-list__item--marker 
                                    p Количество кликов в месяц — 
                                        span.text-medium 1129
                                li.b-list__item.b-list__item--marker 
                                    p Цена за клик — 
                                        span.text-medium 0,62 BYN
                                li.b-list__item.b-list__item--marker 
                                    p Месячный бюджет на рекламу — 
                                        span.text-medium 700 BYN 
                    .b-items__item.b-items__item--col-2.b-item
                        .b-item__header
                            .b-item__header-icon
                                svg
                                    use(href='img/sprite-diff.svg#cogwheel')
                            .b-item__header-wrap
                                h3.b-item__title.b-item__title--upper Профессиональная настройка
                        .b-item__body
                            ul.b-item__list.b-item__list--line.b-list
                                li.b-list__item.b-list__item--marker 
                                    p Стоимость разработки РК — 
                                        span.text-medium.text-color 150 BYN
                                li.b-list__item.b-list__item--marker 
                                    p Количество кликов в месяц — 
                                        span.text-medium.text-color 1129
                                li.b-list__item.b-list__item--marker 
                                    p Цена за клик — 
                                        span.text-medium.text-color 0,51 BYN
                                li.b-list__item.b-list__item--marker 
                                    p Месячный бюджет на рекламу — 
                                        span.text-medium.text-color 576 BYN 
        // End block: tools

    .b-control-group.has-bg
        .inner
            p.text-medium.text-center Благодаря профессиональной настройке вы экономите на каждом клике <span class="text-color">0,11 BYN.</span> Соответственно, 1129 кликов в месяц вам обойдутся <span  class="text-color">на 124 BYN дешевле, а в год экономия составит 1490 BYN</span>. Эту экономию вы получите всего за 150 BYN (профессиональная настройка). Вы сможете компенсировать эту стоимость уже через <span  class="text-color">37 дней</span>. Мнимая экономия денег за профессиональную разработку в итоге приводит к неэффективной трате денег на рекламу и времени на разработку.
            p.text-center
                small *На основании исследования клиентов по автомобильной тематике в Беларуси
<!--end section `Профессиональная настройка `-->