<!--section FRAME_6-->
+section("s-frame-6 is_dark", "Мы не берем процентов за пополнение рекламных кабинетов", "и предлагаем лучшие условия на рынке по пополнению рекламных кабинетов. <a href='#'>Узнать подробнее</a>", "FRAME_6")
    .inner
<!--end section FRAME_6-->