<!--section FRAME_5-->
- var items = [{icon: "Settings", desc: "Настраивайте рекламу сами, а рекламные кабинеты пополняйте через  Webcom Group <span class='text-medium'>без комиссий</span>"}, {icon: "business", desc: "Все ранее созданные рекламные кампании мы готовы передать <span class='text-medium'>вам в собственность бесплатно</span>"}, {icon: "Youtube", desc: "Вы получите доступ на 3 месяца к видеоинструкциям по созданию и настройке КР <span class='b-tooltip' data-title='Контекстная реклама'><svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7.62549 4.5C7.62549 5.05228 8.07324 5.5 8.62549 5.5C9.17773 5.5 9.62549 5.05228 9.62549 4.5C9.62549 3.94772 9.17773 3.5 8.62549 3.5C8.07324 3.5 7.62549 3.94772 7.62549 4.5Z' fill='#009731'></path><path d='M9.30664 11.9573C8.96338 12.3191 8.53516 12.5 8.02051 12.5C7.50635 12.5 7.10059 12.3844 6.80371 12.1533C6.51807 11.9221 6.375 11.6206 6.375 11.2487C6.375 11.1181 6.46631 10.5704 6.64941 9.60553L7.21484 6.90704H6.49512L6.5293 6.63568H7.2666C8.1123 6.63568 8.73486 6.60553 9.13477 6.54523L9.375 6.5L8.19238 12.1985C8.53516 12.1683 8.8208 12.0276 9.04932 11.7764L9.30664 11.9573Z' fill='#009731'></path><path fill-rule='evenodd' clip-rule='evenodd' d='M0 8C0 12.4183 3.58154 16 8 16C12.4185 16 16 12.4183 16 8C16 3.58172 12.4185 0 8 0C3.58154 0 0 3.58172 0 8ZM8 15C4.13379 15 1 11.866 1 8C1 4.13401 4.13379 1 8 1C11.8662 1 15 4.13401 15 8C15 11.866 11.8662 15 8 15Z' fill='#009731'></path></svg></span> <span class='text-medium'>от сертифицированных тренеров Яндекс и Google!</span>"}]

+section("s-suggest", "Хотите самостоятельно вести рекламные кампании?", "Наше предложение для вас:", "FRAME_5")
    .inner
        .b-suggest
            ul.b-suggest-list
                each item in items
                    li.b-suggest-item
                        .b-suggest-card
                            .b-suggest-card-img
                                svg(class="")
                                    use(href=`img/sprite-diff.svg#${item.icon}`)
                            p.b-suggest-card-text !{item.desc}
            .b-suggest-footnote
                |Узнайте о всех бонусах предложения 
                a(href="#") по ссылке
<!--end section FRAME_5-->