<!--section PROGRAMS_V_1-->
- var items = [{title: "Вариант 1: Возврат денег за разработку и настройку рекламной кампании", desc: "<p>В этом варианте помимо бюджета на клики вы сразу оплачиваете стоимость профессиональной разработки и настройки рекламных кампаний. Однако, через согласованный период времени сотрудничества (примерно 5-7 месяцев), вам возвращаются вся сумма создания на рекламный аккаунт.</p><p>При этом вы не ограничены в сумме бюджета на рекламу, количестве рекламных кампаний</p>"}, {title: "Вариант 2: БЕСПЛАТНАЯ РАЗРАБОТКА и НАСТРОЙКА РЕКЛАМНОЙ КАМПАНИИ", desc: "<p>Вы с первого дня сотрудничества не оплачиваете стоимость разработки рекламных кампаний вне зависимости от их количества в системе, а также дальнейшую оптимизацию.<p>Предложение действительно при бюджете от 600 BYN*  в одной из систем: Google, Яндекс, ВКонтакте, MyTarget.</p><p class='danger'>Ограничение: до 4х рекламных кампаний в одной системе</p>"}, {title: "Вариант 3: БЕСПЛАТНАЯ РАЗРАБОТКА И НАСТРОЙКА РЕКЛАМНОЙ КАМПАНИИ", desc: "<p>Вы с первого дня сотрудничества не оплачиваете стоимость разработки рекламных кампаний вне зависимости от их количества в системе. </p><p>Предложение действительно при бюджете от 4000 BYN* в одной из систем: Google, Яндекс, ВКонтакте, MyTarget или в сумме во всех, а также действует от 3-х месяцев сотрудничества.</p>"}]

+section("s-prog-1", "Получите профессиональную настройку рекламных кампаний бесплатно", "Для этого <span class='is-warning'>выберите один из вариантов</span> сотрудничества:", "PROGRAMS_V_1")
    .inner
        .b-options
            ul.b-options__list.b-row
                each item, index in items
                    li.b-options__item.b-row__col
                        .b-options__head
                            h3.b-options__title
                                if index === 0
                                    +tooltip("Время возврата стоимости создания зависит от суммы за создание и бюджета на рекламу и примерно составит – от 5 до 7 месяцев. С помощью специального калькулятора мы посчитаем точное время. Предложение действует в любой системе: Google, Яндексе, ВКонтакте, MyTarget.")
                                | #{item.title}
                        .b-options__body !{item.desc}
                        .b-options__footer
                            a.b-options__link.js-anchor(href="#VAR" data-target=`${index}`) Пример расчета
                            button.b-options__btn Выбрать
            .b-options__footnote * Бюджет указан без учета НДС
    .s-prog-1__info
        .inner
            <svg class="s-prog-1__info-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" stroke="#00B9FF" stroke-width="2"/>
                <circle cx="16" cy="10" r="2" fill="#00B9FF"/>
                <path d="M13 15C13 14.4477 13.4477 14 14 14H17C17.5523 14 18 14.4477 18 15V16H14C13.4477 16 13 15.5523 13 15Z" fill="#00B9FF"/>
                <rect x="13" y="22" width="6" height="2" rx="1" fill="#00B9FF"/>
                <rect x="14" y="16" width="4" height="6" fill="#00B9FF"/>
            </svg>
            p.s-prog-1__info-text 
                | Предложение действительно <span class="danger text-medium">только для новых клиентов!</span> В рамках программы все услуги предоставляются на бессрочный период, но воспользоваться программой можно  только <span class="danger text-medium">до конца 2019 года.</span>  В программе могут принимать участие <span class="danger text-medium">не более 50 компаний в месяц.</span> <a href="#">Подробности уточняйте у менеджера.</a>
<!--end section PROGRAMS_V_1-->