<!--section SETTINGS_V_1-->
+section("s-settings is_dark", title, desc, "SETTINGS")
    .inner
        .b-settings
            h3.b-settings__title Корректная настройка рекламной кампании позволит:
            .b-settings__body
                <ul><li><p><b>Расходовать бюджет рекламной кампании на конкретные переходы и показывать рекламу только заинтересованной в покупке  аудитории.</b>  Мы не  расходуем рекламные бюджеты, а в первую очередь решаем клиентские бизнес-задачи</p></li><li><p><b>Привлечь на сайт больше целевой аудитории (ЦА) в необходимом вам регионе.</b> Благодаря накопленному опыту и экспертизе работы в ключевых отраслях, знаем где найти ЦА, когда кажется, что протестированы уже все каналы и инструменты.</p></li><li><p><b>Уменьшить стоимость клика на 15-60%.</b> Мы используем современные технологии для оптимизации рекламных кампаний.</p></li><li><p><b>Повысить CTR (кликабельность объявлений) до 60%.</b> Наши специалисты имеют доступ  к не задокументированным возможностям рекламных систем, что доказывают всевозможные сертификации и можем гарантировать достижение поставленных KPI</p></li><li><p><b>Показывать рекламные объявления в необходимое для Вас время.</b> На основании опыта продвижения бизнесов различных тематик мы точно знаем, в какое время объявление  увидят ваши потенциальные клиенты и используем для этого точные настройки таргетинга.</p></li></ul>
<!--end section SETTINGS_V_1-->
