<!--section STATS-->
+section("s-stats", "клиенты, которые уже успешно пользуются программой с момента запуска ", desc, "STATS")
    .inner
        .b-stats
            .b-stats-img
                img(src="img/kr/stats.svg", alt="stats")
<!--end section STATS-->
