<!--section SUMM_V_1-->
- var items = [{title: "разработка и настройка рекламной кампании", desc: "оплачивается только в первый месяц"}, {title: "рекламный бюджет", desc: "зачисляется в рекламные системы"}, {title: "оптимизация<br> кампании", desc: "оплачивается ежемесячно компании"}, {title: "ИТОГОВАЯ СТОИМОСТЬ РЕКЛАМНОЙ КАМПАНИИ", desc: ""}]
+section("s-summ-1", "давайте сперва рассмотрим, как формируется стоимость услуги контекстной рекламы:", desc, "SUMM_V_1")
    .inner
        .b-summ
            ul.b-summ-list
                each item, index in items
                    li.b-summ-item
                        .b-summ-card(class=(index === items.length - 1)?"b-summ-card-total":null)
                            if index === items.length - 1
                                img.b-summ-card-img(src="img/kr/Money.svg", alt="webcom")
                                h5.b-summ-card-title #{item.title}
                            else
                                .b-summ-card-head
                                    h5.b-summ-card-title
                                        span !{item.title}
                                        if index === 2
                                            +tooltip("Это корректировка стратегии продвижения, исходя из полученных результатов запуска кампании с целью повышения эффективности рекламы за счет:анализа поведения пользователей; отключения неэффективных инструментов, объявлений,  площадок, таргетингов и креативов; корректировки ставок рекламныхкампаний.")
                                .b-summ-card-body
                                    p.b-summ-card-text #{item.desc}
                                    img.b-summ-card-img(src=(index===1)?"img/kr/summ-social.svg":"images/logo.svg", alt="webcom")
<!--end section SUMM_V_1-->