<!--section !Pop-up_v_1-->
- var pop1 = [{icon: "banknote", txt: "<span class='text-medium'>Вы вносите оплату за разработку рекламной компании —</span><span class='text-color text-medium'> 225 BYN*</span> и наши специалисты разрабатывают её учетом всех Ваших пожеланий"}, {icon: "Moneybag", txt: "<span class='text-medium'>Вы вносите  бюджет на рекламу — </span><span class='text-color text-medium'> 1680 BYN*</span> (280 BYN/месяц в течении 6 месяцев)"}, {icon: "Purse", txt: "<span class='text-medium'>Получаете возврат денег на Ваш рекламный аккаунт —</span><span class='text-color text-medium'> +225 BYN*</span> через 6 месяцев"}]
- var pop2 = [{icon: "Purse", txt: "Наши специалисты создают рекламные кампании с учетом ваших пожеланий, при этом <span class='text-medium'>стоимость за создание составляет —</span><span class='text-color text-medium'> 0 BYN</span>"}, {icon: "Moneybag", txt: "В первый месяц <span class='text-medium'>весь бюджет —</span><span class='text-color text-medium'> 750 BYN*</span> вы расходуете только на клики"}, {icon: "banknote", txt: "Со следующего месяца вы платите за оптимизацию рекламной кампаний, в данном случае <span class='text-medium'>сумма за сопровождение составит 5% от бюджета на клики</span> — <span class='text-color text-medium'>35,7 BYN*</span>"}]
- var pop3 = [{icon: "Purse", txt: "Наши специалисты создают рекламные кампании с учетом ваших пожеланий, при этом <span class='text-medium'>стоимость за создание составляет —</span><span class='text-color text-medium'> 0 BYN</span>"}, {icon: "Moneybag", txt: "<span class='text-medium'>Весь бюджет —</span><span class='text-color text-medium'> 4000 BYN*</span> вы расходуете только на клики"}, {icon: "banknote", txt: "На основе результатов конверсии, наши специалисты оптимизируют рекламные кампании. В данном случае  <span class='text-medium'>стоимость оптимизации составляет всего —</span><span class='text-color text-medium'> 10 BYN*</span> (при бюджете 4000 BYN*)"}]
- var VARS_TITLES = [{title: "<span class='text-medium'>Пример 1-го варианта:</span> возврат ДЕНеГ ЗА Разработку И НАСТРОЙКУ  РЕКЛАМной кампании В ЯНДЕКСЕ", desc: "Предположим, разработку рекламной кампании в Яндексе наши сотрудники оценили в 225 BYN. В таком случае для возврата этой суммы ежемесячный расход на рекламу должен составлять не меньше 280 BYN в течение 6 месяцев"}, {title: "<span class='text-medium'>Пример 2-го варианта:</span> как сэкономить 100% стоимости профессиональной разработки и настройки рекламной кампании в яндексе", desc: "Предположим, что Ваш бюджет на рекламу составляет 750 BYN"}, {title: "<span class='text-medium'>Пример 3-го варианта:</span> как сэкономить 100% стоимости разработки и настройки рекламной кампании в яндексе", desc: "Предположим, что Ваш бюджет на рекламу составляет 4000 BYN"}]
- var VARS = [pop1, pop2, pop3]

+section('s-var is_dark', title, desc, "VAR")
    .inner
        .b-vars
            .b-vars-slider.owl-carousel
                each VAR, index in VARS
                    .b-vars-slider-item(data-attr=`var${index}`)
                        h2.s-section__title !{VARS_TITLES[index].title}
                        p.s-section__desc !{VARS_TITLES[index].desc}
                        .b-var
                            ul.b-var-list
                                each item, index in VAR
                                    li.b-var-item
                                        .b-var-card
                                            if index === 1
                                                .blink
                                            .b-var-card-img
                                                svg(class="")
                                                    use(href=`img/sprite-diff.svg#${item.icon}` class=item.icon)
                                            p.b-var-card-text 
                                                | !{item.txt}
                                                if index === 2
                                                    +tooltip("Время возврата стоимости создания зависит от суммы за создание и бюджета на рекламу и примерно составит – от 5 до 7 месяцев. С помощью специального калькулятора мы посчитаем точное время. Предложение действует в любой системе: Google, Яндексе, ВКонтакте, MyTarget.")
            p.b-vars-footnote 
                span.text-color *&nbsp;
                | Бюджет указан без учета НДС
<!--end section !Pop-up_v_1-->
