/*<!--Калькулятор суммы платежа-->*/
%main-bg {
    background: #FFFFFF;
}

.s-self-calc {
    background: url(../img/selfcontrol/bg-calc.jpg) no-repeat top center/cover;
    text-align: center;

    p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: getrem(17px);
        line-height: 129%;
        color: #595959;
        margin-top: 0;
        margin-bottom: getrem(16px);

        span {
            color: #FF9800;
        }
    }

    &-footer {
        margin-top: getrem(26px);

        p {
            margin-top: getrem(26px);
        }

        .b-calc-btn {
            display: inline-block;
            text-decoration: none;
        }
    }
}

.b-self-calc {
    box-shadow: 0px 4px 12px rgba(183, 183, 183, 0.32);

    &-form {
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        label {
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: getrem(17px);
            line-height: 129%;
            margin-bottom: getrem(18px);
        }

        input {
            &[type=text] {
                display: block;
                width: 100%;
                padding: getrem(12px);
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: getrem(18px);
                line-height: 133%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #595959;
                background: #F6F6F6;
                border: 1px solid #ADB9C0;
                box-sizing: border-box;
                box-shadow: 0px 3px 6px rgba(192, 204, 211, 0.63);
                border-radius: 4px;

                &.b-self-calc-result {
                    color: #E2291C;
                }
            }
        }

        &-group {
            $gap: 24px;
            display: flex;
            flex-wrap: wrap;
            margin-left: getrem($gap / - 2);
            margin-right: getrem($gap / - 2);

            &>*,
            fieldset {
                flex: 1 1 0;
                max-width: 100%;
                padding-left: getrem($gap / 2);
                padding-right: getrem($gap / 2);

                &.is-flex-auto {
                    flex: 0 0 auto;
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }

    &-head {
        @extend %main-bg;
        border-radius: 8px 8px 0 0;
        padding: getrem(32px) 0 0;

        input {
            &[type=text] {
                max-width: getrem(278px);
                color: #1C1C1C;
                background: #FFFFFF;
                border: 1px solid #EFF2F7;
                box-sizing: border-box;
                border-radius: 4px;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
                margin-left: auto;
                margin-right: auto;
                margin-bottom: getrem(16px);
            }
        }
    }

    &-body {
        @extend %main-bg;
        border-radius: 0 0 8px 8px;
        padding: getrem(32px);
    }

    &-list {
        display: flex;
        flex-wrap: wrap;

        &>* {
            flex: 1 1 0%;
            max-width: 100%;
        }
    }

    &-item {
        border-bottom: 4px solid #EDF3F8;
        padding-bottom: getrem(16px);
        transition: all 0.6s;

        label {
            display: block;
            width: 100%;
            position: relative;
            padding-bottom: percentage(56 / 193);
            margin: 0;
            cursor: pointer;

            input {
                position: absolute;
                clip: rect(0 0 0 0);
                width: 1px;
                height: 1px;
                margin: -1px;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                max-width: 100%;
            }

            .img-group {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translate(0, -50%);
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;

                img {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                }

                &-item {
                    flex: 1 1 0%;
                    max-width: 100%;
                    padding-left: getrem(6px);
                    padding-right: getrem(6px);

                    &+.img-group-item {
                        border-left: 1.25px solid #C0CCD3;
                    }
                }
            }
        }

        &+.b-self-calc-item {
            label {
                border-left: 2px solid #EDF3F8;
            }
        }

        &.is-active {
            border-color: #00B9FF;
        }
    }
}