- var items = [{icon: {count: "185+", text: "employees"}, desc: "who skillfully own the tools of internet marketing"},{icon: {count: "30", text: "conferences"}, desc: "with the total number of participants from 100 to 1500"},{icon: {count: "19+", text: "years"}, desc: "we stand at the origins of Internet marketing in the CIS"},{icon: {count: "3", text: "offices"}, desc: " in Belarus, Russia and Kazakhstan"},{icon: {count: "4000+", text: "projects"}, desc: "from various business areas"},{icon: {count: "9", text: "experts"}, desc: "teachers in the staff of Google and Yandex"}]

.inner
    .b-about
        ul.b-about__list.js-about-slider
            each item, index in items
                li.b-about__item.item
                    .b-about__icon
                        p.b-about__data
                            span.count(class=(index===4? 'count-sm':''))=item.icon.count
                            span.text=item.icon.text
                    p.b-about__text=item.desc

.s-about-desc
    .inner
        p.s-about-desc__text.
            Webcom International team has worked for many years with projects from completely different business spheres: promotion of services, output of products to new markets (America, Asia, Europe and CIS), content resources, B2B and B2C projects and promotion.