section.s-section.s-banner.is_dark
    .inner
        h2.s-section__title.s-banner__title 
            | WEBCOM - RELIABLE PARTNER ON THE WAY TO THE CIS MARKETS
        p.s-banner__desc We offer bespoke solutions for your business
        .b-btn-group
            a.b-btn.b-btn-prime.js-anchor(href="#ASK_FORM") Get proposal
        p.s-banner__note CIS countries: Azerbaijan, Armenia, Belarus, Kazakhstan, Kyrgyzstan, Moldova, Russia, Tajikistan, Turkmenistan, Uzbekistan and Ukraine.