- var items = [{icon: {count: "185+", text: "Competitor Analysis"}, desc: "Before offering you a ready-made strategy of promotion in the market, we will conduct a detailed analysis of the current situation on the Internet of the selected region and assess the strengths and weaknesses of key market players. This will allow you to avoid costly mistakes when entering a new market."},{icon: {count: "30", text: "Site preparation"}, desc: "We will conduct a detailed analysis of the sources of attracting customers and the site as a whole. Determine how the site is adapted for promotion on the Internet. We will determine the most effective advertising channels that bring more buyers to the site and identify errors that hinder the achievement of the desired business results."},{icon: {count: "19+", text: "Audience analysis"}, desc: "We will set up advertising campaigns for contextual advertising, taking into account regional features and limitations. Thus, the detailed statistics of contextual advertising will show you in real numbers, \"who breathes what\" in the region and will help to objectively assess your chances for success."},{icon: {count: "3", text: "Comprehensive promotion"}, desc: "Having studied the audience in the region and identifying effective advertising channels, we will launch a comprehensive promotion strategy with an optimal set of digital marketing tools aimed at increasing the presence of business in the network and sales growth."}]

.inner
    .b-collapse
        ul.b-collapse__list
            each item, index in items
                li.b-collapse__item
                    h5.b-collapse__title.b-collapse__toggle(class=(index===0?"is-active":false), data-toggle)=item.icon.text
                    .b-collapse__block(class=(index===0?"is-active":false), data-attr="tab")
                        p.b-collapse__text=item.desc
.s-drive-business-desc
    .inner
        .s-drive-business-desc__row
            .s-drive-business-desc__icon
                svg(class="")
                    use(href=`img/sprite-diff.svg#like`)
            p.s-drive-business-desc__text.
                When ordering business promotion services in the CIS market at Webcom International, you will receive not only a well-formed and prepared strategy for online activities, but also business advice on creating a legal entity abroad, registration details and contact information and other useful information.