// Start block: prime
section.b-prime.wrap-bg
    .b-prime__container
        h1.b-prime__title Решаем задачи бизнеса
        p.b-prime__desc с помощью инструментов интернет-маркетинга с прицелом на измеримый результат
        ul.b-prime__items
            li.b-prime__item
                p.b-prime__count
                    | 100
                    sup +
                p.b-prime__text сотрудников, искусно владеющих инструментами интернет-маркетинга
            li.b-prime__item
                p.b-prime__count 30
                p.b-prime__text организованных конференций с количеством участников от 100 до 1500
            li.b-prime__item
                p.b-prime__count
                    | 19
                    sup +
                p.b-prime__text плодотворных лет на рынке performance-маркетинга
            li.b-prime__item
                p.b-prime__count 3
                p.b-prime__text офиса Webcom: в Беларуси, России и Казахстане
            li.b-prime__item
                p.b-prime__count
                    | 4000
                    sup +
                p.b-prime__text успешно реализованных проектов из различных сфер бизнеса
            li.b-prime__item
                p.b-prime__count 8
                p.b-prime__text преподавателей Google и Яндекс в штате (всего 15 в Беларуси)
        // <a class="b-prime__link" href="/files/files/Presentation_Webcom-Group.pdf" target="_self" data-pdf-preview="data-pdf-preview"><i class="b-prime__icon"><svg class="sp-prime-default-icons_pdf"> <use xlink:href="/landing-page/index/images/prime/default/sprites/icons.svg#pdf"></use></svg></i>смотреть презентацию</a>
        // End block: prime
section.b-prime.b-prime--white
    .b-prime__container.b-prime__container--thin
        a.b-prime__link(href='images/presentation_webcomperformance.pdf', target='_blank')
            i.b-prime__icon
                svg.sp-prime-default-icons_pdf
                    use(xlink:href='images/icons-2.svg#pdf')
            | смотреть презентацию
// Start block: discomfort
section.b-discomfort.b-discomfort--img-discomfort-dark
    .b-discomfort__container
        h2.b-discomfort__title Столкнулись со следующими трудностями?
        ul.b-discomfort__items
            li.b-discomfort__item.b-discomfort__item--br-right.b-item
                i.b-item__icon
                    svg.sp-discomfort-default-icons_user
                        use(xlink:href='images/icons-3.svg#user')
                p.b-item__desc Есть сайт, а клиентов с него нет?
            li.b-discomfort__item.b-discomfort__item--br-left.b-item
                i.b-item__icon
                    svg.sp-discomfort-default-icons_picker
                        use(xlink:href='images/icons-3.svg#picker')
                p.b-item__desc Переходы есть, а заявок с сайта нет?
            li.b-discomfort__item.b-discomfort__item--attention.b-item
                p.b-item__desc Хотите рекламу в интернете, но не знаете с чего начать?
            li.b-discomfort__item.b-discomfort__item--br-right.b-item
                i.b-item__icon
                    svg.sp-discomfort-default-icons_horn
                        use(xlink:href='images/icons-3.svg#horn')
                p.b-item__desc Нужно повысить узнаваемость нового бренда?
            li.b-discomfort__item.b-discomfort__item--br-left.b-item
                i.b-item__icon
                    svg.sp-discomfort-default-icons_mechanism
                        use(xlink:href='images/icons-3.svg#mechanism')
                p.b-item__desc Реклама крутится, но не знаете, насколько эффективно?
// End block: discomfort
// Start block: cards
section.b-cards.b-cards--gr-light
    .b-cards__container
        h2.b-cards__title Мы знаем, как решить ваши задачи!
        ul.b-cards__items.js-carousel(data-tablet-carousel='{"loop": false, "nav": false, "dots": true, "items": 3, "autoHeight": false}', data-mobile-carousel='{"loop": false, "nav": false, "dots": true, "items": 1, "autoHeight": false}', style='margin: 0 auto;')
            li.b-cards__item.b-cards__item--dark.b-item
                i.b-item__icon
                    img(src='images/analytics.svg')
                p.b-item__desc
                    strong Анализ конкурентов
                p.b-item__desc
                    | Мы проведем детальный анализ текущей ситуации в интернете и оценим сильные и слабые
                    | стороны ключевых игроков рынка
            li.b-cards__item.b-cards__item--blue.b-item
                i.b-item__icon
                    img(src='images/programming.svg')
                p.b-item__desc
                    strong Подготовка сайта
                p.b-item__desc
                    | Мы проведем детальный анализ сайта в целом. Определим, адаптирован ли сайт для
                    | продвижения в интернете и выявим ошибки, препятствующие достижению желаемых бизнес-результатов
            li.b-cards__item.b-cards__item--dark.b-item
                i.b-item__icon
                    img(src='images/icon_03-02.svg')
                p.b-item__desc
                    strong Анализ аудитории
                p.b-item__desc
                    | Мы определим наиболее эффективные рекламные каналы, которые привлекают больше целевой
                    | аудитории на сайт
            li.b-cards__item.b-cards__item--blue.b-item
                i.b-item__icon
                    img(src='images/icon.svg')
                p.b-item__desc
                    strong Комплексное продвижение
                p.b-item__desc
                    | Изучив аудиторию, определив эффективные рекламные каналы, мы подготовим комплексную
                    | стратегию продвижения с оптимальным набором инструментов цифрового маркетинга, нацеленную на увеличение
                    | присутствия бизнеса в сети и рост продаж
// End block: cards
// Start block: arsenal
section.b-arsenal.b-arsenal--img-abstraction-dark
    .b-arsenal__container
        h2.b-arsenal__title
            | Для комплексного продвижения бизнеса мы будем использовать микс инструментов
            | digital-маркетинга
        // <p class="b-arsenal__desc">искуссно владеем инструментами в сфере интернет маркетинга для решения ваших бизнес-задач</p>
        .b-arsenal__items.b-arsenal__items--opacity.js-carousel(data-desktop-carousel='{"loop": true, "nav": true, "dots": false, "items": 8, "autoHeight": false}', data-tablet-big-carousel='{"loop": true, "nav": false, "dots": true, "items": 6, "autoHeight": false}', data-tablet-carousel='{"loop": true, "nav": false, "dots": true, "items": 5, "autoHeight": false}', data-mobile-carousel='{"loop": true, "nav": false, "dots": true, "items": 2, "autoHeight": false}')
            a.b-arsenal__item.b-item(href='index-10.html', target='_blank', aria-label='Контекстная реклама')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_chat
                        use(xlink:href='images/icons-4.svg#chat')
                p.b-item__desc Контекстная реклама
            a.b-arsenal__item.b-item(href='index-9.html', target='_blank', aria-label='Поисковый маркетинг')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_search-user
                        use(xlink:href='images/icons-4.svg#search-user')
                p.b-item__desc Поисковый маркетинг
            //
                <a class="b-arsenal__item b-item" href="/services/context-advert/samoupravlenie/" target="_blank" aria-label="Самостоятельное ведение рекламы"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_target-bag"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#target-bag"></use></svg></i><p class="b-item__desc">Самостоятельное ведение рекламы</p>
                </a>
            a.b-arsenal__item.b-item(href='index-20.html', target='_blank', aria-label='Видеореклама в интернете')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_movie
                        use(xlink:href='images/icons-4.svg#movie')
                p.b-item__desc Видеореклама в интернете
            a.b-arsenal__item.b-item(href='index-12.html', target='_blank', aria-label='Реклама в социальных сетях')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_user
                        use(xlink:href='images/icons-4.svg#user')
                p.b-item__desc Реклама в социальных сетях
            a.b-arsenal__item.b-item(href='index-21.html', target='_blank', aria-label='Мобильная реклама')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_mobile
                        use(xlink:href='images/icons-4.svg#mobile')
                p.b-item__desc Мобильная реклама
            a.b-arsenal__item.b-item(href='index-22.html', target='_blank', aria-label='Реклама мобильных приложений')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_mechanism
                        use(xlink:href='images/icons-4.svg#mechanism')
                p.b-item__desc Реклама мобильных приложений
            //
                <a class="b-arsenal__item b-item" href="/services/complex-promotion/" target="_blank" aria-label="Комплексное продвижение"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_checklist"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#checklist"></use></svg></i>
                <p class="b-item__desc">Комплексное продвижение</p>
                </a>
            a.b-arsenal__item.b-item(href='index-23.html', target='_blank', aria-label='Ремаркетинг/ретаргетинг')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_basket
                        use(xlink:href='images/icons-4.svg#basket')
                p.b-item__desc Ремаркетинг/ретаргетинг
            a.b-arsenal__item.b-item(href='index-24.html', target='_blank', aria-label='Веб-аналитика')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_circle
                        use(xlink:href='images/icons-4.svg#circle')
                p.b-item__desc Веб-аналитика
            a.b-arsenal__item.b-item(href='index-25.html', target='_blank', aria-label='Аудит сайта')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_search
                        use(xlink:href='images/icons-4.svg#search')
                p.b-item__desc Аудит сайта
            a.b-arsenal__item.b-item(href='index-26.html', target='_blank', aria-label='Бизнес-консалтинг')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_user-task
                        use(xlink:href='images/icons-4.svg#user-task')
                p.b-item__desc Бизнес-консалтинг
            a.b-arsenal__item.b-item(href='index-27.html', target='_blank', aria-label='Медийная реклама')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_play
                        use(xlink:href='images/icons-4.svg#play')
                p.b-item__desc Медийная реклама
            a.b-arsenal__item.b-item(href='index-28.html', target='_blank', aria-label='Копирайтинг')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_doc
                        use(xlink:href='images/icons-4.svg#doc')
                p.b-item__desc Копирайтинг
            a.b-arsenal__item.b-item(href='http://www.webcom-academy.by/', target='_blank', aria-label='Обучение')
                i.b-item__icon
                    svg.sp-arsenal-default-icons_learn
                        use(xlink:href='images/icons-4.svg#learn')
                p.b-item__desc Обучение
        a.b-arsenal__link(target='_target', href='index-7.html') Все инструменты
// End block: arsenal
// Start block: jalousie
section.b-jalousie.b-jalousie--gr-light
    .b-jalousie__container
        h2.b-jalousie__title Наш 19-летний опыт и экспертиза
        p.b-jalousie__desc
            | позволяют предложить конкретные решения для продвижения бизнесов и услуг в различных
            | сферах
        ul.b-jalousie__items.b-jalousie__items--slider
            li.b-jalousie__item.b-item(style='background-image:url(images/cosmetics.jpg)')
                a.b-item__link(target='_blank', href='index-29.html', aria-label='Красота и здоровье')
                    p.b-item__text.b-item__text--br-left
                        | Красота и 
                        br
                        | здоровье
            li.b-jalousie__item.b-item(style='background-image:url(images/avto.jpg)')
                a.b-item__link(target='_blank', href='index-30.html', aria-label='Автомобильные дилеры')
                    p.b-item__text.b-item__text--br-left
                        | Автомобильные 
                        br
                        | дилеры
            li.b-jalousie__item.b-item(style='background-image:url(images/build.jpg)')
                a.b-item__link(target='_blank', href='index-31.html', aria-label='Строительные организации')
                    p.b-item__text.b-item__text--br-left
                        | Строительные 
                        br
                        | организации
            li.b-jalousie__item.b-item(style='background-image:url(images/furniture.jpg)')
                a.b-item__link(target='_blank', href='index-32.html', aria-label='Мебель и окна')
                    p.b-item__text.b-item__text--br-left
                        | Мебель и 
                        br
                        | окна
            li.b-jalousie__item.b-item(style='background-image:url(images/air.jpg)')
                a.b-item__link(target='_blank', href='index-33.html', aria-label='Туристические услуги')
                    p.b-item__text.b-item__text--br-left
                        | Туристические 
                        br
                        | услуги
            li.b-jalousie__item.b-item(style='background-image:url(images/suit.jpg)')
                a.b-item__link(target='_blank', href='index-34.html', aria-label='Банки и страхование')
                    p.b-item__text.b-item__text--br-left
                        | Банки и 
                        br
                        | страхование
            li.b-jalousie__item.b-item(style='background-image:url(images/lawyer.jpg)')
                a.b-item__link(target='_blank', href='index-35.html', aria-label='Юридические услуги')
                    p.b-item__text.b-item__text--br-left
                        | Юридические 
                        br
                        | услуги
            // <li class="b-jalousie__item b-item" style="background-image:url(/landing-page/index/images/jalousie/default/notebook.jpg)">
            // <a class="b-item__link" target="_blank" href="#" aria-label="Рекламные агентства">
            // <p class="b-item__text b-item__text--br-left">Рекламные <br/>агентства</p>
            // </a>
            // </li>
            li.b-jalousie__item.b-item(style='background-image:url(images/coffee.jpg)')
                a.b-item__link(target='_blank', href='index-36.html', aria-label='Рестораны и кафе')
                    p.b-item__text.b-item__text--br-left
                        | Рестораны и 
                        br
                        | кафе
            li.b-jalousie__item.b-item(style='background-image:url(images/medic.jpg)')
                a.b-item__link(target='_blank', href='index-37.html', aria-label='Медицинская тематика')
                    p.b-item__text.b-item__text--br-left
                        | Медицинская 
                        br
                        | тематика
            li.b-jalousie__item.b-item(style='background-image:url(images/house.jpg)')
                a.b-item__link(target='_blank', href='index-38.html', aria-label='Агентства недвижимости')
                    p.b-item__text.b-item__text--br-left
                        | Агентства 
                        br
                        | недвижимости
// End block: jalousie
// Start block: slider-two-row
section.b-slider-two-row.b-slider-two-row--img-card-dark
    .b-slider-two-row__container
        h2.b-slider-two-row__title Среди тысяч наших клиентов
        p.b-slider-two-row__desc в разные годы сотрудничества:
        .b-slider-two-row__items.b-slider-two-row__items--line(data-desktop-count-wrap='12', data-tablet-count-wrap='8', data-tablet-big-count-wrap='10', data-mobile-count-wrap='4')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/vw.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/vw.svg', alt='Logo vw', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/yvesrocher.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/yvesrocher.svg', alt='Logo yvesrocher', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/ivi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ivi.svg', alt='Logo ivi', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belgosstrah.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belgosstrah.svg', alt='Logo belgosstrah', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belarusfilm.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belarusfilm.svg', alt='Logo belarusfilm', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/maz.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/maz.svg', alt='Logo maz', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/xiaomi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/xiaomi.svg', alt='Logo xiaomi', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/evroopt.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/evroopt.svg', alt='Logo evroopt', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/serge.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/serge.svg', alt='Logo serge', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/alutex.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/alutex.svg', alt='Logo alutex', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/megatop.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/megatop.svg', alt='Logo megatop', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/atlant-m.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/atlant-m.svg', alt='Logo atlant-m', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/vegas.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/vegas.svg', alt='Logo vegas', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/mts.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mts.svg', alt='Logo mts', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belavia.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belavia.svg', alt='Logo belavia', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/mersedes.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mersedes.svg', alt='Logo mersedes', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/geely.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/geely.svg', alt='Logo geely', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/velcom.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/velcom.svg', alt='Logo velcom', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/gedeon-richter.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/gedeon-richter.svg', alt='Logo gedeon-richter', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/toyota.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/toyota.svg', alt='Logo toyota', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belinvestbank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belinvestbank.svg', alt='Logo belinvestbank', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/idea-bank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/idea-bank.svg', alt='Logo idea-bank', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/ziko.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ziko.svg', alt='Logo ziko', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/a100.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/a100.svg', alt='Logo a100', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/mitsubishi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mitsubishi.svg', alt='Logo mitsubishi', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/savushkin.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/savushkin.svg', alt='Logo savushkin', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/sportmaster.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/sportmaster.svg', alt='Logo sportmaster', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/loto.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/loto.svg', alt='Logo loto', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/taxi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/taxi.svg', alt='Logo taxi', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/hh.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/hh.svg', alt='Logo hh', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/yurkas.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/yurkas.svg', alt='Logo yurkas', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/bt.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/bt.svg', alt='Logo bt', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/tripl.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tripl.svg', alt='Logo tripl', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/pinskdrev.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pinskdrev.svg', alt='Logo pinskdrev', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/conte.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/conte.svg', alt='Logo conte', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/rublevskii.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/rublevskii.svg', alt='Logo rublevskii', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/tez-tour.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tez-tour.svg', alt='Logo tez-tour', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belagroprombank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belagroprombank.svg', alt='Logo belagroprombank', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/ami.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ami.svg', alt='Logo ami', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/skvirel.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/skvirel.svg', alt='Logo skvirel', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/abw.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/abw.svg', alt='Logo abw', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/synevo.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/synevo.svg', alt='Logo synevo', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/officeton.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/officeton.svg', alt='Logo officeton', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/pro-trade.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pro-trade.svg', alt='Logo pro-trade', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/vneshinturist.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/vneshinturist.svg', alt='Logo vneshinturist', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/metalprofil.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/metalprofil.svg', alt='Logo metalprofil', title='')
            a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                img.b-item__img(src='images/belita-m.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belita-m.svg', alt='Logo belita-m', title='')
        // <a class="b-slider-two-row__link" target="_blank" href="/company/portfolio/">Перейти в портфолио</a></div>
        // End block: slider-two-row
        // Start block: client-history
section.b-client-history.b-client-history--gr-light
    .b-client-history__container
        h2.b-client-history__title Истории успешного сотрудничества
        ul.b-client-history__items.js-carousel(data-desktop-carousel='{"loop": true, "nav": true, "dots": false, "items": 1, "autoHeight": true}', data-tablet-big-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}', data-tablet-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}', data-mobile-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}')
            li.b-client-history__client.b-client-history__client--olive.b-client
                .b-client__head
                    .b-client__logo
                        svg.sp-client-history-default-logos_logo-yvesrocher
                            use(xlink:href='images/logos.svg#logo-yvesrocher')
                    h2.b-client__title Ив роше
                picture.b-client__picture
                    source(srcset='/landing-page/index/images/client-history/default/yvesrocher.webp 1x, /landing-page/index/images/client-history/default/yvesrocher@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
                    source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
                    img.b-client__img(src='images/yvesrocher.jpg', srcset='/landing-page/index/images/client-history/default/yvesrocher@2x.jpg', alt='Yvesrosher', title='')
                ul.b-client__list
                    li.b-client__item
                        h3.b-client__subtitle Проблемы, с которыми пришел клиент:
                        ul.b-client__problems.b-problems
                            li.b-problems__item.b-problems__item--br-left
                                | Небольшое количество переходов с контекстной
                                | рекламы
                            li.b-problems__item.b-problems__item--br-left
                                | Уход посетителя с сайта без совершения целевого
                                | действия (покупки/звонка)
                            li.b-problems__item.b-problems__item--br-left Низкая осведомленность об акциях и скидках
                    li.b-client__item
                        h3.b-client__subtitle Что мы предприняли:
                        p.b-client__paragraph
                            | Настроили сценарии - показы специфических рекламных сообщений для
                            | пользователей, совершивших определенное действие на сайте
                    li.b-client__item
                        h3.b-client__subtitle Результат:
                        ul.b-client__result.b-result
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_mol
                                        use(xlink:href='images/result.svg#mol')
                                p.b-result__text
                                    | Количество переходов 
                                    b +75%
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_users
                                        use(xlink:href='images/result.svg#users')
                                p.b-result__text
                                    | Количество вернувшихся пользователей 
                                    b +10%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_graf
                                        use(xlink:href='images/result.svg#graf')
                                p.b-result__text
                                    | Стоимость перехода 
                                    b -30%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_monitor
                                        use(xlink:href='images/result.svg#monitor')
                                p.b-result__text
                                    | Конверсия 
                                    b +21%
            li.b-client-history__client.b-client-history__client--crimson.b-client
                .b-client__head
                    .b-client__logo
                        svg.sp-client-history-default-logos_logo-megatop
                            use(xlink:href='images/logos.svg#logo-megatop')
                    h2.b-client__title Мегатоп
                picture.b-client__picture
                    source(srcset='/landing-page/index/images/client-history/default/megatop.webp 1x, /landing-page/index/images/client-history/default/megatop@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
                    source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
                    img.b-client__img(src='images/megatop.jpg', srcset='/landing-page/index/images/client-history/default/megatop@2x.jpg', alt='Megatop', title='')
                ul.b-client__list
                    li.b-client__item
                        h3.b-client__subtitle Проблема, с которой пришел клиент:
                        ul.b-client__problems.b-problems
                            li.b-problems__item.b-problems__item--br-left
                                | Низкая осведомленность пользователей о новых
                                | товарах, скидках.
                    li.b-client__item
                        h3.b-client__subtitle Что мы предприняли:
                        p.b-client__paragraph
                            | Оптимизировали продвигаемые страницы согласно ключевым фразам: написали
                            | тексты, составили заголовки.
                    li.b-client__item
                        h3.b-client__subtitle Результат:
                        ul.b-client__result.b-result
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_mol
                                        use(xlink:href='images/result.svg#mol')
                                p.b-result__text
                                    | Количество посещений раздела «Магазины» 
                                    b +42%
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_users
                                        use(xlink:href='images/result.svg#users')
                                p.b-result__text
                                    | Количество новых пользователей 
                                    b +39%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_graf
                                        use(xlink:href='images/result.svg#graf')
                                p.b-result__text
                                    | Рост трафика из поисковых систем 
                                    b +43%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_monitor
                                        use(xlink:href='images/result.svg#monitor')
                                p.b-result__text
                                    | Количество посещений 
                                    b +46%
            li.b-client-history__client.b-client-history__client--green.b-client
                .b-client__head
                    .b-client__logo
                        svg.sp-client-history-default-logos_logo-namas-m
                            use(xlink:href='images/logos.svg#logo-namas-m')
                    h2.b-client__title Намас-м
                picture.b-client__picture
                    source(srcset='/landing-page/index/images/client-history/default/namas-m.webp 1x, /landing-page/index/images/client-history/default/namas-m@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
                    source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
                    img.b-client__img(src='images/namas-m.jpg', srcset='/landing-page/index/images/client-history/default/namas-m@2x.jpg', alt='Namas-m', title='')
                ul.b-client__list
                    li.b-client__item
                        h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
                        ul.b-client__problems.b-problems
                            li.b-problems__item.b-problems__item--br-left
                                | Микроконверсии: копирование контактов, просмотр
                                | pdf прайс-листа
                            li.b-problems__item.b-problems__item--br-left Макроконверсии: скачивание pdf прайс-листа
                    li.b-client__item
                        h3.b-client__subtitle Что мы предприняли:
                        p.b-client__paragraph
                            | Запустили тестовую рекламную кампанию, собрали ключевые запросы и
                            | минус-слова, использовали все доступные расширения.
                    li.b-client__item
                        h3.b-client__subtitle Результат:
                        ul.b-client__result.b-result
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_mol
                                        use(xlink:href='images/result.svg#mol')
                                p.b-result__text
                                    | CTR по итогам рекламной кампании в Google 
                                    b 15%
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_users
                                        use(xlink:href='images/result.svg#users')
                                p.b-result__text
                                    | Показы не опускались ниже позиции 
                                    b 2.1
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_graf
                                        use(xlink:href='images/result.svg#graf')
                                p.b-result__text
                                    | Рекламный трафик от всего входящего трафика 
                                    b 13%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_monitor
                                        use(xlink:href='images/result.svg#monitor')
                                p.b-result__text Максимально возможное количество целевых кликов
            li.b-client-history__client.b-client-history__client--orange.b-client
                .b-client__head
                    .b-client__logo
                        svg.sp-client-history-default-logos_logo-xistore
                            use(xlink:href='images/logos.svg#logo-xistore')
                picture.b-client__picture
                    source(srcset='/landing-page/index/images/client-history/default/xistore.webp 1x, /landing-page/index/images/client-history/default/xistore@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
                    source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
                    img.b-client__img(src='images/xistore.jpg', srcset='/landing-page/index//landing-page/index/images/client-history/default/xistore@2x.jpg', alt='Xistore', title='')
                ul.b-client__list
                    li.b-client__item
                        h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
                        ul.b-client__problems.b-problems
                            li.b-problems__item.b-problems__item--br-left Необходимость понять свою целевую аудиторию
                            li.b-problems__item.b-problems__item--br-left Повышение конверсии сайта
                            li.b-problems__item.b-problems__item--br-left
                                | Выработка маркетинговой стратегии для
                                | офлайн-продвижения
                    li.b-client__item
                        h3.b-client__subtitle Что мы предприняли:
                        p.b-client__paragraph
                            | Доработали сайт для запуска рекламы, оптимизировали работу его мобильной
                            | версии. Адаптировали продвижение под интересы целевой аудитории.
                    li.b-client__item
                        h3.b-client__subtitle Результат:
                        ul.b-client__result.b-result
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_mol
                                        use(xlink:href='images/result.svg#mol')
                                p.b-result__text В 17 раз вырос брендовый спрос по названию магазина
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_users
                                        use(xlink:href='images/result.svg#users')
                                p.b-result__text В 2,5 раза выросла конверсия на мобильных устройства
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_graf
                                        use(xlink:href='images/result.svg#graf')
                                p.b-result__text Доля визитов с мобильных устройств выросла до 50%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_monitor
                                        use(xlink:href='images/result.svg#monitor')
                                p.b-result__text 17 магазинов было открыто к декабрю 2018 года
            li.b-client-history__client.b-client-history__client--viridan.b-client
                .b-client__head
                    .b-client__logo
                        svg.sp-client-history-default-logos_logo-eyelash-booster
                            use(xlink:href='images/logos.svg#logo-eyelash-booster')
                picture.b-client__picture
                    source(srcset='/landing-page/index/images/client-history/default/eyelash-booster.webp 1x, /landing-page/index/images/client-history/default/eyelash-booster@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
                    source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
                    img.b-client__img(src='images/eyelash-booster.jpg', srcset='/landing-page/index/images/client-history/default/eyelash-booster@2x.jpg', alt='Eyelash-booster', title='')
                ul.b-client__list
                    li.b-client__item
                        h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
                        ul.b-client__problems.b-problems
                            li.b-problems__item.b-problems__item--br-left Увеличение продаж продукта
                            li.b-problems__item.b-problems__item--br-left Формирование осведомленности о бренде
                            li.b-problems__item.b-problems__item--br-left Формирование потребности и желания покупки
                    li.b-client__item
                        h3.b-client__subtitle Что мы предприняли:
                        p.b-client__paragraph
                            | Выбрали интересы и темы, которые напрямую связаны с косметической
                            | тематикой, расширили таргетинг на косвенные интересы и темы.
                    li.b-client__item
                        h3.b-client__subtitle Результат:
                        ul.b-client__result.b-result
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_mol
                                        use(xlink:href='images/result.svg#mol')
                                p.b-result__text Коэффициент просмотра увеличился в 1,5 раза
                            li.b-result__item
                                .b-result__icon
                                    svg.sp-client-history-default-result_users
                                        use(xlink:href='images/result.svg#users')
                                p.b-result__text Количество переходов на сайт увеличилось в 2 раза
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_graf
                                        use(xlink:href='images/result.svg#graf')
                                p.b-result__text
                                    | Интересы:
                                    br
                                    | CTR = 1,7% VTR = 46,6%
                            li.b-result__item.b-result__item--no-mb
                                .b-result__icon
                                    svg.sp-client-history-default-result_monitor
                                        use(xlink:href='images/result.svg#monitor')
                                p.b-result__text
                                    | Темы:
                                    br
                                    | CTR = 10,3% VTR = 42,8%
// End block: client-history
// Start block: cards
section.b-cards.b-cards--gr-light
    .b-cards__container
        h2.b-cards__title Мелочь, но приятно
        ul.b-cards__items.js-carousel(style='justify-content: center;', data-tablet-carousel='{"loop": false, "nav": false, "dots": true, "items": 3, "autoHeight": false}', data-mobile-carousel='{"loop": false, "nav": false, "dots": true, "items": 1, "autoHeight": false}')
            li.b-cards__item.b-cards__item--dark.b-item
                img.b-item__img(src='images/vk.jpg', alt='Image application vkontakte', title='')
                h3.b-item__title Бонус на рекламу во Вконтакте
                a.b-item__link.b-item__link--btn(href='index-39.html', target='_blank') Подробнее
            li.b-cards__item.b-cards__item--blue.b-item
                img.b-item__img(src='images/present.jpg', alt='Image present', title='')
                h3.b-item__title SEO-аудит в подарок
                a.b-item__link.b-item__link--btn(href='index-40.html', target='_blank') Подробнее
            li.b-cards__item.b-cards__item--dark.b-item
                img.b-item__img(src='images/chrome.jpg', alt='Image logo browser chrome', title='')
                h3.b-item__title Бонус на рекламу в Google
                button.b-item__btn.js-open-pop-up-bonus(type='button', data-file-ajax='index.html') Получить
            //
                <li class="b-cards__item b-cards__item--blue b-item">
                <img class="b-item__img" src="/landing-page/index/images/cards/default/card.jpg" alt="Image card" title="" />
                <h3 class="b-item__title">Бесплатно создадим рекламные кампании</h3>
                <button class="b-item__btn js-open-pop-up-bonus" type="button" data-file-ajax="file2.html">Получить</button>
                </li>
// End block: cards
// Start block: reviews-new
section.b-reviews-new.b-reviews-new--bg-gray
    .b-reviews-new__container.b-reviews-new__container--index
        h2.b-reviews-new__title.b-new-title.b-new-title--upper.b-new-title--white.b-new-title--center
            | Что о нас
            | говорят клиенты
        ul.b-reviews-new__logos.b-logos
            li.b-logos__item
                .b-logos__img.b-logos__img--mtb
            li.b-logos__item
                .b-logos__img.b-logos__img--yves
            li.b-logos__item
                .b-logos__img.b-logos__img--alutex
            li.b-logos__item
                .b-logos__img.b-logos__img--bel
            li.b-logos__item
                .b-logos__img.b-logos__img--vil
            li.b-logos__item
                .b-logos__img.b-logos__img--active
            li.b-logos__item
                .b-logos__img.b-logos__img--volkswagen
        ul.b-reviews-new__items.b-items
            li.b-items__item
                .b-items__logo.b-items__logo--mtb
                a.b-items__img(href='images/mtbank.jpg', data-thumb-init='')
                    img(src='images/mtbank.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | За время сотрудничества компания проявила себя как ответственный исполнительный и
                        | клиентоориентированный подрядчик. Webcom Group готова гибко адаптироваться под требования заказчика,
                        | создавая качественный и отвечающий потребностям бизнеса
                        | продукт.
                    p.b-items__author Вареникова Екатерина Сергеевна, Начальник Управления маркетинга ЗАО «МТБанк»
            li.b-items__item
                .b-items__logo.b-items__logo--yves
                a.b-items__img(href='images/rosher.jpg', data-thumb-init='')
                    img(src='images/rosher.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | Компания ТЧУП «Косметика Плюс», благодарит вас за помощь в продвижении сайта
                        | интернет-магазина «Ив Роше» и эффективной рекламе в интернете, что положительно сказывается на повышении
                        | посещаемости.
                    p.b-items__author Савченко Ольга Викторовна, Заместитель директора по сети «Ив Роше»
            li.b-items__item
                .b-items__logo.b-items__logo--alutex
                a.b-items__img(href='images/alutec.jpg', data-thumb-init='')
                    img(src='images/alutec.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | Мы будем рекомендовать Webcom Group своим партнёрам, как надёжную и
                        | профессиональную команду, обладающую огромным опытом в области оптимизации и продвижения сайтов.
                    p.b-items__author Гамезо Андрей Петрович, Директор ООО «Алютех Инкорпорейтед»
            li.b-items__item
                .b-items__logo.b-items__logo--bel
                a.b-items__img(href='images/belexpo.jpg', data-thumb-init='')
                    img(src='images/belexpo.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | С компанией Вебком Групп мы успешно сотрудничаем по трем направлениям: поисковое
                        | продвижение сайта (SEO), контекстная реклама и разработка, а впоследствии и техническая поддержка сайта
                        | www.belexpo.by. Мы рекомендуем Вебком Групп как надежного
                        | и профессионального партнера.
                    p.b-items__author Лазуко Алексей Иванович, Директор НВЦ «БелЭкспо»
            li.b-items__item
                .b-items__logo.b-items__logo--vil
                a.b-items__img(href='images/akvatehnologii.jpg', data-thumb-init='')
                    img(src='images/akvatehnologii.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | Задачи, которые мы доверили Webcom Group, выполняются качественно и своевременно.
                        | Наш ydachnik.by стал гораздо популярнее, благодаря слаженной работе Вебком Групп!
                    p.b-items__author Сергей Кишко, Директор ООО «Акватехнологии»
            li.b-items__item
                .b-items__logo.b-items__logo--active
                a.b-items__img(href='images/active.jpg', data-thumb-init='')
                    img(src='images/active.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | Успешно сотрудничаем с компанией Webcom Group по поисковой оптимизации и
                        | контекстной рекламе наших сайтов active.by и activecloud.ru. За время совместной работы был проделан
                        | большой объем работы по внутренней оптимизации как по белорусскому,
                        | так и по российскому сайтам. В результате наши позиции и трафик из поисковых систем регулярно растут.
                        | Сотрудники компании зарекомендовали себя как исполнительные, креативные и дружелюбные люди.
                    p.b-items__author Роман Шилов, Специалист по маркетингу ООО «Активные технологии»
            li.b-items__item
                .b-items__logo.b-items__logo--volkswagen
                a.b-items__img(href='images/volkswagen.jpg', data-thumb-init='')
                    img(src='images/volkswagen.min.jpg', alt='')
                .b-items__wrap
                    p.b-items__desc
                        | Импортер компании Volkswagen благодарит сотрудников компании за качественное
                        | обслуживание, оперативное реагирование и желание помочь в любой ситуации. СООО «Атлант-М Фарцойгхандель»
                        | готово дать рекомендации Webcom Group как надежному партнеру
                        | и профессионалу в своем деле.
                    p.b-items__author
                        | Александр Демидович, Заместитель директора по маркетингу и развитию СООО
                        | «Атлант-М Фарцойгхандель»
        .b-reviews-new__rating
            .b-reviews-new__rating-stars
                span(style='width: 90%')
            .b-reviews-new__rating-text(itemtype='http://data-vocabulary.org/Review-aggregate', itemscope='')
                span(itemprop='itemreviewed') Оценка
                b 4.9
                |  на основании 
                span(itemprop='votes')
                    b
                        | 167
                        | отзывов
                span(itemtype='http://data-vocabulary.org/Rating', itemscope='', itemprop='rating')
                    meta(content='4.9', itemprop='value')
                    meta(content='5', itemprop='best')
        a.b-reviews-new__link.b-new-link.b-new-link--white(href='index-15.html', target='_blank')
            | Смотреть
            | все отзывы
// End block: reviews-new
// Start block: text-line; Theme: index
section.b-text-line.b-text-line--index
    .b-text-line__container
        h2.b-text-line__title О компании
        p.b-text-line__desc
            | Webcom Performance – независимое агентство перфоманс-маркетинга, входящее в группу
            | компаний Webcom. Мы эффективно решаем бизнес-задачи клиентов в интернете, используя все разнообразие
            | инструментов digital-маркетинга. Наше продвижение достигает поставленных целей и KPI, так как в работе мы
            | ориентируемся на измеримый результат и повышение уровня продаж.
        a.b-text-line__link(href='index-4.html', target='_blank') Подробнее
// End block: text-line
// Start block: certificate-index
section.b-certificate-index.b-certificate-index--img-computer-dark
    .b-certificate-index__container
        h2.b-certificate-index__title Наш статус
        p.b-certificate-index__desc Webcom Group является сертифицированным агентством рекламных систем
        .b-certificate-index__box
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='http://yandex.ru/adv/contact/agency/partner?url=webcom-media.ru', target='_target')
                    img.b-certificate-index__icon(src='images/c-yandex.svg', alt='Certificate yandex', title='')
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='images/certificate_bing.pdf', target='_target')
                    img.b-certificate-index__icon(src='images/c-bing.svg', alt='Certificate bing', title='')
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='http://www.google.com/partners/#a_profile;idtf=6807947772', target='_target')
                    img.b-certificate-index__icon(src='images/c-partner.svg', alt='Certificate google premier partner', title='')
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='images/double_click_certificate.pdf', target='_target')
                    img.b-certificate-index__icon(src='images/c-marketing.svg', alt='Certificate google marketing platform', title='')
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                    img.b-certificate-index__icon(src='images/c-vk.svg', alt='Certificate vkontakte', title='')
            .b-certificate-index__box-item
                a.b-certificate-index__link(href='images/target_mail_ru_certificate.png', target='_target')
                    img.b-certificate-index__icon(src='images/c-mytarget.svg', alt='Certificate mytarget', title='')
        .b-certificate-index__smb.b-smb
            p.b-smb__desc
                | А также мы единственный реселлер, имеющий статус Google Ads Premier SMB Partner в
                | Беларуси.
            img.b-smb__img(src='images/c-smb.svg', alt='Certificate Google AdFords PREMIER', title='')
            a.b-smb__link.b-new-link.b-new-link--white(href='#b-pop-up-smb', target='_self', data-thumb-init='data-thumb-init') Узнать, что это значит для меня
        p.b-certificate-index__specialists.b-certificate-index__specialists--attention
            | В нашей команде работают
            | более 100 сертифицированных специалистов, включая сертифицированных преподавателей Google и Яндекс
        .b-certificate-index__line
        .b-certificate-index__academy-center.b-academy-center
            h2.b-academy-center__title
                | C удовольствием поделимся с вами наработанной экспертизой в нашем учебном
                | центре webcom academy
            img.b-academy-center__logo(src='images/logo-academy.svg', alt='Logotype webcom academy', title='')
            p.b-academy-center__desc
                | Академия Webcom специализируется на подготовке специалистов в области
                | интернет-маркетинга с 2007 года. Учебный центр предлагает программы по: SEO (поисковое продвижение),
                | контекстной рекламе, веб-аналитике, контент-маркетингу, SMM и пр.
            a.b-academy-center__link(href='http://www.webcom-academy.by/', target='_blank') Научите меня
// End block: certificate-index
// Start block: map
section#bottomForm.b-map.b-map--bg-map
    .b-map__container
        form.b-map__form.b-form(action='#', data-tpl-id='125', data-form-id='index')
            .b-form__wrap
                .b-form__icon
                .b-form__head
                    h2.b-form__title Появились вопросы?
                    p.b-form__desc Я с удовольствием на них отвечу! Заполните форму, и я вам перезвоню.
            .b-form__wrapper
                .b-form__fields
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите ваше ФИО', name='name')
                        .b-form__field-icon
                            svg.sp-map-default-fields_user
                                use(xlink:href='images/fields.svg#user')
                        .b-field-tooltip
                            span Например:
                            b Иванов Иван Иванович
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите ваш e-mail', name='email')
                        .b-form__field-icon
                            svg.sp-map-default-fields_mail
                                use(xlink:href='images/fields.svg#mail')
                        .b-field-tooltip
                            span Например:
                            b mysite@gmail.com
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите контактный номер телефона', name='phone')
                        .b-form__field-icon
                            svg.sp-map-default-fields_phone
                                use(xlink:href='images/fields.svg#phone')
                        .b-field-tooltip
                            span Например:
                            b +375291231212
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите адрес вашего сайта', name='site')
                        .b-form__field-icon
                            svg.sp-map-default-fields_globe
                                use(xlink:href='images/fields.svg#globe')
                        .b-field-tooltip
                            span Например:
                            b mysite.by
                    .b-form__field.b-form__field--border.b-form__field--text
                        textarea.b-form__text(required='required', placeholder='Задайте ваш вопрос или расскажите о своей задаче', name='text')
                        .b-form__field-icon.b-form__field-icon--top
                            svg.sp-map-default-fields_chat
                                use(xlink:href='images/fields.svg#chat')
                        .b-field-tooltip.b-field-tooltip--top
                            b Обязательное поле
                        .b-form__return-files
                    .b-form__field.b-form__field--btn
                        button.b-form__btn.b-new-btn.b-new-btn--blue.ajaxSendler_btn Отправить
                .b-form__information(style='display:none')
                    .b-form__loader
                        img(src='images/loader_bg-blue.svg', alt='')
                    .b-form__success
                        h3 Благодарим за обращение в компанию Webcom Performance!
                        | Наш менеджер свяжется с вами по указанному
                        |               телефону в течение часа. 
                        br
                        |  (рабочее время: с понедельника по пятницу 9:00-18:00)
            .b-form__agreement.g-text-align
                p
                    | *Отправляя заявку, Вы подтверждаете, что полностью ознакомлены и согласны с условиями 
                    a.b-form__agreement-link.slideBlockLink(href='#b-pop-up', data-thumb-init='')
                        | Соглашения об обработке персональных
                        | данных
                #b-pop-up.b-form__dropdown.b-pop-up.b-contacts(style='display: none;')
                    .b-pop-up__head
                        .b-pop-up__iconsPopup
                            svg.sp-map-default-fields_certificate
                                use(xlink:href='images/fields.svg#certificate')
                        p.b-pop-up__title.b-pop-up__title.b-pop-up__title--orange
                            | Соглашение об обработке персональных
                            | данных
                    .b-pop-up__contentPopup  
                    p.b-pop-up__item
                        | Данное соглашение разработано в соответствии с требованиями действующего
                        | законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008 №455-З «Об информации,
                        | информатизации и защите информации».
                    p.b-pop-up__item
                        | Все лица, заполнившие Форму заявки, подтверждают, что полностью ознакомлены и
                        | согласны с условиями настоящего Соглашения, в частности подтверждают свое согласие: на осуществление
                        | Компанией сбора, обработки и хранения указанных в регистрационной
                        | форме персональных данных; на включение предоставленной информации (обратная связь, персональные данные) в
                        | базу Компании; на использование персональных данных для рассылки новостей Компании, приглашений на
                        | мероприятия Компании (мероприятия партнеров
                        | Компании); на последующую передачу Компанией указанных в регистрационной форме персональных данных третьим
                        | лицам для обработки и хранения персональных данных.
                    p.b-pop-up__item
                        | При этом гражданин вправе отозвать согласие на использование персональных данных,
                        | направив Компании письменное уведомление по адресу: 220073, г. Минск, ул. Скрыганова, 6А, пом. 12. В
                        | случае получения уведомления об отзыве согласия на использование
                        | персональных данных Компания, а также третьи лица, которым переданы персональные данные, прекращают
                        | обработку персональных данных и уничтожают данные в течение 5 (пяти) рабочих дней с даты получения отзыва.
                    p.b-pop-up__item
                        | Гражданин гарантирует, что данные, содержащиеся в регистрационной форме, являются
                        | достоверными; при предоставлении информации не нарушается действующее законодательство Республики
                        | Беларусь, законные права и интересы третьих лиц.
        .b-map__info
            .b-map__title Приходите в гости!
            .b-map__address г.Минск, Скрыганова 6а, этаж 4
    #gmapContainer
// End block: map
// Start block: pop-up-bonus
#pop-up-bonus.b-pop-up-bonus.b-pop-up-bonus--gr-dark
    .b-pop-up-bonus__container
        button.b-pop-up-bonus__btn-close.b-pop-up-bonus__btn-close--white.js-close-pop-up-bonus(type='reset')
            svg.sp-pop-up-bonus-default-icons_btn-close
                use(xlink:href='images/icons-5.svg#btn-close')
        .b-pop-up-bonus__paste
        button.b-pop-up-bonus__btn(data-b-new-modal='b-pop-up-bonus') Получить
        // <div class="b-new-modal">
        // <div class="b-new-modal__container">
        // <form class="b-new-modal__form b-form" action="#">
        // <div class="b-form__head">
        // <div class="b-form__icon b-form__icon--circle"><img class="b-form__img" src="/landing-page/index/images/new-modal/v2/dima-m.png" alt="Image men" title="" /></div>
        // <div class="b-form__wrap">
        // <h2 class="b-form__title">Хотите получить бонус?</h2>
        // <p class="b-form__desc">Заполните форму</p>
        // </div>
        // </div>
        // <div class="b-form__wrapper">
        // <div class="b-form__fields">
        // <div class="b-form__fields-main">
        // <div class="b-form__item b-form__item--column">
        // <div class="b-form__field b-form__field--border b-form__field--center"><input class="b-form__input" required="required" type="text" value="" placeholder="Введите ваше ФИО" name="name" id="" />
        // <div class="b-form__field-icon"><svg class="sp-pop-up-bonus-default-fields_user"> <use xlink:href="/landing-page/index/images/pop-up-bonus/default/sprites/fields.svg#user"></use></svg></div>
        // <div class="b-field-tooltip"><span>Например:</span><b>Иванов Иван Иванович</b></div>
        // </div>
        // <div class="b-form__field b-form__field--border b-form__field--center"><input class="b-form__input" required="required" type="email" value="" placeholder="Введите ваш e-mail" name="email" id="" />
        // <div class="b-form__field-icon"><svg class="sp-pop-up-bonus-default-fields_mail"> <use xlink:href="/landing-page/index/images/pop-up-bonus/default/sprites/fields.svg#mail"></use></svg></div>
        // <div class="b-field-tooltip"><span>Например:</span><b>mymail@gmail.com</b></div>
        // </div>
        // <div class="b-form__field b-form__field--border b-form__field--center"><input class="b-form__input" required="required" type="tel" value="" placeholder="Ваш контактный телефон" name="phone" id="" />
        // <div class="b-form__field-icon"><svg class="sp-pop-up-bonus-default-fields_phone"> <use xlink:href="/landing-page/index/images/pop-up-bonus/default/sprites/fields.svg#phone"></use></svg></div>
        // <div class="b-field-tooltip"><span>Например:</span><b>+375291234567</b></div>
        // </div>
        // <div class="b-form__field b-form__field--border b-form__field--center"><input class="b-form__input" required="" type="url" value="" placeholder="Адрес вашего сайта" name="site" id="" />
        // <div class="b-form__field-icon"><svg class="sp-pop-up-bonus-default-fields_globe"> <use xlink:href="/landing-page/index/images/pop-up-bonus/default/sprites/fields.svg#globe"></use></svg></div>
        // <div class="b-field-tooltip"><span>Например:</span><b>mysite.by</b></div>
        // </div>
        // </div>
        // <div class="b-form__item b-form__item--column">
        // <div class="b-form__field b-form__field--border b-form__field--grow"><textarea class="b-form__text" required="required" type="text" placeholder="Задайте ваш вопрос или расскажите о своей задаче" name="text" id=""></textarea>
        // <div class="b-form__field-icon b-form__field-icon--top"><svg class="sp-pop-up-bonus-default-fields_chat"> <use xlink:href="/landing-page/index/images/pop-up-bonus/default/sprites/fields.svg#chat"></use></svg></div>
        // <div class="b-field-tooltip"><b>Обязательное поле</b></div>
        // </div>
        // </div>
        // </div>
        // <div class="b-form__fields-footer"><button class="b-form__btn b-new-btn b-new-btn--blue">Отправить</button></div>
        // </div>
        // <div class="b-form__information" style="display:none">
        // <div class="b-form__loader"><img src="/landing-page/index/images/new-modal/v2/loader_bg-blue.svg" alt="Image loader" /></div>
        // <div class="b-form__success b-success">
        // <div class="b-success__img b-success__img--circle"><img src="/landing-page/index/images/new-modal/v2/success-mail.svg" alt="Image mail" /></div>
        // <div class="b-success__info">
        // <h3 class="b-success__title b-success__title--orange">Lorem Ipsum is simply dummy</h3>
        // <p class="b-success__textual">text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        // </div>
        // </div>
        // </div>
        // </div>
        // <div class="b-form__agreement g-text-align">
        // <p>*Отправляя заявку, Вы подтверждаете, что полностью ознакомлены и согласны с условиями <a class="b-form__agreement-link slideBlockLink">Соглашения об обработке персональных данных</a></p>
        // <div class="b-form__dropdown slideBlockShow" style="display:none">
        // <p class="b-form__item g-text-align g-text-align--left">Данное соглашение разработано в соответствии с требованиями действующего законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации».</p>
        // <p class="b-form__item g-text-align g-text-align--left">Все лица, заполнившие Форму заявки и Форму обратной связи, подтверждают, что полностью ознакомлены и согласны с условиями настоящего Соглашения, в частности подтверждают свое согласие: - на осуществление Компанией сбора, обработки и хранения
        // указанных в регистрационной форме персональных данных; - на включение предоставленной информации (обратная связь, персональные данные) в базу Компании; - на использование персональных данных для рассылки новостей Компании, приглашений
        // на мероприятия Компании. </p>
        // <p class="b-form__item g-text-align g-text-align--left">При этом гражданин вправе отозвать согласие на использование персональных данных, направив Компании письменное уведомление по адресу: 220073, г. Минск, ул. Скрыганова, 6А, пом. 12. В случае получения уведомления об отзыве согласия на использование
        // персональных данных Компания прекращает обработку персональных данных и уничтожает данные в течение 5 (пяти) рабочих дней с даты получения отзыва.</p>
        // <p class="b-form__item g-text-align g-text-align--left">Гражданин гарантирует, что данные, содержащиеся в регистрационной форме, являются достоверными; при предоставлении информации не нарушается действующее законодательство Республики Беларусь, законные права и интересы третьих лиц.</p>
        // <span
        // class="b-feedback__link slideBlockLink g-text-align">Свернуть</span>
        // </div>
        // </div>
        // </form>
        // </div>
        // </div>
        // End block: pop-up-bonus
        // Start block: pop-up
        #b-pop-up-smb.b-pop-up
            h2.b-pop-up__title.b-pop-up__title--blue
                | Новые достижения Webcom Performance = новые возможности для
                | клиентов!
            .b-pop-up__items
                p.b-pop-up__item
                p.b-pop-up__textual
                    | Компания Webcom Performance 1 июля 2017 г. получила статус Google Ads Premier SMB
                    | Partner и является единственным обладателем этого статуса среди digital-компаний в Беларуси и на территории
                    | постсоветского пространства, не считая Россию.
                p
                p.b-pop-up__item
                h3.b-pop-up__subtitle В чем суть статуса?
                p.b-pop-up__textual
                    | Получение этого статуса позволяет агентству получать большую поддержку и больше
                    | преимуществ от Google, в сравнении с остальными партнерскими статусами. Премиальная программа Google
                    | направлена на поддержку малого и среднего бизнеса через более
                    | выгодные условия* (речь о которых чуть ниже) для настройки их рекламных кампаний и популяризацию рекламного
                    | сервиса Google. Всего в мире около 100 агентств обладают данной сертификацией, т.к. Google предъявляет очень
                    | серьезные требования для получения этого статуса.
                p
                p.b-pop-up__item
                h3.b-pop-up__subtitle Требования для получения статуса следующие:
                ul.b-pop-up__docket
                    li.b-pop-up__docket-item
                        | обеспечение первоклассного уровня поддержки клиентов и возможность
                        | поддерживать инфраструктуру для обслуживания тысяч клиентов;
                    li.b-pop-up__docket-item
                        | постоянное соблюдение высокого уровня продаж рекламных продуктов Google;
                    li.b-pop-up__docket-item большая клиентская база представителей малого и среднего бизнеса;
                p
                p.b-pop-up__item
                h3.b-pop-up__subtitle Какая польза для вашего бизнеса?
                p.b-pop-up__textual
                    | Благодаря данному статусу, Webcom Performance получает большую поддержку от Google:
                    | открываются новые перспективы в использовании технических инструментов Google Рекламы, список которых
                    | значительно расширится. Это позволит экспертам Webcom обеспечить
                    | нашим клиентам и партнерам сотрудничество на еще более выгодных условиях:
                ul.b-pop-up__docket
                    li.b-pop-up__docket-item
                        | получать самый полный комплекс услуг по управлению кампаниями в Google
                        | Рекламе;
                    li.b-pop-up__docket-item создавать для вас еще более подробную отчетность;
                    li.b-pop-up__docket-item осуществлять более оперативное решение ваших вопросов;
                    li.b-pop-up__docket-item
                        | в числе первых получать новейшую информацию о продуктах и инструментах
                        | Google Рекламы и первыми иметь возможность их использования.
                p
                p.b-pop-up__item
                p.b-pop-up__textual
                    span
                        | Мы всегда стараемся увеличивать уровень экспертности для повышения качества
                        | продвижения бизнеса наших партнеров, чтобы всегда оставаться Digital-агентством №1 на рынке.
                p
        // End block: pop-up
        section#bottomForm.b-new-modal.b-new-modal--v2
            .b-new-modal__container
                form.b-new-modal__form.b-form(action='#')
                    button.b-form__close-new-modal(data-b-new-modal-close='data-b-new-modal-close', type='reset')
                    .b-form__head
                        .b-form__icon.b-form__icon--circle
                            img.b-form__img(src='images/dima-m.png', alt='Image men', title='')
                        .b-form__wrap
                            h2.b-form__title Title for modal
                            p.b-form__desc Description for modal
                    .b-form__wrapper
                        .b-form__fields
                            .b-form__fields-main
                                .b-form__item.b-form__item--column
                                    .b-form__field.b-form__field--border.b-form__field--center
                                        input.b-form__input(required='required', type='text', value='', placeholder='Введите ваше ФИО', name='name', id='')
                                        .b-form__field-icon
                                            svg.sp-new-modal-v2-fields_user
                                                use(xlink:href='images/fields-2.svg#user')
                                        .b-field-tooltip
                                            span Например:
                                            b Иванов Иван Иванович
                                    .b-form__field.b-form__field--border.b-form__field--center
                                        input.b-form__input(required='required', type='email', value='', placeholder='Введите ваш e-mail', name='email', id='')
                                        .b-form__field-icon
                                            svg.sp-new-modal-v2-fields_mail
                                                use(xlink:href='images/fields-2.svg#mail')
                                        .b-field-tooltip
                                            span Например:
                                            b mymail@gmail.com
                                    .b-form__field.b-form__field--border.b-form__field--center
                                        input.b-form__input(required='required', type='tel', value='', placeholder='Ваш контактный телефон', name='phone', id='')
                                        .b-form__field-icon
                                            svg.sp-new-modal-v2-fields_phone
                                                use(xlink:href='images/fields-2.svg#phone')
                                        .b-field-tooltip
                                            span Например:
                                            b +375291234567
                                    .b-form__field.b-form__field--border.b-form__field--center
                                        input.b-form__input(required='', type='url', value='', placeholder='Адрес вашего сайта', name='site', id='')
                                        .b-form__field-icon
                                            svg.sp-new-modal-v2-fields_globe
                                                use(xlink:href='images/fields-2.svg#globe')
                                        .b-field-tooltip
                                            span Например:
                                            b mysite.by
                                .b-form__item.b-form__item--column
                                    .b-form__field.b-form__field--border.b-form__field--grow
                                        textarea.b-form__text(required='required', type='text', placeholder='Задайте ваш вопрос или расскажите о своей задаче', name='text', id='')
                                        .b-form__field-icon.b-form__field-icon--top
                                            svg.sp-new-modal-v2-fields_chat
                                                use(xlink:href='images/fields-2.svg#chat')
                                        .b-field-tooltip.b-field-tooltip--top
                                            b Обязательное поле
                            .b-form__fields-footer
                                button.b-form__btn.b-new-btn.b-new-btn--blue Отправить
                        .b-form__information(style='display:none;')
                            .b-form__loader
                                img(src='images/loader_bg-blue-2.svg', alt='Image loader')
                            .b-form__success.b-success
                                .b-success__img.b-success__img--circle
                                    img(src='images/success-mail.svg', alt='Image mail')
                                .b-success__info
                                    h3.b-success__title.b-success__title--orange
                                        | Благодарим за обращение в компанию Webcom
                                        | Performance!
                                    p.b-success__textual
                                        | Наш менеджер свяжется с вами по указанному телефону в течение
                                        | часа.
                                        br
                                        | (рабочее время: с понедельника по пятницу 9:00-18:00)
                    .b-form__agreement.g-text-align
                        p
                            | *Отправляя заявку, Вы подтверждаете, что полностью ознакомлены и согласны с условиями 
                            a.b-form__agreement-link.slideBlockLink Соглашения об обработке персональных данных
                        .b-form__dropdown.slideBlockShow(style='display:none;')
                            p.b-form__item.g-text-align.g-text-align--left
                                | Данное соглашение разработано в соответствии с
                                | требованиями действующего законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008
                                | №455-З «Об информации, информатизации и защите информации».
                            p.b-form__item.g-text-align.g-text-align--left
                                | Все лица, заполнившие Форму заявки и Форму обратной
                                | связи, подтверждают, что полностью ознакомлены и согласны с условиями настоящего Соглашения, в частности
                                | подтверждают свое согласие: - на осуществление Компанией сбора, обработки и хранения
                                | указанных в регистрационной форме персональных данных; - на включение предоставленной информации (обратная
                                | связь, персональные данные) в базу Компании; - на использование персональных данных для рассылки новостей
                                | Компании, приглашений на
                                | мероприятия Компании.
                            p.b-form__item.g-text-align.g-text-align--left
                                | При этом гражданин вправе отозвать согласие на
                                | использование персональных данных, направив Компании письменное уведомление по адресу: 220073, г. Минск,
                                | ул. Скрыганова, 6А, пом. 12. В случае получения уведомления об отзыве согласия на использование
                                | персональных данных Компания прекращает обработку персональных данных и уничтожает данные в течение 5
                                | (пяти) рабочих дней с даты получения отзыва.
                            p.b-form__item.g-text-align.g-text-align--left
                                | Гражданин гарантирует, что данные, содержащиеся в
                                | регистрационной форме, являются достоверными; при предоставлении информации не нарушается действующее
                                | законодательство Республики Беларусь, законные права и интересы третьих лиц.
                            span.b-feedback__link.slideBlockLink.g-text-align Свернуть