- var diffs = [{icon: "earth-globe", desc: "Adapt your website to CIS market"},{icon: "analytics", desc: "Promote your product or service in the Russian and CIS market "},{icon: "research", desc: "Analyze your future competitors and assess their capabilities"},{icon: "admin", desc: "Analyze the level of demand for your product/service"},{icon: "promo", desc: "Create a positive reputation from a new business and increase your brand awareness in the Russian and CIS market"},{icon: "value", desc: "Have you taken a step forward but you need professional help to attract more customers?"}]

.inner
    .b-difficulties
        ul.b-difficulties__list
            each item in diffs
                li.b-difficulties__item
                    .b-difficulties__icon
                        svg(class="")
                            use(href=`img/sprite-diff.svg#${item.icon}`)
                    p.b-difficulties__text=item.desc
        p.b-difficulties__desc.
            We have a solution for you! Thanks to the accumulated experience and expertise of work in key industries, we will select the optimal media mix of digital tools for solving your business problems.