- var diffs = [{author: "A. Hameza", desc: "We have been successfully working with Webcom Media for the last 10 years. During this time, the contractor has proved to be a professional internet marketing services provider. Within our effective cooperation, we have achhieved and are constantly holding TOP Yandex and Google search engines ranking positions for major keywords. We would like to thank your professional team for well-optimised business processes, expert consulting, creativity and excellent custom project management. We are very pleased with the job perfectly done. We always recommend Webcom Media to our friends and clients as the right partner. Looking forward to a sucessful working relationship in the future."},{author: "Michael Bruh", desc: "Acronym is a global search marketing agency based in New York and founded in 1995. We began working with Webcom in 2014 when we required additional SEO support for CIS countries. We really like to work with the people of Webcom Media. We are glad we found such a professional partner to work with on a continuing basis. We have found Webcom trustful, fast and reliable in their expertise."}]

.inner
    .b-feedback
        ul.b-feedback__list
            each item, index in diffs
                li.b-feedback__item
                    .b-feedback__head
                        .b-feedback__info
                            p.b-feedback__author=item.author
                            p.b-feedback__org CEO Alutech Inc. LLC
                        .b-feedback__rate
                            .rating
                                .rating__group
                                    svg(class="rating__star is_active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#FF9800")
                                    svg(class="rating__star is_active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#FF9800")
                                    svg(class="rating__star is_active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#FF9800")
                                    svg(class="rating__star is_active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#FF9800")
                                    svg(class=index===1?"rating__star":"rating__star is_active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#FF9800")
                        .b-feedback__meta
                            .b-feedback__date March 14, 2019
                    .b-feedback__body                
                        p=item.desc
                        // a.b-feedback__view(href="#", style=`background-image: url(img/view-${index + 1}.png)`, target="_blank")
                        //     span View original
    //- .b-btn-group
    //-     a.b-btn.b-btn-prime(href="#") LEAVE a testimonial