// Start block: footer; Theme: fullwidth
footer.b-footer.b-footer--fullwidth
    .b-footer__top
        .b-footer__container
            ul.b-footer__contact
                li
                    svg(class="")
                        use(href=`img/sprite-diff.svg#icon_phone_1`)
                    a(href="tel:+1(954)607-2297") + 1 (954) 607-2297
                li
                    svg(class="")
                        use(href=`img/sprite-diff.svg#icon_mail_1`)
                    a(href="mailto:info@webcom-media.com") info@webcom-media.com
    .b-footer__container
        a.b-footer__up UP
        //- .b-footer__row.b-footer__row--general
        //-     .b-footer__item.b-footer__item--menu
        //-         ul.b-menu
        //-             li.b-menu__item
        //-                 a.b-menu__link(href='index-4.html', target='_blank') О компании
        //-             li.b-menu__item
        //-                 a.b-menu__link(href='index-7.html', target='_blank') Все услуги
        //-             li.b-menu__item
        //-                 a.b-menu__link(href='index-14.html', target='_blank') Наши клиенты
        //-             li.b-menu__item
        //-                 a.b-menu__link(href='index-18.html', target='_blank') Вопрос-ответ
        //-             li.b-menu__item
        //-                 a.b-menu__link(href='index-19.html', target='_blank') Контакты
        //-     .b-footer__item.b-footer__item--socials
        //-         ul.b-socials
        //-             li.b-socials__item.b-socials__item--facebook
        //-                 a.b-socials__link(href='https://www.facebook.com/WebcomGroupLtd', target='_blank')
        //-             li.b-socials__item.b-socials__item--youtube
        //-                 a.b-socials__link(href='https://www.youtube.com/user/SeolabBy/?sub_confirmation=1', target='_blank')
        //-     .b-footer__item.b-footer__item--contact
        //-         ul.b-contact
        //-             li.b-contact__item.b-contact__item--mail
        //-                 a.b-contact__link(href='mailto:info@promo-webcom.by') info@promo-webcom.by
        //-             li.b-contact__item.b-contact__item--code
        //-                 a.b-contact__link +375 (44)
        //-             li.b-contact__item.b-contact__item--eye
        //-                 a.b-contact__link показать номер
        //-             li
        //-                 a.b-contact__tel.b-contact__tel--js-footer(href='tel:+375445060706') 506-07-06
        .b-footer__row
            nav.b-navbar
                a.b-navbar__item(href="#") Services
                a.b-navbar__item(href="#") About us
                a.b-navbar__item(href="#") Case Studies
                a.b-navbar__item(href="#") Our Clients
                a.b-navbar__item(href="#") Contacts
        .b-footer__row
            .b-footer__item © 2000-2019. Webcom Performance
            .b-footer__item
                a.b-footer__link(href='#b-pop-up-information', data-thumb-init='', target='_blank') Terms of Use
// End block: footer