.inner
    .s-form__form
        form.b-form(action="")
            .b-form__group
                .b-form__control.is-invalid
                    svg(class="icon")
                        use(href=`img/sprite-diff.svg#icon_user`)
                    input(name="Name" type="text" placeholder="Name" data-required)
                    .is-invalid__msg Required field
                .b-form__control
                    svg(class="icon")
                        use(href=`img/sprite-diff.svg#icon_mail`)
                    input(name="E-mail" type="text" placeholder="E-mail" data-required)
            .b-form__group
                .b-form__control
                    svg(class="icon")
                        use(href=`img/sprite-diff.svg#icon_phone`)
                    input(name="Phone" type="text" placeholder="Phone" data-required)
                .b-form__control
                    svg(class="icon")
                        use(href=`img/sprite-diff.svg#icon_globe`)
                    input(name="Adress" type="text" placeholder="Adress" data-required)
            .b-form__group
                .b-form__control
                    svg(class="icon")
                        use(href=`img/sprite-diff.svg#icon_message`)
                    textarea(name="Question" rows="10" placeholder="Question" data-required)
            .b-btn-group
                button.b-btn.b-btn-prime(type="submit") SEND A QUESTION