- var diffs = [{icon: "people", desc: "Over 90 million potential clients"},{icon: "check", desc: "The opportunity to expand your business and increase revenue"},{icon: "chat", desc: "The ability to speak the language of your customers"}]

.inner
    .b-will-get
        ul.b-will-get__list
            each item in diffs
                li.b-will-get__item
                    .b-will-get__icon
                        svg(class="")
                            use(href=`img/sprite-diff.svg#${item.icon}`)
                    p.b-will-get__text=item.desc