-
    var steps = [
        {
            title: "Оформление заявки на услугу всего за несколько шагов",
            desc: "Оставьте заявку на услугу за несколько простых шагов",
            applyBtnText: "оформить заявку"
        },
        {
            title: "Шаг 1: Выберите вид договора, наиболее подходящий Вам",
            desc: null,
            applyBtnText: ""
        },
        {
            title: "Шаг 2: выберите форму собственности",
            desc: null,
            applyBtnText: ""
        },
        {
            title: "ШАГ 3: Введите данные об организации",
            desc: null,
            applyBtnText: "<span class='text-bold'>Отправить заявку</span> <span class=''>без банковских реквизитов</span>"
        },
        {
            title: "Шаг 4: Введите адрес и банковские реквизиты",
            desc: null,
            applyBtnText: "<span class='text-bold'>Отправить заявку</span> <span class=''>без банковских реквизитов</span>"
        }
    ];
<!-- STEP_0 -->
.b-form-steps
    form.b-form-steps-list(action='/', method='POST')
        each item, index in steps
            .b-form-steps-item(data-step=`${index}`)
                .b-step-card
                    h2.b-step-card-title #{item.title}
                    if item.desc
                        p.b-step-card-desc #{item.desc}
                    .b-step-card-body
                        .b-step-card-progress
                        .b-step-card-group
                            label
                                input#ENTITY(type="radio", name="ENTITY")
                                | Юридическое лицо
                            label 
                                input#EMPLOYER(type="radio", name="EMPLOYER")
                                | Индивидуальный предприниматель 
                        .b-btn-group
                            a(href="#") Назад
                            a(href="#") далее
                    .b-step-card-footer
                        label
                            input(type="checkbox", name="")
                            | Я согласен с условиями 
                            a(href="#") публичного договора 
                            | и 
                            a(href="#") соглашением 
                            | об обработке персональных данных
                        .b-btn-group
                            button.b-btn.b-btn-prime !{item.applyBtnText}
<!-- end STEP_0 -->