<!--section Actual_1920-->
- var items = [{icon: "actual-3", desc: "Хотите обойти конкурентов в интернете и выйти на лидирующие позиции в своей нише."}, {icon: "actual-2", desc: "Собираетесь выводить на рынок новый продукт и хотите сразу видеть результаты в деньгах, а не в красивых графиках."}, {icon: "actual-1", desc: "Уже откручиваете рекламу, но не довольны результатами и уверены, что можно получать больше за те же деньги."}]

+section("s-actual", "АКТУАЛЬНО, КОГДА ВЫ:", desc, "ACTUAL")
    .inner
        .b-actual
            ul.b-actual-list
                each item in items
                    li.b-actual-item
                        .b-actual-card
                            .b-actual-card-img
                                svg(class="")
                                    use(href=`img/rus/sprite-diff.svg#${item.icon}`)
                            p.b-actual-card-text !{item.desc}
    .s-actual-footnote
        .inner
            p.s-actual-footnote-content
                <span class="text-medium">Просто быть в интернете — уже не достаточно!</span> Нужно системно и последовательно работать над продвижением, репутацией, лояльностью клиентов — анализировать и оценивать каждый шаг. Только так можно получить измеримые результаты в реальных деньгах, а не в мечтах и планах.
<!--end section Actual_1920-->