section.s-section.s-banner.is_dark
    .inner
        h2.s-section__title.s-banner__title 
            | Системное продвижение, аналитический подход, результат в деньгах
        p.s-banner__desc 19 лет диктуем правила игры на рынке performance-маркетинга и владеем экспертизой по продвижению крупного и среднего бизнеса в СНГ
        .b-btn-group
            a.b-btn.b-btn-prime.js-anchor(href="#ASK_FORM") Получить консультацию
        //- p.s-banner__note CIS countries: Azerbaijan, Armenia, Belarus, Kazakhstan, Kyrgyzstan, Moldova, Russia, Tajikistan, Turkmenistan, Uzbekistan and Ukraine.