// Start block: map
section#bottomForm.b-map.b-map--bg-map
    .b-map__container
        form.b-map__form.b-form(action='#', data-tpl-id='125', data-form-id='index')
            .b-form__wrap
                .b-form__icon
                .b-form__head
                    h2.b-form__title Появились вопросы?
                    p.b-form__desc Я с удовольствием на них отвечу! Заполните форму, и я вам перезвоню.
            .b-form__wrapper
                .b-form__fields
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите ваше ФИО', name='name')
                        .b-form__field-icon
                            svg.sp-map-default-fields_user
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#user')
                        .b-field-tooltip
                            span Например:
                            b Иванов Иван Иванович
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите ваш e-mail', name='email')
                        .b-form__field-icon
                            svg.sp-map-default-fields_mail
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#mail')
                        .b-field-tooltip
                            span Например:
                            b mysite@gmail.com
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите контактный номер телефона', name='phone')
                        .b-form__field-icon
                            svg.sp-map-default-fields_phone
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#phone')
                        .b-field-tooltip
                            span Например:
                            b +375291231212
                    .b-form__field.b-form__field--border
                        input.b-form__input(required='required', type='text', placeholder='Введите адрес вашего сайта', name='site')
                        .b-form__field-icon
                            svg.sp-map-default-fields_globe
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#globe')
                        .b-field-tooltip
                            span Например:
                            b mysite.by
                    .b-form__field.b-form__field--border.b-form__field--text
                        textarea.b-form__text(required='required', placeholder='Задайте ваш вопрос или расскажите о своей задаче', name='text')
                        .b-form__field-icon.b-form__field-icon--top
                            svg.sp-map-default-fields_chat
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#chat')
                        .b-field-tooltip.b-field-tooltip--top
                            b Обязательное поле
                        .b-form__return-files
                    .b-form__field.b-form__field--btn
                        button.b-form__btn.b-new-btn.b-new-btn--orange.ajaxSendler_btn Отправить
                .b-form__information(style='display:none')
                    .b-form__loader
                        img(src='/landing-page/vendor/v4/images/vendor/loader_bg-blue.svg', alt='')
                    .b-form__success
                        h3 Благодарим за обращение в компанию Webcom Performance!
                        | Наш менеджер свяжется с вами по указанному телефону в течение часа. 
                        br
                        |  (рабочее время: с понедельника по пятницу 9:00-18:00)
            .b-form__agreement.g-text-align
                p
                    | *Отправляя заявку, Вы подтверждаете, что полностью ознакомлены и согласны с условиями 
                    a.b-form__agreement-link.slideBlockLink(href='#b-pop-up', data-thumb-init='') Соглашения об обработке персональных данных
                #b-pop-up.b-form__dropdown.b-pop-up.b-contacts(style='display: none;')
                    .b-pop-up__head
                        .b-pop-up__iconsPopup
                            svg.sp-map-default-fields_certificate
                                use(xlink:href='/landing-page/index/images/map/default/sprites/fields.svg#certificate')
                        p.b-pop-up__title.b-pop-up__title.b-pop-up__title--orange  Соглашение об обработке персональных данных
                    .b-pop-up__contentPopup  
                    p.b-pop-up__item
                        | Данное соглашение разработано в соответствии с требованиями действующего законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации».
                    p.b-pop-up__item
                        | Все лица, заполнившие Форму заявки, подтверждают, что полностью ознакомлены и согласны с условиями настоящего Соглашения, в частности подтверждают свое согласие: на осуществление Компанией сбора, обработки и хранения указанных в регистрационной
                        | форме персональных данных; на включение предоставленной информации (обратная связь, персональные данные) в базу Компании; на использование персональных данных для рассылки новостей Компании, приглашений на мероприятия Компании (мероприятия партнеров
                        | Компании); на последующую передачу Компанией указанных в регистрационной форме персональных данных третьим лицам для обработки и хранения персональных данных.
                    p.b-pop-up__item
                        | При этом гражданин вправе отозвать согласие на использование персональных данных, направив Компании письменное уведомление по адресу: 220073, г. Минск, ул. Скрыганова, 6А, пом. 12. В случае получения уведомления об отзыве согласия на использование
                        | персональных данных Компания, а также третьи лица, которым переданы персональные данные, прекращают обработку персональных данных и уничтожают данные в течение 5 (пяти) рабочих дней с даты получения отзыва.
                    p.b-pop-up__item
                        | Гражданин гарантирует, что данные, содержащиеся в регистрационной форме, являются достоверными; при предоставлении информации не нарушается действующее законодательство Республики Беларусь, законные права и интересы третьих лиц.
        .b-map__info
            .b-map__title Приходите в гости!
            .b-map__address г. Москва, Научный проезд, дом 8, строение 1, этаж 4,  офис 445
    #gmapContainer
// End block: map
footer.b-footer.b-footer--fullwidth
    .b-footer__container
        a.b-footer__up Вверх
        .b-footer__row.b-footer__row--general
            .b-footer__item.b-footer__item--contact
                ul.b-contact
                    li.b-contact__item.b-contact__item--mail
                        a.b-contact__link(href='mailto:info@promo-webcom.by') info@promo-webcom.by
                    li.b-contact__item.b-contact__item--code
                        a.b-contact__link(href='tel:+7(495)308-82-51') +7 (495) 308-82-51
                    // <li><a class="b-contact__tel b-contact__tel--js-footer" href="tel:+7(495)308-82-51">+7 (495) 308-82-51</a></li>
            .b-footer__item.b-footer__item--socials
                ul.b-socials
                    li.b-socials__item.b-socials__item--facebook
                        a.b-socials__link(href='https://www.facebook.com/WebcomGroupLtd', target='_blank')
                    li.b-socials__item.b-socials__item--youtube
                        a.b-socials__link(href='https://www.youtube.com/user/SeolabBy/?sub_confirmation=1', target='_blank')
            .b-footer__item.b-footer__item--menu
                ul.b-menu
                    li.b-menu__item
                        a.b-menu__link(href='/company/', target='_blank') О компании
                    li.b-menu__item
                        a.b-menu__link(href='/services/', target='_blank') Все услуги
                    li.b-menu__item
                        a.b-menu__link(href='/company/portfolio/', target='_blank') Наши клиенты
                    li.b-menu__item
                        a.b-menu__link(href='/faq/', target='_blank') Аналитика
                    li.b-menu__item
                        a.b-menu__link(href='/company/contacts/', target='_blank') Контакты
        .b-footer__row
            .b-footer__item © 2000-2019. Webcom Performance
            .b-footer__item г. Москва, Научный проезд, дом 8, строение 1, этаж 4,  офис 445
            .b-footer__item
                a.b-footer__link(href='#b-pop-up-information', data-thumb-init='', target='_blank') Условия использования
