// Start block: header; Theme: fullwidth
.header-bg
    header.b-header-new.b-header-new--fullwidth.wrap-bg
        .b-header-new__container
            .b-header-new__row.b-header-new__row--general
                .b-header-new__item.b-header-new__item--logo.b-header-new__item--logo-status
                    a.b-logo(href='index.html', target='_blank')
                    span.b-logo-status Russia
                //- .b-header-new__item.b-header-new__item--year
                //-     .b-year
                //-         i.b-year__icon
                //-         p.b-year__text
                //-             | лет на вершине
                //-             br
                //-             | performance-маркетинга
                //- .b-header-new__item.b-header-new__item--contact
                //-     ul.b-contact
                //-         li.b-contact__item.b-contact__item--code
                //-             a.b-contact__link +375 (44)
                //-         li.b-contact__item.b-contact__item--eye
                //-             a.b-contact__link показать номер
                //-         li.b-contact__item.b-contact__item--arrow.b-contact__item--submenu
                //-             .b-contact__item.b-contact__item--phone
                //-                 ul.b-phone
                //-                     li.b-phone__item.b-phone__item--velcom
                //-                         i.b-phone__ico
                //-                             svg.sp-header-fullwidth-operator_velcom
                //-                                 use(xlink:href='images/operator.svg#velcom')
                //-                         a.b-phone__link(href='tel:+375(44)5060706') +375 (44) 506-07-06
                //-                     li.b-phone__item.b-phone__item--mts
                //-                         i.b-phone__ico
                //-                             svg.sp-header-fullwidth-operator_mts
                //-                                 use(xlink:href='images/operator.svg#mts')
                //-                         a.b-phone__link(href='tel:+375(29)5777724') +375 (29) 577-77-24
                //-                     li.b-phone__item.b-phone__item--city
                //-                         i.b-phone__ico
                //-                             svg.sp-header-fullwidth-operator_city
                //-                                 use(xlink:href='images/operator.svg#city')
                //-                         a.b-phone__link(href='tel:+375(17)2923456') +375 (17) 292-34-56
                //-                     li.b-phone__item.b-phone__item--btn
                //-                         a.b-phone__link(href='index-3.html', target='_blank') Связаться
                //-         li.b-contact__tel
                //-             a.b-contact__tel-link(href='tel:+375(44)5060706') 506-07-06
                nav.b-navbar(data-attr="menu")
                    a.b-navbar__item.js-anchor(href="#") Услуги
                    a.b-navbar__item.js-anchor(href="#ABOUT_US") Почему мы
                    a.b-navbar__item.js-anchor(href="#") Работа
                    a.b-navbar__item.js-anchor(href="#OUR_CLIENTS") Клиенты
                    a.b-navbar__item.js-anchor(href="#") Контакты
                .b-header-new__item.b-header-new__item--btn-connection
                    button.b-btn-connection
                        a(href='index-3.html', target='_blank') 
                            span.b-btn-connection__text Связаться
                            <svg class="b-btn-connection__mobile" width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.2 0C0.537256 0 0 0.558035 0 1.24675V1.93939L8 7.05547L16 1.97429V1.24675C16 0.558035 15.4627 0 14.8 0H1.2Z" fill="#333333"/>
                            <path d="M16 3.39508L8.20582 8.25466C8.07914 8.33339 7.92086 8.33339 7.79418 8.25466L0 3.39508V10.3898C0 11.0785 0.537256 11.6366 1.2 11.6366H14.8C15.4627 11.6366 16 11.0785 16 10.3898V3.39508Z" fill="#333333"/>
                            </svg>
                .b-header-new__item.b-header-new__item--btn-menu-mobile
                    button.js-mobile-menu(data-target="menu")
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="16" height="1.93939" fill="white"/>
                        <rect y="5.81842" width="16" height="1.93939" fill="white"/>
                        <rect y="11.6366" width="16" height="1.93939" fill="white"/>
                        </svg>
                        <svg class="close" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.72603 6.19178C7.61644 6.08219 7.61644 5.91781 7.72603 5.80822L11.8356 1.69863C11.9452 1.58904 12 1.42466 12 1.31507C12 1.20548 11.9452 1.0411 11.8356 0.931507L11.0685 0.164384C10.9589 0.0547945 10.7945 0 10.6849 0C10.5205 0 10.411 0.0547945 10.3014 0.164384L6.19178 4.27397C6.08219 4.38356 5.91781 4.38356 5.80822 4.27397L1.69863 0.164384C1.58904 0.0547945 1.42466 0 1.31507 0C1.20548 0 1.0411 0.0547945 0.931507 0.164384L0.164384 0.931507C0.0547945 1.0411 0 1.20548 0 1.31507C0 1.42466 0.0547945 1.58904 0.164384 1.69863L4.27397 5.80822C4.38356 5.91781 4.38356 6.08219 4.27397 6.19178L0.164384 10.3014C0.0547945 10.411 0 10.5753 0 10.6849C0 10.7945 0.0547945 10.9589 0.164384 11.0685L0.931507 11.8356C1.0411 11.9452 1.20548 12 1.31507 12C1.42466 12 1.58904 11.9452 1.69863 11.8356L5.80822 7.72603C5.91781 7.61644 6.08219 7.61644 6.19178 7.72603L10.3014 11.8356C10.411 11.9452 10.5753 12 10.6849 12C10.7945 12 10.9589 11.9452 11.0685 11.8356L11.8356 11.0685C11.9452 10.9589 12 10.7945 12 10.6849C12 10.5753 11.9452 10.411 11.8356 10.3014L7.72603 6.19178Z" fill="white"/>
                        </svg>

                .b-header-new__item.b-header-new__item--btn-menu
                    button.b-btn-menu
            //- .b-header-new__row.b-header-new__row--menu
            //-     nav.b-header-new__nav
            //-         ul.b-menu
            //-             li.b-menu__item.b-menu__item--company.b-menu__item--arrow
            //-                 a.b-menu__link(href='index-4.html', target='_blank') О компании
            //-                 i.b-menu__arrow
            //-                 ul.b-submenu.b-submenu--company.b-submenu--big
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_news
            //-                                 use(xlink:href='images/icons.svg#news')
            //-                         a.b-submenu__link(href='http://webcom.group/performance', target='_blank')
            //-                             | Карьера
            //-                             | в Webcom
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_cup
            //-                                 use(xlink:href='images/icons.svg#cup')
            //-                         a.b-submenu__link(href='index-5.html', target='_blank') Выбор года
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_paper
            //-                                 use(xlink:href='images/icons.svg#paper')
            //-                         a.b-submenu__link(href='index-6.html', target='_blank') Партнерская программа
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_note
            //-                                 use(xlink:href='images/icons.svg#note')
            //-                         a.b-submenu__link(href='http://www.webcom-academy.by/', target='_blank') Обучение
            //-                     li.b-submenu__item.b-submenu__item--big.b-submenu__item--big-tablet
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_square
            //-                                 use(xlink:href='images/icons.svg#square')
            //-                         a.b-submenu__link(href='index-4.html', target='_blank') Больше информации
            //-             li.b-menu__item.b-menu__item--services.b-menu__item--arrow
            //-                 a.b-menu__link(href='index-7.html', target='_blank') Все услуги
            //-                 i.b-menu__arrow
            //-                 ul.b-submenu.b-submenu--services.b-submenu--big
            //-                     li.b-submenu__item.b-submenu__item--seo
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_news
            //-                                 use(xlink:href='images/icons.svg#news')
            //-                         a.b-submenu__link(href='index-8.html', target='_blank') Комплексное продвижение
            //-                     li.b-submenu__item.b-submenu__item--app
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_phone
            //-                                 use(xlink:href='images/icons.svg#diagram')
            //-                         a.b-submenu__link(href='index-9.html', target='_blank') Продвижение сайта
            //-                     li.b-submenu__item.b-submenu__item--advert
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_target
            //-                                 use(xlink:href='images/icons.svg#target')
            //-                         a.b-submenu__link.b-submenu__link--fire(href='index-10.html', target='_blank') Контекстная реклама
            //-                     li.b-submenu__item.b-submenu__item--social
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_time
            //-                                 use(xlink:href='images/icons.svg#time')
            //-                         a.b-submenu__link(href='https://www.pay.webcom-group.by/', target='_blank') Самостоятельное ведение рекламы
            //-                     li.b-submenu__item.b-submenu__item--self
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_paper
            //-                                 use(xlink:href='images/icons.svg#paper')
            //-                         a.b-submenu__link.b-submenu__link--new(href='index-11.html', target='_blank') Техническая поддержка сайта
            //-                     li.b-submenu__item.b-submenu__item--social
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_chat
            //-                                 use(xlink:href='images/icons.svg#chat')
            //-                         a.b-submenu__link(href='index-12.html', target='_blank')
            //-                             | Реклама в социальных
            //-                             | сетях
            //-                     li.b-submenu__item.b-submenu__item--video
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_question-diagram
            //-                                 use(xlink:href='images/icons.svg#question-diagram')
            //-                         a.b-submenu__link(href='index-13.html', target='_blank') Решения для бизнеса
            //-                     li.b-submenu__item.b-submenu__item--big
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_square
            //-                                 use(xlink:href='images/icons.svg#square')
            //-                         a.b-submenu__link(href='index-7.html', target='_blank') Другие услуги
            //-             li.b-menu__item.b-menu__item--client.b-menu__item--arrow
            //-                 a.b-menu__link(href='index-14.html', target='_blank') Наши клиенты
            //-                 i.b-menu__arrow
            //-                 ul.b-submenu.b-submenu--client.b-submenu--big
            //-                     li.b-submenu__item.b-submenu__item--reviews
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_reviews
            //-                                 use(xlink:href='images/icons.svg#reviews')
            //-                         a.b-submenu__link(href='index-15.html', target='_blank') Отзывы
            //-                     li.b-submenu__item.b-submenu__item--interview
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_interview
            //-                                 use(xlink:href='images/icons.svg#interview')
            //-                         a.b-submenu__link(href='index-16.html', target='_blank') Интервью
            //-                     li.b-submenu__item.b-submenu__item--big.b-submenu__item--big-tablet
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_square
            //-                                 use(xlink:href='images/icons.svg#square')
            //-                         a.b-submenu__link(href='index-14.html', target='_blank') Все клиенты
            //-             li.b-menu__item.b-menu__item--faq.b-menu__item--arrow
            //-                 a.b-menu__link(href='index-17.html', target='_blank') Аналитика
            //-                 i.b-menu__arrow
            //-                 ul.b-submenu.b-submenu--faq.b-submenu--big
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_question-diagram
            //-                                 use(xlink:href='images/icons.svg#question-diagram')
            //-                         a.b-submenu__link(href='index-18.html', target='_blank') FAQ (вопрос-ответ)
            //-                     li.b-submenu__item
            //-                         i.b-submenu__ico
            //-                             svg.sp-header-fullwidth-icons_question-target
            //-                                 use(xlink:href='images/icons.svg#question-target')
            //-                         a.b-submenu__link(href='index-17.html', target='_blank') Полезные статьи
            //-             li.b-menu__item.b-menu__item--contact
            //-                 a.b-menu__link(href='index-19.html', target='_blank') Контакты
    // End block: header
    // Start section: BANNER
    include ./banner