<!--section NUMBERS-->
- var items = [{icon: "19", desc: "лет на рынке digital-продвижения и performance-маркетинга в СНГ"}, {icon: "3", desc: "офиса: в Москве,<br> Алматы и Минске"}, {icon: "8", desc: "сертифицированных тренеров Google и преподавателей Яндекса в штате"}, {icon: "4000+", desc: "довольных клиентов из разных отраслей бизнеса"}, {icon: "100+", desc: "сертифицированных<br> специалистов"}]

+section("s-actual s-numbers", "НАША ЭКСПЕРТИЗА", desc, "NUMBERS")
    .inner
        .b-actual
            ul.b-actual-list
                each item, index in items
                    li.b-actual-item
                        .b-actual-card
                            .b-actual-card-img !{item.icon}
                            p.b-actual-card-text !{item.desc}
                                if index === 2
                                    +tooltip("Сертифицированные тренеры/сертифицированный преподаватели — специалисты, которые доказали свои знания и навыки владения продуктами Google/Яндекс и могут обучать других пользователей от имении компании")
                                if index === 4
                                    +tooltip("Сертифицированный специалист — это специалист, который доказал свои навыки владения инструментом/инструментами рекламных систем")
<!--end section NUMBERS-->