<!--section SETTINGS_V_1-->
+section("s-settings is_dark", title, desc, "SETTINGS")
    .inner
        .b-settings
            h3.s-section__title PERFORMANCE-МАРКЕТИНГ ОТ WEBCOM — ЭТО:
            .b-settings__body
                <ul><li><p><span class="text-medium">Четкие KPI</span>  и ориентация на измеримый результат — прирост выручки и прибыли.</p></li><li><p><span class="text-medium">Использование микса маркетинговых инструментов</span>  для достижения этого результата.</p></li><li><p><span class="text-medium">Непрерывная аналитика на всех уровнях</span>  для оценки окупаемости и перспективности каждого канала и инструмента интернет-маркетинга.</p></li><li><p><span class="text-medium">Постоянная корректировка стратегии</span> и тестирование новых подходов и инструментов для достижения максимальной отдачи на каждый вложенный рубль.</p></li><li><p><span class="text-medium">Рост результатов</span> за счет синергии и эффективного использования инструментов.</p></li></ul>
<!--end section SETTINGS_V_1-->
