<!--section WORKFLOW-->
- var items = [{icon: "analysis", desc: "Анализируем ваш бизнес: начиная с аудита сайта и существующих кампаний и заканчивая глубоким изучением каждого этапа воронки продаж"}, {icon: "stadistics", desc: "Изучаем рыночную нишу и конкурентов, чтобы выделить преимущества вашего бизнеса и нащупать потенциальные точки роста."}, {icon: "help", desc: "Прорабатываем стратегию, подбираем инструменты интернет-маркетинга, распределяем бюджет, чтобы с первых минут расходовать деньги максимально эффективно."}, {icon: "analytics", desc: "Анализируем, оптимизируем и улучшаем результаты кампаний на всех этапах воронки. Отключаем неэффективную рекламу и перераспределяем бюджет в пользу каналов с самым высоким ROMI"}, {icon: "strategy", desc: "Тестируем новые инструменты и постоянно ищем новые точки роста, чтобы не останавливаться на достигнутом, расти быстрее и выжимать из интернета больше прибыли для вашего бизнеса."}]

+section("s-workflow", "КАК СТРОИТСЯ РАБОТА НАД ВАШИМ ПРОЕКТОМ", desc, "WORKFLOW")
    .s-workflow-list
        .inner
            .b-workflow
                ul.b-workflow-list.js-about-slider
                    each item, index in items
                        li.b-workflow-item
                            .b-workflow-card
                                .b-workflow-card-img
                                    .b-workflow-item-num #{index+1}
                                    svg(class="")
                                        use(href=`img/rus/sprite-diff.svg#${item.icon}`)
                                p.b-workflow-card-text !{item.desc}
                                    if index === 3
                                        +tooltip("Показатель возврата инвестиций маркетинговых каналов. Отображает сколько денег было получено за каждую вложенную у.е.")
    .s-workflow-info
        .inner
            .b-settings
                .b-settings__body
                    <ul><li><p><span class="text-medium">Над вашим проектом работает команда экспертов:</span> руководитель, аккаунт-менеджер, стратег, медиапланер, специалист по контролю качества, копирайтер. В зависимости от выбранных каналов привлекаем узких специалистов — по контекстной и таргетированной рекламе, SEO, SMM.</p></li><li><p><span class="text-medium">На каждый проект закладываем до 20 часов работы аналитика</span> на этапе настройки систем и еще до ХХ часов ежемесячно, чтобы отслеживать в динамике, как продвижение влияет на изменение бизнес-показателей, и оперативно корректировать стратегию.</p></li><li><p>Так как процесс предполагает вовлечение большого количества экспертов и специалистов, <span class="text-medium">берем в работу проекты с бюджетом на маркетинг от 200 000 рублей в месяц.</span></p></li></ul>
    .s-workflow-result
        .inner
            .b-actual
                h2.s-section__title НА ВЫХОДЕ ВЫ ПОЛУЧАЕТЕ
                ul.b-actual-list
                    - var result_items = [{icon: "profile", desc: "Увеличение количества обращений и клиентов"}, {icon: "wallet", desc: "Рост выручки и прибыли"}, {icon: "cup", desc: "Укрепление репутации компании и увеличение LTV"}]
                    each item, index in result_items
                        li.b-actual-item
                            .b-actual-card
                                .b-actual-card-img
                                    svg(class="")
                                        use(href=`img/rus/sprite-diff.svg#${item.icon}`)
                                p.b-actual-card-text !{item.desc}
                                    if index === 2
                                        +tooltip("Совокупная прибыль компании, получаемая от одного клиента за все время сотрудничества с ним")
<!--end section WORKFLOW-->