-
    var items = [
        "google",
        "yandex-direct",
        "yandex-market",
        "vk",
        "fb",
        "ok"
    ]
<!--Калькулятор суммы платежа-->
.inner
    .b-self-calc
        form(action="/", method="").b-self-calc-form
            .b-self-calc-head
                p Сумма пополнения аккаунта
                input#CALC_AMOUNT(type="text", name="CALC_AMOUNT", value="100.00 BYN")
                p 
                    small <span>*</span> Минимальная сумма зачисления - 100 BYN. <a href="#INDIVIDUAL_HAVE" class="js-anchor">Подробнее</a>
                .b-self-calc-form-group
                    ul.b-self-calc-list
                        each item, index in items
                            li.b-self-calc-item(class=(index == 1 ? "is-active" : false))
                                label
                                    if item == "fb"
                                        .img-group
                                            .img-group-item
                                                img(src=`img/selfcontrol/calc/${item}.svg`, alt="social")
                                            .img-group-item
                                                img(src=`img/selfcontrol/calc/inst.svg`, alt="social")
                                    else
                                        img(src=`img/selfcontrol/calc/${item}.svg`, alt="social")
                                    case item
                                        when "google"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
                                        when "yandex-direct"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
                                        when "yandex-market"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
                                        when "vk"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
                                        when "fb"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="10")
                                        when "ok"
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
                                        default
                                            input(id=`CALC_ITEM${index+1}`, type="radio", name=`CALC_ITEM` value="0")
            .b-self-calc-body
                .b-self-calc-form-group
                    fieldset
                        label(for="CALC_RESULT_FEE") Комиссия за перечисление
                        input(id="CALC_RESULT_FEE" type="text" name="CALC_RESULT_FEE" value="0 BYN" readonly="")
                    fieldset.is-flex-auto
                        label(for="CALC_RESULT_AMOUNT") Сумма, которая поступит на аккаунт (в валюте аккаунта)
                        input(id="CALC_RESULT_AMOUNT" type="text" name="CALC_RESULT_AMOUNT" value="46.73 USD*" readonly="")
                    fieldset
                        label(for="CALC_RESULT_SUMM") Сумма счета (без НДС)
                        input(id="CALC_RESULT_SUMM" class="b-self-calc-result" type="text" name="CALC_RESULT_SUMM" value="106.00 BYN" readonly="")
<!--end Калькулятор суммы платежа-->