extends ../layouts/layout
block scripts
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic" rel="stylesheet")
    link(href="libs/slick/slick.css", rel="stylesheet")
    //- link(href='images/styles.min.css', rel='stylesheet')
    link(href='images/styles.min-10.css', rel='stylesheet')
    link(href='images/styles.min-2.css', rel='stylesheet')
    link(href='images/styles.min-3.css', rel='stylesheet')
    link(href='images/styles.min-4.css', rel='stylesheet')
    link(href='images/styles.min-5.css', rel='stylesheet')
    link(href='images/styles.min-6.css', rel='stylesheet')
    link(href='images/styles.min-7.css', rel='stylesheet')
    link(href='images/styles.min-8.css', rel='stylesheet')
    link(href='images/styles.min-9.css', rel='stylesheet')
    link(href="css/styles-NEW.css", rel="stylesheet")
    script(src='libs/slick/slick.min.js' async)
    script(src='js/scripts.js' defer)
block content
    mixin section(className, title, desc, id)
        section.s-section(id=id, class=className)
            if title || desc
                .s-section__heading
                    .inner
                        if title
                            h2.s-section__title=title
                        if desc
                            .s-section__desc !{desc}
            .s-section__content
                block
    //- <!--info tooltip -->
    mixin tooltip(title)
        span.b-tooltip(data-title=title)
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62549 4.5C7.62549 5.05228 8.07324 5.5 8.62549 5.5C9.17773 5.5 9.62549 5.05228 9.62549 4.5C9.62549 3.94772 9.17773 3.5 8.62549 3.5C8.07324 3.5 7.62549 3.94772 7.62549 4.5Z" fill="#009731"/>
                <path d="M9.30664 11.9573C8.96338 12.3191 8.53516 12.5 8.02051 12.5C7.50635 12.5 7.10059 12.3844 6.80371 12.1533C6.51807 11.9221 6.375 11.6206 6.375 11.2487C6.375 11.1181 6.46631 10.5704 6.64941 9.60553L7.21484 6.90704H6.49512L6.5293 6.63568H7.2666C8.1123 6.63568 8.73486 6.60553 9.13477 6.54523L9.375 6.5L8.19238 12.1985C8.53516 12.1683 8.8208 12.0276 9.04932 11.7764L9.30664 11.9573Z" fill="#009731"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 12.4183 3.58154 16 8 16C12.4185 16 16 12.4183 16 8C16 3.58172 12.4185 0 8 0C3.58154 0 0 3.58172 0 8ZM8 15C4.13379 15 1 11.866 1 8C1 4.13401 4.13379 1 8 1C11.8662 1 15 4.13401 15 8C15 11.866 11.8662 15 8 15Z" fill="#009731"/>
            </svg>

    .wrapper-intl.wrapper-rus
        include ../modules/RUS/header

        // Start section: actual
        include ../modules/RUS/Actual_1920

        // Start section: Advantages
        include ../modules/RUS/Settings_v_1

        // Start section: workflow
        include ../modules/RUS/workflow

        // Start block: arsenal
        - var arsenalItems = ["Контекстная реклама", "Поисковый маркетинг", "Outdoor advertising", "VIDEO ADS", "Targeted advertising", "Mobile app ads", "Copywriting", "Comprehensive promotion", "Display advertising", "Consulting", "Web audit", "Advertising on the radio and TV, press"]
        section.b-arsenal.b-arsenal--img-abstraction-dark.s-section
            .b-arsenal__container
                h2.b-arsenal__title.s-section__title
                    | КАКИЕ ИНСТРУМЕНТЫ ИСПОЛЬЗУЕМ ДЛЯ ДОСТИЖЕНИЯ ЭТИХ РЕЗУЛЬТАТОВ
                .b-arsenal__items.b-arsenal__items--opacity.js-carousel(data-desktop-carousel='{"loop": true, "nav": true, "dots": false, "items": 8, "autoHeight": false}', data-tablet-big-carousel='{"loop": true, "nav": false, "dots": true, "items": 6, "autoHeight": false}', data-tablet-carousel='{"loop": true, "nav": false, "dots": true, "items": 5, "autoHeight": false}', data-mobile-carousel='{"loop": true, "nav": false, "dots": true, "items": 2, "autoHeight": false}')
                    //- each item, index in arsenalItems
                    //-     a.b-arsenal__item.b-item(href='index-10.html', target='_blank', aria-label=item.desc)
                    //-         i.b-item__icon
                    //-             svg.sp-arsenal-default-icons_chat
                    //-                 use(xlink:href=`img/sprite-diff.svg#icon-04-${index + 1}`)
                    //-         p.b-item__desc=item
                    a.b-arsenal__item.b-item(href='index-9.html', target='_blank', aria-label='Поисковый маркетинг')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_search-user
                                use(xlink:href='images/icons-4.svg#chat')
                        p.b-item__desc Контекстная реклама
                    a.b-arsenal__item.b-item(href='index-9.html', target='_blank', aria-label='Поисковый маркетинг')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_search-user
                                use(xlink:href='images/icons-4.svg#search-user')
                        p.b-item__desc Поисковый маркетинг
                    a.b-arsenal__item.b-item(href='index-24.html', target='_blank', aria-label='Веб-аналитика')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_circle
                                use(xlink:href='images/icons-4.svg#circle')
                        p.b-item__desc Веб-аналитика
                    //
                        <a class="b-arsenal__item b-item" href="/services/context-advert/samoupravlenie/" target="_blank" aria-label="Самостоятельное ведение рекламы"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_target-bag"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#target-bag"></use></svg></i><p class="b-item__desc">Самостоятельное ведение рекламы</p>
                        </a>
                    a.b-arsenal__item.b-item(href='index-20.html', target='_blank', aria-label='Видеореклама в интернете')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_movie
                                use(xlink:href='images/icons-4.svg#movie')
                        p.b-item__desc Видеореклама в интернете
                    a.b-arsenal__item.b-item(href='index-12.html', target='_blank', aria-label='Реклама в социальных сетях')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_user
                                use(xlink:href='images/icons-4.svg#user')
                        p.b-item__desc Реклама в социальных сетях
                    a.b-arsenal__item.b-item(href='index-21.html', target='_blank', aria-label='Мобильная реклама')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_mobile
                                use(xlink:href='images/icons-4.svg#mobile')
                        p.b-item__desc Мобильная реклама
                    a.b-arsenal__item.b-item(href='index-22.html', target='_blank', aria-label='Реклама мобильных приложений')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_mechanism
                                use(xlink:href='images/icons-4.svg#mechanism')
                        p.b-item__desc Реклама мобильных приложений
                    a.b-arsenal__item.b-item(href='index-28.html', target='_blank', aria-label='Копирайтинг')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_doc
                                use(xlink:href='images/icons-4.svg#doc')
                        p.b-item__desc Копирайтинг
                    //
                        <a class="b-arsenal__item b-item" href="/services/complex-promotion/" target="_blank" aria-label="Комплексное продвижение"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_checklist"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#checklist"></use></svg></i>
                        <p class="b-item__desc">Комплексное продвижение</p>
                        </a>
                    a.b-arsenal__item.b-item(href='index-23.html', target='_blank', aria-label='Ремаркетинг/ретаргетинг')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_basket
                                use(xlink:href='images/icons-4.svg#basket')
                        p.b-item__desc Ремаркетинг/ ретаргетинг
                    a.b-arsenal__item.b-item(href='index-25.html', target='_blank', aria-label='Аудит сайта')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_search
                                use(xlink:href='images/icons-4.svg#search')
                        p.b-item__desc Аудит сайта
                    a.b-arsenal__item.b-item(href='index-26.html', target='_blank', aria-label='Бизнес-консалтинг')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_user-task
                                use(xlink:href='images/icons-4.svg#user-task')
                        p.b-item__desc Бизнес-консалтинг
                    a.b-arsenal__item.b-item(href='index-27.html', target='_blank', aria-label='Медийная реклама')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_play
                                use(xlink:href='images/icons-4.svg#play')
                        p.b-item__desc Медийная реклама
                    a.b-arsenal__item.b-item(href='http://www.webcom-academy.by/', target='_blank', aria-label='Обучение')
                        i.b-item__icon
                            svg.sp-arsenal-default-icons_learn
                                use(xlink:href='images/icons-4.svg#learn')
                        p.b-item__desc Обучение
                //- a.b-arsenal__link(target='_target', href='index-7.html') Все инструменты
        // End block: arsenal

         // Start section: numbers
        include ../modules/RUS/numbers

        // Start block: slider-two-row
        section#OUR_CLIENTS.b-slider-two-row.b-slider-two-row--img-card-dark.s-section
            .b-slider-two-row__container
                h2.b-slider-two-row__title.s-section__title среди наших клиентов
                p.b-slider-two-row__desc.s-section__desc в разные годы сотрудничества:
                .b-slider-two-row__items.b-slider-two-row__items--line(data-desktop-count-wrap='12', data-tablet-count-wrap='8', data-tablet-big-count-wrap='10', data-mobile-count-wrap='4')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client1.svg', alt='Logo vw', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/LiveJournal-logo.svg', alt='Logo yvesrocher', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/TWDC_Logo.svg', alt='Logo ivi', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client4.svg', alt='Logo belgosstrah', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client5.svg', alt='Logo belarusfilm', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/ELLE_Magazine_Logo.svg', alt='Logo maz', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client7.svg', alt='Logo xiaomi', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client8.svg', alt='Logo evroopt', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client9.svg', alt='Logo serge', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client10.svg', alt='Logo alutex', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client11.svg', alt='Logo megatop', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/rus/client12.svg', alt='Logo atlant-m', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/vegas.svg', alt='Logo vegas', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/mts.svg', alt='Logo mts', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belavia.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belavia.svg', alt='Logo belavia', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/mersedes.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mersedes.svg', alt='Logo mersedes', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/geely.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/geely.svg', alt='Logo geely', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/velcom.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/velcom.svg', alt='Logo velcom', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/gedeon-richter.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/gedeon-richter.svg', alt='Logo gedeon-richter', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/toyota.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/toyota.svg', alt='Logo toyota', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belinvestbank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belinvestbank.svg', alt='Logo belinvestbank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/idea-bank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/idea-bank.svg', alt='Logo idea-bank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/ziko.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ziko.svg', alt='Logo ziko', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/a100.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/a100.svg', alt='Logo a100', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/mitsubishi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mitsubishi.svg', alt='Logo mitsubishi', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/savushkin.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/savushkin.svg', alt='Logo savushkin', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/sportmaster.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/sportmaster.svg', alt='Logo sportmaster', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/loto.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/loto.svg', alt='Logo loto', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/taxi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/taxi.svg', alt='Logo taxi', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/hh.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/hh.svg', alt='Logo hh', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/yurkas.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/yurkas.svg', alt='Logo yurkas', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/bt.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/bt.svg', alt='Logo bt', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/tripl.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tripl.svg', alt='Logo tripl', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/pinskdrev.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pinskdrev.svg', alt='Logo pinskdrev', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/conte.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/conte.svg', alt='Logo conte', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/rublevskii.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/rublevskii.svg', alt='Logo rublevskii', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/tez-tour.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tez-tour.svg', alt='Logo tez-tour', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belagroprombank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belagroprombank.svg', alt='Logo belagroprombank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/ami.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ami.svg', alt='Logo ami', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/skvirel.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/skvirel.svg', alt='Logo skvirel', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/abw.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/abw.svg', alt='Logo abw', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/synevo.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/synevo.svg', alt='Logo synevo', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/officeton.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/officeton.svg', alt='Logo officeton', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/pro-trade.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pro-trade.svg', alt='Logo pro-trade', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/vneshinturist.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/vneshinturist.svg', alt='Logo vneshinturist', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/metalprofil.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/metalprofil.svg', alt='Logo metalprofil', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belita-m.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belita-m.svg', alt='Logo belita-m', title='')
                // <a class="b-slider-two-row__link" target="_blank" href="/company/portfolio/">Перейти в портфолио</a></div>
        // End block: slider-two-row

        // Start section: "ABOUT US"
        +section("s-ABOUT-US", "О компании", "<p><span class='text-medium'>Webcom Russia — независимое агентство в составе группы компаний Webcom.</span> Специализируемся на комплексном digital-продвижении для среднего и крупного бизнеса. Каждый проект — это индивидуальное решение для конкретного бизнеса в прицелом на аналитику и измеримый результат.</p> <p>За 19 лет работы компании мы накопили колоссальный опыт продвижения крупного и среднего бизнеса в СНГ, а также в странах Центральной и Восточной Европы: от вывода брендов, продуктов и услуг на рынок, до комплексного интернет-маркетинга и сопровождения запуска новых компаний. Это позволяет нам давать клиентам реалистичные прогнозы на старте — и выполнять все данные обещания и взятые на себя обязательства.</p>", "ABOUT_US")
            .inner
                .b-btn-group
                    p Webcom Russia — надежный партнер для вашего бизнеса!

        // Start block: certificate-index
        section.b-certificate-index.b-certificate-index--img-computer-dark.s-section
            .b-certificate-index__container
                h2.b-certificate-index__title.s-section__title Почему нам стоит доверить вашу бизнес-задачу?
                p.b-certificate-index__desc Webcom Group является сертифицированным агентством: Google, Яндекс, MyTarget, ВКонтакте, Google Marketing Platform и Bing.
                .b-certificate-index__box
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='http://yandex.ru/adv/contact/agency/partner?url=webcom-media.ru', target='_target')
                            img.b-certificate-index__icon(src='images/c-yandex.svg', alt='Certificate yandex', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate_bing.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-bing.svg', alt='Certificate bing', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='http://www.google.com/partners/#a_profile;idtf=6807947772', target='_target')
                            img.b-certificate-index__icon(src='images/c-partner.svg', alt='Certificate google premier partner', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/double_click_certificate.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-marketing.svg', alt='Certificate google marketing platform', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-vk.svg', alt='Certificate vkontakte', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/target_mail_ru_certificate.png', target='_target')
                            img.b-certificate-index__icon(src='images/c-mytarget.svg', alt='Certificate mytarget', title='')
                .b-certificate-index__box.is-auto
                    a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                        img.b-certificate-index__icon.google-smb(src='img/rus/Google SMB partner.svg', alt='Certificate', title='')
                    .b-certificate-index__box-item Мы – 1 из 6 компаний, которые имеют статус Google Ads Premier SMB Partner в СНГ
                .b-certificate-index__box.is-auto.is-rating
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                            img.b-certificate-index__icon(src='img/rus/Runet 2018 Context.svg', alt='Certificate', title='')
                        .b-certificate-index__box-item-desc 
                            p Мы занимаем 4 место  в Рейтинге Рунета 2018 среди  агентств по контекстной рекламе
                            a(href="") Сертификат
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                            img.b-certificate-index__icon(src='img/rus/Runet 2018 Complex.svg', alt='Certificate', title='')
                        .b-certificate-index__box-item-desc 
                            p Мы занимаем 5 место в Рейтинге Рунета 2018 среди компаний,  занимающихся комплексным продвижением бизнеса в интернете
                            a(href="") Сертификат
        // End block: certificate-index

        include ../modules/RUS/footer