extends ../layouts/layout
block scripts
    link(href="libs/slick/slick.css", rel="stylesheet")
    link(href="css/styles-NEW.css", rel="stylesheet")
    script(src='libs/slick/slick.min.js' async)
    script(src='js/scripts.js' defer)
block content
    mixin section(className, title, desc, id)
        section.s-section(id=id, class=className)
            if title || desc
                .s-section__heading
                    .inner
                        if title
                            h2.s-section__title=title
                        if desc
                            p.s-section__desc !{desc}
            .s-section__content
                block
    .wrapper-intl
        include ../modules/header

        // Start section: difficulties
        +section("s-difficulties", "DO YOU FACE THE FOLLOWING DIFFICULTIES WITH PROMOTING YOUR BUSINESS IN THE RUSSIAN AND CIS MARKETS?", desc)
            include ../modules/difficulties

        // Start section: about
        +section("s-about is_dark", "WHO ARE WE?", "Webcom International is an independent agency in the group of Webcom companies that provides comprehensive business promotion in the international market for companies with a focus on consumers from other countries.")
            include ../modules/about

        // Start section: drive business
        +section("s-drive-business", "How will we drive your business to success?", "We offer a full range of business promotion services on the Internet. At your disposal all the experience of our team with large-scale projects aimed at the audience of the CIS countries. We take into account the economic and legal features of a business in a given territory, we offer effective and cost&#8209;effective strategies for expanding your presence in the market.")
            include ../modules/collapse

        // Start section: will-get
        +section("s-will-get", "What will you get?", desc)
            include ../modules/get

        // Start block: arsenal
        - var arsenalItems = ["PPC", "SEO", "Outdoor advertising", "VIDEO ADS", "Targeted advertising", "Mobile app ads", "Copywriting", "Comprehensive promotion", "Display advertising", "Consulting", "Web audit", "Advertising on the radio and TV, press"]
        section.b-arsenal.b-arsenal--img-abstraction-dark
            .b-arsenal__container
                h2.b-arsenal__title.s-section__title
                    | WE HAVE A FULL-CYCLE OF ONLINE AND OFFLINE MARKETING SERVICES
                <p class="s-section__desc b-arsenal__desc">for promotion in the CIS market</p>
                .b-arsenal__items.b-arsenal__items--opacity.js-carousel(data-desktop-carousel='{"loop": true, "nav": true, "dots": false, "items": 8, "autoHeight": false}', data-tablet-big-carousel='{"loop": true, "nav": false, "dots": true, "items": 6, "autoHeight": false}', data-tablet-carousel='{"loop": true, "nav": false, "dots": true, "items": 5, "autoHeight": false}', data-mobile-carousel='{"loop": true, "nav": false, "dots": true, "items": 2, "autoHeight": false}')
                    each item, index in arsenalItems
                        a.b-arsenal__item.b-item(href='index-10.html', target='_blank', aria-label=item.desc)
                            i.b-item__icon
                                svg.sp-arsenal-default-icons_chat
                                    use(xlink:href=`img/sprite-diff.svg#icon-04-${index + 1}`)
                            p.b-item__desc=item
                    //- a.b-arsenal__item.b-item(href='index-9.html', target='_blank', aria-label='Поисковый маркетинг')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_search-user
                    //-             use(xlink:href='images/icons-4.svg#search-user')
                    //-     p.b-item__desc SEO
                    //- //
                    //-     <a class="b-arsenal__item b-item" href="/services/context-advert/samoupravlenie/" target="_blank" aria-label="Самостоятельное ведение рекламы"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_target-bag"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#target-bag"></use></svg></i><p class="b-item__desc">Самостоятельное ведение рекламы</p>
                    //-     </a>
                    //- a.b-arsenal__item.b-item(href='index-20.html', target='_blank', aria-label='Видеореклама в интернете')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_movie
                    //-             use(xlink:href='images/icons-4.svg#movie')
                    //-     p.b-item__desc Видеореклама в интернете
                    //- a.b-arsenal__item.b-item(href='index-12.html', target='_blank', aria-label='Реклама в социальных сетях')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_user
                    //-             use(xlink:href='images/icons-4.svg#user')
                    //-     p.b-item__desc Реклама в социальных сетях
                    //- a.b-arsenal__item.b-item(href='index-21.html', target='_blank', aria-label='Мобильная реклама')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_mobile
                    //-             use(xlink:href='images/icons-4.svg#mobile')
                    //-     p.b-item__desc Мобильная реклама
                    //- a.b-arsenal__item.b-item(href='index-22.html', target='_blank', aria-label='Реклама мобильных приложений')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_mechanism
                    //-             use(xlink:href='images/icons-4.svg#mechanism')
                    //-     p.b-item__desc Реклама мобильных приложений
                    //- //
                    //-     <a class="b-arsenal__item b-item" href="/services/complex-promotion/" target="_blank" aria-label="Комплексное продвижение"><i class="b-item__icon"><svg class="sp-arsenal-default-icons_checklist"> <use xlink:href="/landing-page/index/images/arsenal/default/sprites/icons.svg#checklist"></use></svg></i>
                    //-     <p class="b-item__desc">Комплексное продвижение</p>
                    //-     </a>
                    //- a.b-arsenal__item.b-item(href='index-23.html', target='_blank', aria-label='Ремаркетинг/ретаргетинг')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_basket
                    //-             use(xlink:href='images/icons-4.svg#basket')
                    //-     p.b-item__desc Ремаркетинг/ретаргетинг
                    //- a.b-arsenal__item.b-item(href='index-24.html', target='_blank', aria-label='Веб-аналитика')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_circle
                    //-             use(xlink:href='images/icons-4.svg#circle')
                    //-     p.b-item__desc Веб-аналитика
                    //- a.b-arsenal__item.b-item(href='index-25.html', target='_blank', aria-label='Аудит сайта')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_search
                    //-             use(xlink:href='images/icons-4.svg#search')
                    //-     p.b-item__desc Аудит сайта
                    //- a.b-arsenal__item.b-item(href='index-26.html', target='_blank', aria-label='Бизнес-консалтинг')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_user-task
                    //-             use(xlink:href='images/icons-4.svg#user-task')
                    //-     p.b-item__desc Бизнес-консалтинг
                    //- a.b-arsenal__item.b-item(href='index-27.html', target='_blank', aria-label='Медийная реклама')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_play
                    //-             use(xlink:href='images/icons-4.svg#play')
                    //-     p.b-item__desc Медийная реклама
                    //- a.b-arsenal__item.b-item(href='index-28.html', target='_blank', aria-label='Копирайтинг')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_doc
                    //-             use(xlink:href='images/icons-4.svg#doc')
                    //-     p.b-item__desc Копирайтинг
                    //- a.b-arsenal__item.b-item(href='http://www.webcom-academy.by/', target='_blank', aria-label='Обучение')
                    //-     i.b-item__icon
                    //-         svg.sp-arsenal-default-icons_learn
                    //-             use(xlink:href='images/icons-4.svg#learn')
                    //-     p.b-item__desc Обучение
                //- a.b-arsenal__link(target='_target', href='index-7.html') Все инструменты
        // End block: arsenal
        // Start section: "ABOUT US"
        +section("s-ABOUT-US", "ABOUT US", "Webcom International is an international division of Webcom group of companies that specializes in integrated digital business promotion in the CIS, as well as in Central and Eastern Europe. The Webcom International team has many years of experience in various business areas: from the emergence of brands, to products and services in the market, to integrated Internet marketing and support to launch new companies.", "ABOUT_US")
            .b-btn-group
                a.b-btn.b-btn-prime.js-anchor(href="#ASK_FORM") contact us
        //- // Start block: client-history
        //- section.b-client-history.b-client-history--gr-light
        //-     .b-client-history__container
        //-         h2.b-client-history__title Истории успешного сотрудничества
        //-         ul.b-client-history__items.js-carousel(data-desktop-carousel='{"loop": true, "nav": true, "dots": false, "items": 1, "autoHeight": true}', data-tablet-big-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}', data-tablet-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}', data-mobile-carousel='{"loop": true, "nav": false, "dots": true, "items": 1, "autoHeight": true}')
        //-             li.b-client-history__client.b-client-history__client--olive.b-client
        //-                 .b-client__head
        //-                     .b-client__logo
        //-                         svg.sp-client-history-default-logos_logo-yvesrocher
        //-                             use(xlink:href='images/logos.svg#logo-yvesrocher')
        //-                     h2.b-client__title Ив роше
        //-                 picture.b-client__picture
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/yvesrocher.webp 1x, /landing-page/index/images/client-history/default/yvesrocher@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
        //-                     img.b-client__img(src='images/yvesrocher.jpg', alt='Yvesrosher', title='')
        //-                 ul.b-client__list
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Проблемы, с которыми пришел клиент:
        //-                         ul.b-client__problems.b-problems
        //-                             li.b-problems__item.b-problems__item--br-left
        //-                                 | Небольшое количество переходов с контекстной
        //-                                 | рекламы
        //-                             li.b-problems__item.b-problems__item--br-left
        //-                                 | Уход посетителя с сайта без совершения целевого
        //-                                 | действия (покупки/звонка)
        //-                             li.b-problems__item.b-problems__item--br-left Низкая осведомленность об акциях и скидках
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Что мы предприняли:
        //-                         p.b-client__paragraph
        //-                             | Настроили сценарии - показы специфических рекламных сообщений для
        //-                             | пользователей, совершивших определенное действие на сайте
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Результат:
        //-                         ul.b-client__result.b-result
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_mol
        //-                                         use(xlink:href='images/result.svg#mol')
        //-                                 p.b-result__text
        //-                                     | Количество переходов 
        //-                                     b +75%
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_users
        //-                                         use(xlink:href='images/result.svg#users')
        //-                                 p.b-result__text
        //-                                     | Количество вернувшихся пользователей 
        //-                                     b +10%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_graf
        //-                                         use(xlink:href='images/result.svg#graf')
        //-                                 p.b-result__text
        //-                                     | Стоимость перехода 
        //-                                     b -30%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_monitor
        //-                                         use(xlink:href='images/result.svg#monitor')
        //-                                 p.b-result__text
        //-                                     | Конверсия 
        //-                                     b +21%
        //-             li.b-client-history__client.b-client-history__client--crimson.b-client
        //-                 .b-client__head
        //-                     .b-client__logo
        //-                         svg.sp-client-history-default-logos_logo-megatop
        //-                             use(xlink:href='images/logos.svg#logo-megatop')
        //-                     h2.b-client__title Мегатоп
        //-                 picture.b-client__picture
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/megatop.webp 1x, /landing-page/index/images/client-history/default/megatop@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
        //-                     img.b-client__img(src='images/megatop.jpg', alt='Megatop', title='')
        //-                 ul.b-client__list
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Проблема, с которой пришел клиент:
        //-                         ul.b-client__problems.b-problems
        //-                             li.b-problems__item.b-problems__item--br-left
        //-                                 | Низкая осведомленность пользователей о новых
        //-                                 | товарах, скидках.
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Что мы предприняли:
        //-                         p.b-client__paragraph
        //-                             | Оптимизировали продвигаемые страницы согласно ключевым фразам: написали
        //-                             | тексты, составили заголовки.
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Результат:
        //-                         ul.b-client__result.b-result
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_mol
        //-                                         use(xlink:href='images/result.svg#mol')
        //-                                 p.b-result__text
        //-                                     | Количество посещений раздела «Магазины» 
        //-                                     b +42%
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_users
        //-                                         use(xlink:href='images/result.svg#users')
        //-                                 p.b-result__text
        //-                                     | Количество новых пользователей 
        //-                                     b +39%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_graf
        //-                                         use(xlink:href='images/result.svg#graf')
        //-                                 p.b-result__text
        //-                                     | Рост трафика из поисковых систем 
        //-                                     b +43%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_monitor
        //-                                         use(xlink:href='images/result.svg#monitor')
        //-                                 p.b-result__text
        //-                                     | Количество посещений 
        //-                                     b +46%
        //-             li.b-client-history__client.b-client-history__client--green.b-client
        //-                 .b-client__head
        //-                     .b-client__logo
        //-                         svg.sp-client-history-default-logos_logo-namas-m
        //-                             use(xlink:href='images/logos.svg#logo-namas-m')
        //-                     h2.b-client__title Намас-м
        //-                 picture.b-client__picture
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/namas-m.webp 1x, /landing-page/index/images/client-history/default/namas-m@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
        //-                     img.b-client__img(src='images/namas-m.jpg', alt='Namas-m', title='')
        //-                 ul.b-client__list
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
        //-                         ul.b-client__problems.b-problems
        //-                             li.b-problems__item.b-problems__item--br-left
        //-                                 | Микроконверсии: копирование контактов, просмотр
        //-                                 | pdf прайс-листа
        //-                             li.b-problems__item.b-problems__item--br-left Макроконверсии: скачивание pdf прайс-листа
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Что мы предприняли:
        //-                         p.b-client__paragraph
        //-                             | Запустили тестовую рекламную кампанию, собрали ключевые запросы и
        //-                             | минус-слова, использовали все доступные расширения.
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Результат:
        //-                         ul.b-client__result.b-result
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_mol
        //-                                         use(xlink:href='images/result.svg#mol')
        //-                                 p.b-result__text
        //-                                     | CTR по итогам рекламной кампании в Google 
        //-                                     b 15%
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_users
        //-                                         use(xlink:href='images/result.svg#users')
        //-                                 p.b-result__text
        //-                                     | Показы не опускались ниже позиции 
        //-                                     b 2.1
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_graf
        //-                                         use(xlink:href='images/result.svg#graf')
        //-                                 p.b-result__text
        //-                                     | Рекламный трафик от всего входящего трафика 
        //-                                     b 13%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_monitor
        //-                                         use(xlink:href='images/result.svg#monitor')
        //-                                 p.b-result__text Максимально возможное количество целевых кликов
        //-             li.b-client-history__client.b-client-history__client--orange.b-client
        //-                 .b-client__head
        //-                     .b-client__logo
        //-                         svg.sp-client-history-default-logos_logo-xistore
        //-                             use(xlink:href='images/logos.svg#logo-xistore')
        //-                 picture.b-client__picture
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/xistore.webp 1x, /landing-page/index/images/client-history/default/xistore@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
        //-                     img.b-client__img(src='images/xistore.jpg', alt='Xistore', title='')
        //-                 ul.b-client__list
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
        //-                         ul.b-client__problems.b-problems
        //-                             li.b-problems__item.b-problems__item--br-left Необходимость понять свою целевую аудиторию
        //-                             li.b-problems__item.b-problems__item--br-left Повышение конверсии сайта
        //-                             li.b-problems__item.b-problems__item--br-left
        //-                                 | Выработка маркетинговой стратегии для
        //-                                 | офлайн-продвижения
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Что мы предприняли:
        //-                         p.b-client__paragraph
        //-                             | Доработали сайт для запуска рекламы, оптимизировали работу его мобильной
        //-                             | версии. Адаптировали продвижение под интересы целевой аудитории.
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Результат:
        //-                         ul.b-client__result.b-result
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_mol
        //-                                         use(xlink:href='images/result.svg#mol')
        //-                                 p.b-result__text В 17 раз вырос брендовый спрос по названию магазина
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_users
        //-                                         use(xlink:href='images/result.svg#users')
        //-                                 p.b-result__text В 2,5 раза выросла конверсия на мобильных устройства
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_graf
        //-                                         use(xlink:href='images/result.svg#graf')
        //-                                 p.b-result__text Доля визитов с мобильных устройств выросла до 50%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_monitor
        //-                                         use(xlink:href='images/result.svg#monitor')
        //-                                 p.b-result__text 17 магазинов было открыто к декабрю 2018 года
        //-             li.b-client-history__client.b-client-history__client--viridan.b-client
        //-                 .b-client__head
        //-                     .b-client__logo
        //-                         svg.sp-client-history-default-logos_logo-eyelash-booster
        //-                             use(xlink:href='images/logos.svg#logo-eyelash-booster')
        //-                 picture.b-client__picture
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/eyelash-booster.webp 1x, /landing-page/index/images/client-history/default/eyelash-booster@2x.webp 2x', type='image/webp', media='(min-width: 1200px)')
        //-                     //- source(srcset='/landing-page/index/images/client-history/default/1x1.png', media='(max-width: 1199px)')
        //-                     img.b-client__img(src='images/eyelash-booster.jpg', alt='Eyelash-booster', title='')
        //-                 ul.b-client__list
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Бизнес-задача, с которой обратился клиент:
        //-                         ul.b-client__problems.b-problems
        //-                             li.b-problems__item.b-problems__item--br-left Увеличение продаж продукта
        //-                             li.b-problems__item.b-problems__item--br-left Формирование осведомленности о бренде
        //-                             li.b-problems__item.b-problems__item--br-left Формирование потребности и желания покупки
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Что мы предприняли:
        //-                         p.b-client__paragraph
        //-                             | Выбрали интересы и темы, которые напрямую связаны с косметической
        //-                             | тематикой, расширили таргетинг на косвенные интересы и темы.
        //-                     li.b-client__item
        //-                         h3.b-client__subtitle Результат:
        //-                         ul.b-client__result.b-result
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_mol
        //-                                         use(xlink:href='images/result.svg#mol')
        //-                                 p.b-result__text Коэффициент просмотра увеличился в 1,5 раза
        //-                             li.b-result__item
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_users
        //-                                         use(xlink:href='images/result.svg#users')
        //-                                 p.b-result__text Количество переходов на сайт увеличилось в 2 раза
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_graf
        //-                                         use(xlink:href='images/result.svg#graf')
        //-                                 p.b-result__text
        //-                                     | Интересы:
        //-                                     br
        //-                                     | CTR = 1,7% VTR = 46,6%
        //-                             li.b-result__item.b-result__item--no-mb
        //-                                 .b-result__icon
        //-                                     svg.sp-client-history-default-result_monitor
        //-                                         use(xlink:href='images/result.svg#monitor')
        //-                                 p.b-result__text
        //-                                     | Темы:
        //-                                     br
        //-                                     | CTR = 10,3% VTR = 42,8%
        //- // End block: client-history

        // Start block: slider-two-row
        section#OUR_CLIENTS.b-slider-two-row.b-slider-two-row--img-card-dark
            .b-slider-two-row__container
                h2.b-slider-two-row__title.s-section__title Our clients
                p.b-slider-two-row__desc.s-section__desc in different years of partnership
                .b-slider-two-row__items.b-slider-two-row__items--line(data-desktop-count-wrap='10', data-tablet-count-wrap='8', data-tablet-big-count-wrap='10', data-mobile-count-wrap='4')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/logo-2.svg', alt='Logo vw', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/LiveJournal-logo.svg', alt='Logo yvesrocher', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/TWDC_Logo.svg', alt='Logo ivi', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/logo-1.svg', alt='Logo belgosstrah', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/ELLE_Magazine_Logo.svg', alt='Logo belarusfilm', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/feb644ba3b0146ce.svg', alt='Logo maz', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/logo_TELS.svg', alt='Logo xiaomi', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/logo.svg', alt='Logo evroopt', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/MetLife-Logo 2.svg', alt='Logo serge', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='img/clients/maxim.svg', alt='Logo alutex', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/megatop.svg', alt='Logo megatop', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/atlant-m.svg', alt='Logo atlant-m', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/vegas.svg', alt='Logo vegas', title='')
                    a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                        img.b-item__img(src='images/mts.svg', alt='Logo mts', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belavia.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belavia.svg', alt='Logo belavia', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/mersedes.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mersedes.svg', alt='Logo mersedes', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/geely.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/geely.svg', alt='Logo geely', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/velcom.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/velcom.svg', alt='Logo velcom', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/gedeon-richter.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/gedeon-richter.svg', alt='Logo gedeon-richter', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/toyota.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/toyota.svg', alt='Logo toyota', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belinvestbank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belinvestbank.svg', alt='Logo belinvestbank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/idea-bank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/idea-bank.svg', alt='Logo idea-bank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/ziko.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ziko.svg', alt='Logo ziko', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/a100.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/a100.svg', alt='Logo a100', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/mitsubishi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/mitsubishi.svg', alt='Logo mitsubishi', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/savushkin.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/savushkin.svg', alt='Logo savushkin', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/sportmaster.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/sportmaster.svg', alt='Logo sportmaster', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/loto.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/loto.svg', alt='Logo loto', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/taxi.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/taxi.svg', alt='Logo taxi', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/hh.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/hh.svg', alt='Logo hh', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/yurkas.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/yurkas.svg', alt='Logo yurkas', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/bt.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/bt.svg', alt='Logo bt', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/tripl.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tripl.svg', alt='Logo tripl', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/pinskdrev.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pinskdrev.svg', alt='Logo pinskdrev', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/conte.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/conte.svg', alt='Logo conte', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/rublevskii.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/rublevskii.svg', alt='Logo rublevskii', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/tez-tour.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/tez-tour.svg', alt='Logo tez-tour', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belagroprombank.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belagroprombank.svg', alt='Logo belagroprombank', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/ami.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/ami.svg', alt='Logo ami', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/skvirel.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/skvirel.svg', alt='Logo skvirel', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/abw.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/abw.svg', alt='Logo abw', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/synevo.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/synevo.svg', alt='Logo synevo', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/officeton.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/officeton.svg', alt='Logo officeton', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/pro-trade.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/pro-trade.svg', alt='Logo pro-trade', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/vneshinturist.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/vneshinturist.svg', alt='Logo vneshinturist', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/metalprofil.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/metalprofil.svg', alt='Logo metalprofil', title='')
                    //- a.b-slider-two-row__item.b-item(href='index-14.html', target='_blank', area-label='Портфолио')
                    //-     img.b-item__img(src='images/belita-m.svg', data-src-hover='/landing-page/index/images/slider-two-row/default/logos-color/belita-m.svg', alt='Logo belita-m', title='')
                // <a class="b-slider-two-row__link" target="_blank" href="/company/portfolio/">Перейти в портфолио</a></div>
        // End block: slider-two-row

        // Start section: Testimonials
        +section("s-feedback", "Testimonials", "Customer feedback about the company Webcom Group")
            include ../modules/feedback

        // Start section: Text
        section.s-section.s-text.is_dark
            .inner
                h2.s-section__title 
                    | Check out the presentation about 
                    span.text-medium Webcom International
                a.b-btn.b-btn-download(href="/", download)
                    svg(class="icon")
                        //-style.
                            /* <![CDATA[ */
                            .b-btn-download:hover svg {
                            fill: #4986E3;
                            }
                            /* ]]> */
                        use(href=`img/sprite-diff.svg#download`)
                    span.text-medium download, 
                    span.text-bold pdf

        // Start block: certificate-index
        section.b-certificate-index.b-certificate-index--img-computer-dark
            .b-certificate-index__container
                h2.b-certificate-index__title.s-section__title Share expertise and develop market
                p.b-certificate-index__desc Webcom is a certified agency of the most influential context advertising systems
                .b-certificate-index__box
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='http://yandex.ru/adv/contact/agency/partner?url=webcom-media.ru', target='_target')
                            img.b-certificate-index__icon(src='images/c-yandex.svg', alt='Certificate yandex', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate_bing.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-bing.svg', alt='Certificate bing', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='http://www.google.com/partners/#a_profile;idtf=6807947772', target='_target')
                            img.b-certificate-index__icon(src='images/c-partner.svg', alt='Certificate google premier partner', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/double_click_certificate.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-marketing.svg', alt='Certificate google marketing platform', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/certificate-vk.pdf', target='_target')
                            img.b-certificate-index__icon(src='images/c-vk.svg', alt='Certificate vkontakte', title='')
                    .b-certificate-index__box-item
                        a.b-certificate-index__link(href='images/target_mail_ru_certificate.png', target='_target')
                            img.b-certificate-index__icon(src='images/c-mytarget.svg', alt='Certificate mytarget', title='')
                .b-certificate-index__smb.b-smb
                    p.b-smb__desc
                        | We are 1 from 7 companies that have Google Ads Premier SMB Partner in CIS
                    img.b-smb__img(src='images/c-smb.svg', alt='Certificate Google AdFords PREMIER', title='')
        // End block: certificate-index

        // Start section: ASK A QUESTION
        +section("s-form", "ASK A QUESTION", desc, "ASK_FORM")
            include ../modules/form

        //- include ../modules/content

        include ../modules/footer