extends ../layouts/layout
block scripts
    link(href="libs/slick/slick.css", rel="stylesheet")
    link(href="css/styles-NEW.css", rel="stylesheet")
    script(src='libs/slick/slick.min.js' async)
    script(src='js/scripts.js' defer)
block content
    mixin section(className, title, desc, id)
        section.s-section(id=id, class=className)
            if title || desc
                .s-section__heading
                    .inner
                        if title
                            h2.s-section__title=title
                        if desc
                            p.s-section__desc !{desc}
            .s-section__content
                block
    +section("s-steps", title, desc, "APPLY_FOR_SERVICE")
        include ../modules/steps