doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Development by Webcom Media
        meta(content='./images/vendor/apple-touch-icon.png', itemprop='image')
        link(rel='apple-touch-icon', sizes='180x180', href='./images/vendor/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='./images/vendor/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='./images/vendor/favicon/favicon-16x16.png')
        link(rel='manifest', href='./images/vendor/favicon/site.webmanifest')
        link(rel='mask-icon', href='./images/vendor/favicon/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-TileImage', content='./images/vendor/favicon/mstile-150x150.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='description', content='Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.')
        meta(name='keywords', content='Услуги Webcom Performance')
        meta(property='og:image', content='./images/vendor/og-image.jpg')
        meta(property='og:image:width', content='279')
        meta(property='og:image:height', content='279')
        meta(property='og:type', content='website')
        meta(property='og:url', content='/')
        meta(property='og:title', content='Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом')
        meta(property='og:site_name', content='Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом')
        meta(property='og:description', content='Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.')
        meta(name='twitter:card', content='summary')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic')
        link(rel='stylesheet', href='css/vendor/owl.carousel.css')
        link(rel='stylesheet', href='css/vendor/jquery.fancybox.css')
        link(rel='stylesheet', href='css/vendor/animate.css')
        link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='css/global.css')
        link(rel='stylesheet', href='css/styles.css')
        link(rel='stylesheet', href='css/styles-NEW.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
        script(async src="libs/jquery.ui.touch-punch.min.js")
    body
        mixin section(className, title, desc, id)
            section.s-section(id=id, class=className)
                if title || desc
                    .s-section__heading
                        .inner
                            if title
                                h2.s-section__title !{title}
                            if desc
                                p.s-section__desc !{desc}
                .s-section__content
                    block
        //- <!--info tooltip -->
        mixin tooltip(title)
            span.b-tooltip(data-title=title)
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.62549 4.5C7.62549 5.05228 8.07324 5.5 8.62549 5.5C9.17773 5.5 9.62549 5.05228 9.62549 4.5C9.62549 3.94772 9.17773 3.5 8.62549 3.5C8.07324 3.5 7.62549 3.94772 7.62549 4.5Z" fill="#009731"/>
                    <path d="M9.30664 11.9573C8.96338 12.3191 8.53516 12.5 8.02051 12.5C7.50635 12.5 7.10059 12.3844 6.80371 12.1533C6.51807 11.9221 6.375 11.6206 6.375 11.2487C6.375 11.1181 6.46631 10.5704 6.64941 9.60553L7.21484 6.90704H6.49512L6.5293 6.63568H7.2666C8.1123 6.63568 8.73486 6.60553 9.13477 6.54523L9.375 6.5L8.19238 12.1985C8.53516 12.1683 8.8208 12.0276 9.04932 11.7764L9.30664 11.9573Z" fill="#009731"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 12.4183 3.58154 16 8 16C12.4185 16 16 12.4183 16 8C16 3.58172 12.4185 0 8 0C3.58154 0 0 3.58172 0 8ZM8 15C4.13379 15 1 11.866 1 8C1 4.13401 4.13379 1 8 1C11.8662 1 15 4.13401 15 8C15 11.866 11.8662 15 8 15Z" fill="#009731"/>
                </svg>

        .wrapper-kr
            // Start block: main-screen
            section.b-main-screen(style="background-image: url(img/kr/1_bg.jpg)")
                .b-main-screen__container
                    h2.b-main-screen__title.b-new-title.b-new-title--mb-nodesc.b-new-title--center
                        | Единственная программа* запуска контекстной рекламы 
                        br
                        | для малого и среднего бизнеса в РБ, которая сэкономит ваши деньги!
                    p.b-main-screen__attention.b-main-screen__attention--center.b-main-screen__attention--upper.b-main-screen__attention--stroke-red Получите свой 100% кэшбэк за разработку
                    p.b-main-screen__attention.b-main-screen__attention--center.b-main-screen__attention--upper.b-main-screen__attention--stroke-red рекламной кампании
                    .b-main-screen__support
                        p.b-main-screen__subtext при поддержке
                        ul.b-main-screen__box
                            li.b-main-screen__box-item.b-main-screen__box-item--col-3
                                img.b-main-screen__name(src='images/main-screen/default/s-google.svg', alt='Google', title='')
                            li.b-main-screen__box-item.b-main-screen__box-item--col-3
                                img.b-main-screen__name(src='images/main-screen/default/s-yandex.svg', alt='Yandex', title='')
                            li.b-main-screen__box-item.b-main-screen__box-item--col-3
                                img.b-main-screen__name(src='images/main-screen/default/s-mailru.svg', alt='mailRu', title='')
                        p.b-main-screen__tooltip
                            span.g-tooltip-new.g-tooltip-new--gray(data-tooltip-new='Пользователь смотрит ваше объявление TrueView в течение 30 и более секунд')
                    p.b-main-screen__remark.b-main-screen__remark--yellow Webcom Performance – официальный оператор программы
            // End block: main-screen
            //- // Start block: individual-have-new
            //- section.b-individual-have-new.b-individual-have-new--light-blue
            //-     .b-individual-have-new__container.b-individual-have-new__container--center
            //-         h2.b-individual-have-new__title.b-new-title.b-new-title--upper.b-new-title--center.b-new-title--mb-desc давайте сперва рассмотрим, как формируется стоимость услуги контекстной рекламы:
            //-         p.b-individual-have-new__desc для клиентов на самоуправлении
            //-         ul.b-individual-have-new__list.b-individual-have-new__list--garant
            //-             li.b-individual-have-new__item.b-individual-have-new__item--solid.b-item
            //-                 ul.b-item__wrap
            //-                     li.b-item__wrap-item
            //-                         b создание рекламной кампании
            //-             li.b-individual-have-new__item.b-individual-have-new__item--dashed.b-individual-have-new__item--sum.b-item
            //-                 ul.b-item__wrap
            //-                     li.b-item__wrap-item
            //-                         b рекламный бюджет*
            //-             li.b-individual-have-new__item.b-individual-have-new__item--dashed.b-individual-have-new__item--plus.b-item
            //-                 ul.b-item__wrap
            //-                     li.b-item__wrap-item.b-item__wrap-item--line
            //-                         b оптимизация кампании
            //-                     li.b-item__wrap-item 0 BYN
            //-         p.b-individual-have-new__nonds.starbefore
            //-             | А для Facebook дополнительно еще оплачивается комиссия за зачисление в размере от 5% до 10%
            //-         p.b-individual-have-new__source.b-individual-have-new__source--accent И никаких скрытых комиссий, платежей и махинаций с курсом!
            //- // End block: individual-have-new

            include ../modules/KR/Summ_v_1
            include ../modules/KR/Frame_6
            include ../modules/KR/Programs_v_1
            include ../modules/KR/Vars
            include ../modules/KR/Calc
            include ../modules/KR/Control
            include ../modules/KR/How_we_work
            include ../modules/KR/Settings_v_1
            
            // Start block: help-variant-new
            section.b-help-variant-new
                .b-help-variant-new__container
                    .b-help-variant-new__wrap
                        h2.b-help-variant-new__title.b-new-title.b-new-title--upper.b-new-title--mb-desc но это не всё!
                        p.b-help-variant-new__desc.b-help-variant-new__desc--red
                            | При заказе рекламы в Google, вы получите - 
                            span бонус до 90$
                    button.b-help-variant-new__btn.b-new-btn.b-new-btn--orange.b-new-btn--shadow(data-b-new-modal='b-help-variant-new', type='button') получить бонус
            // End block: help-variant-new
            // Start block: cost
            section.b-cost.b-cost--img-abstraction-grey
                .b-cost__container
                    .b-cost__wrap
                        p.b-cost__source.b-cost__source--money-yellow
                            span
                                | Хотите повысить знания в области интернет-маркетинга? Все участники программы получают скидку 10 % на любой курс в Академии Webcom!
                                a.b-new-link(href='/courses/', target='_blank') Подробнее о курсах
            // End block: cost
            // Start block: examples-advert-new
            section.b-examples-advert-new
                .b-examples-advert-new__container.b-examples-advert-new__container--center
                    h2.b-examples-advert-new__title.b-new-title.b-new-title--upper.b-new-title--center.b-new-title--mb-nodesc
                        | Преимущества программы запуска контекстной
                        br
                        |  рекламы от Webcom Group:
                    ul.b-examples-advert-new__list
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_monitor
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#monitor')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title Ваша стратегия продвижения уникальна
                                p.b-examples-advert-new__list-item-desc
                                    | Наши эксперты изучают КАЖДЫЙ бизнес, составляя индивидуальную стратегию продвижения бизнеса в интернете.
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_e-eye
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#e-eye')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title Вас не будут игнорировать
                                p.b-examples-advert-new__list-item-desc
                                    | У вашего персонального аккаунт-менеджера всегда будет время на ваш проект, и он всегда знает, на каком этапе находится решение ваших задач.
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_e-diamond
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#e-diamond')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title Контролируем качество выполняемой работы
                                p.b-examples-advert-new__list-item-desc
                                    | Вся работа специалистов по выполнению ваших задач проходит проверку QA (Quality Assurance)в лице признанных экспертов интернет-маркетинга на территории СНГ
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_e-human
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#e-human')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title У вас будет свой клиентский аккаунт
                                p.b-examples-advert-new__list-item-desc
                                    | Это специализированная клиентская часть, где у вас будет личный кабинет. В аккаунте вы сможете отслеживать весь процесс работы над вашей задачей,а также задавать интересующие вас вопросы.
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_e-condition
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#e-condition')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title Лучшие условия на рынке
                                p.b-examples-advert-new__list-item-desc
                                    | Мы являемся единственным реселлером со статусом Google Ads Premier SMB Partner в Беларуси и единственным сертифицированным агентством ВКонтакте в Беларуси, а также имеем сертификацию Яндекса, myTarget, Google Marketing Platform, Bing.
                        li.b-examples-advert-new__list-item.b-examples-advert-new__list-item--col-2.b-examples-advert-new__list-item--v-center
                            i.b-examples-advert-new__icon.b-examples-advert-new__icon--square.b-examples-advert-new__icon--bg-white.b-examples-advert-new__icon--svg-red.b-examples-advert-new__icon--shadow-red
                                svg.sp-examples-advert-new-default-advantages_e-tools
                                    use(xlink:href='images/examples-advert-new/default/sprites/advantages.svg#e-tools')
                            .b-examples-advert-new__list-item-wrapper
                                p.b-examples-advert-new__list-item-title Мы знаем, какие digital-инструменты решат вашу задачу
                                p.b-examples-advert-new__list-item-desc
                                    | Мы не сливаем бюджеты, а направляем их на каналы, которые помогут достичь поставленных с вами KPI’sна 100%. Поэтому Вы платите не за презентацию с расписанными возможностями, а за достигнутые результаты
            // End block: examples-advert-new
            // Start block: certificate
            section.b-certificate.b-certificate--img-hands-dark
                .b-certificate__container
                    h2.b-certificate__title.b-new-title.b-new-title--upper.b-new-title--white.b-new-title--center webcom group
                    p.b-certificate__desc
                        | является сертифицированным агентством самых влиятельных систем контекстной и таргетированной рекламы
                    .b-certificate__box
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='//yandex.ru/adv/contact/agency/partner?url=webcom-media.ru', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-yandex.svg', alt='Certificate yandex', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='//yandex.ru/adv/contact/agency/partner?url=webcom-media.ru', target='_target') Сертификат
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='/files/files/certificate_Bing.pdf', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-bing.svg', alt='Certificate bing', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='/files/files/certificate_Bing.pdf', target='_target') Сертификат
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='//www.google.com/partners/#a_profile;idtf=6807947772', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-partner.svg', alt='Certificate google premier partner', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='//www.google.com/partners/#a_profile;idtf=6807947772', target='_target') Сертификат
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='/files/files/Double_Click_certificate.pdf', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-marketing.svg', alt='Certificate google marketing platform', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='/files/files/Double_Click_certificate.pdf', target='_target') Сертификат
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='/files/files/certificate-vk.pdf', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-vk.svg', alt='Certificate vkontakte', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='/files/files/certificate-vk.pdf', target='_target') Сертификат
                        .b-certificate__box-item
                            a.b-certificate__link.b-new-link.b-new-link--white(href='/files/img/certificates/google/Target_mail_ru_certificate.png', target='_target', aria-label='Сертификат')
                                img.b-certificate__icon(src='images/certificate/default/c-mytarget.svg', alt='Certificate mytarget', title='')
                            a.b-certificate__text.b-new-link.b-new-link--white(href='/files/img/certificates/google/Target_mail_ru_certificate.png', target='_target') Сертификат
                    p.b-certificate__textual.b-certificate__textual--yellow.g-mobile-hide
                        | В нашей команде работают более 100 сертифицированных специалистов,
                        br
                        |  включая сертифицированных преподавателей Google и Яндекс.
                    p.b-certificate__textual.b-certificate__textual--yellow.g-desktop-hide.g-mobile-show
                        | В нашей команде более 100 сертифицированных специалистов, включая сертифицированных преподавателей Google и Яндексa.
            // End block: certificate
            
            include ../modules/KR/Stats
            include ../modules/KR/Frame_5

            // Start block: faq-v2
            section.b-faq-v2
                .b-faq-v2__container.g-pb-none
                    h2.b-faq-v2__title.b-new-title.b-new-title--center.b-new-title--upper.b-new-title--mb-desc часто задаваемые вопросы
                    .b-faq-v2__elements.js-accordion
                        .b-faq-v2__element.b-element
                            .b-element__question.b-element__question--blue.b-element__question--gradient.js-active
                                .b-element__wrapper
                                    b Деньги за создание возвращаются единоразово?
                            .b-element__answer
                                ul.b-answer-items
                                    li.b-answer-items__item
                                        p.b-answer-items__textual
                                            | Деньги за создание рекламной кампании возвращаются единоразово 50% стоимости разработки контекстной рекламы можно получить потратив половину рассчитанного бюджета.
                        .b-faq-v2__element.b-element
                            .b-element__question.b-element__question--blue
                                .b-element__wrapper
                                    b Можно ли продолжить участие в акции “Возврат денег за профессиональное создание рекламных кампаний”, подключая дополнительные инструменты?
                            .b-element__answer
                                ul.b-answer-items
                                    li.b-answer-items__item
                                        p.b-answer-items__textual Можно в течение 1 месяца с начала участия в акции. Менеджер подготовит индивидуальные просчеты, в которых будут отображены новые условия получения бонуса.
                        .b-faq-v2__element.b-element
                            .b-element__question
                                .b-element__wrapper
                                    b На рекламный аккаунт возвращается стоимость разработки с НДС?
                            .b-element__answer
                                ul.b-answer-items
                                    li.b-answer-items__item
                                        p.b-answer-items__textual Сумма на аккаунт возвращается без учета НДС.
                        .b-faq-v2__element.b-element
                            .b-element__question
                                .b-element__wrapper
                                    b Как узнать точную сумму на открутку рекламы и время возврата денежных средств?
                            .b-element__answer.b-element__answer--number
                                ul.b-answer-items
                                    li.b-answer-items__item
                                        p.b-answer-items__textual Точный расчет для вас подготовит наш менеджер, на основании ваших планов по количеству кампаний и запускаемым системам.
                    p.b-faq-v2__more
                        | Еще больше ответов 
                        a.b-new-link(href='/faq/', target='_blank') читайте тут
            // End block: faq-v2
            // Start block: map
            section#bottomForm.b-map.b-map--img-map-gray
                .b-map__container
                    form.b-map__form.b-form(action='#', data-tpl-id='127', data-form-id='mtbank-partner-form')
                        .b-form__head
                            .b-form__icon.b-form__icon--circle
                                img.b-form__img(src='./images/map/default/dima-m.png', alt='Консультант', title='')
                            .b-form__wrap
                                h2.b-form__title Появились вопросы?
                                p.b-form__desc Я с удовольствием на них отвечу! Заполните форму, и я вам перезвоню.
                        .b-form__wrapper
                            .b-form__fields
                                .b-form__field.b-form__field--border
                                    input.b-form__input(required='required', type='text', placeholder='Введите ваше ФИО', name='name')
                                    .b-form__field-icon
                                        svg.sp-map-default-fields_user
                                            use(xlink:href='images/map/default/sprites/fields.svg#user')
                                    .b-field-tooltip
                                        span Например:
                                        b Иванов Иван Иванович
                                .b-form__field.b-form__field--border
                                    input.b-form__input(required='required', type='text', placeholder='Введите ваш e-mail', name='email')
                                    .b-form__field-icon
                                        svg.sp-map-default-fields_mail
                                            use(xlink:href='images/map/default/sprites/fields.svg#mail')
                                    .b-field-tooltip
                                        span Например:
                                        b mysite@gmail.com
                                .b-form__field.b-form__field--border
                                    input.b-form__input(required='required', type='text', placeholder='Введите контактный номер телефона', name='phone')
                                    .b-form__field-icon
                                        svg.sp-map-default-fields_phone
                                            use(xlink:href='images/map/default/sprites/fields.svg#phone')
                                    .b-field-tooltip
                                        span Например:
                                        b +375291231212
                                .b-form__field.b-form__field--border
                                    input.b-form__input(required='required', type='text', placeholder='Введите адрес вашего сайта', name='site')
                                    .b-form__field-icon
                                        svg.sp-map-default-fields_globe
                                            use(xlink:href='images/map/default/sprites/fields.svg#globe')
                                    .b-field-tooltip
                                        span Например:
                                        b mysite.by
                                .b-form__field.b-form__field--border.b-form__field--text
                                    textarea.b-form__text(required='required', placeholder='Задайте ваш вопрос или расскажите о своей задаче', name='text')
                                    .b-form__field-icon.b-form__field-icon--top
                                        svg.sp-map-default-fields_chat
                                            use(xlink:href='images/map/default/sprites/fields.svg#chat')
                                    .b-field-tooltip.b-field-tooltip--top
                                        b Обязательное поле
                                    .b-form__return-files
                            .b-form__btn-wrapper
                                button.b-form__btn.b-new-btn.b-new-btn--orange.b-new-btn--shadow.ajaxSendler_btn Отправить
                            .b-form__information
                                .b-form__loader
                                    img(src='./images/new-modal/default/loader_bg-blue.svg', alt='')
                                .b-form__success
                                    h3 Благодарим за обращение в компанию Webcom Performance!
                                    | Наш менеджер свяжется с вами по указанному телефону в течение часа. 
                                    br
                                    |  (рабочее время: с понедельника по пятницу 9:00-18:00)
                        .b-form__agreement
                            p
                                | *Отправляя заявку, Вы подтверждаете, что полностью ознакомлены и согласны с условиями 
                                a.b-form__agreement-link.slideBlockLink(href='#b-pop-up', data-thumb-init='') Соглашения об обработке персональных данных
                            #b-pop-up.b-form__dropdown.b-pop-up.b-contacts(style='display: none;')
                                .b-pop-up__head
                                    .b-pop-up__iconsPopup
                                        svg.sp-map-default-fields_certificate
                                            use(xlink:href='images/map/default/sprites/fields.svg#certificate')
                                    p.b-pop-up__title.b-pop-up__title.b-pop-up__title--orange Соглашение об обработке персональных данных
                                .b-pop-up__contentPopup  
                                p.b-pop-up__item
                                    | Данное соглашение разработано в соответствии с требованиями действующего законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации».
                                p.b-pop-up__item
                                    | Все лица, заполнившие Форму заявки, подтверждают, что полностью ознакомлены и согласны с условиями настоящего Соглашения, в частности подтверждают свое согласие: на осуществление Компанией сбора, обработки и хранения указанных в регистрационной
                                    | форме персональных данных; на включение предоставленной информации (обратная связь, персональные данные) в базу Компании; на использование персональных данных для рассылки новостей Компании, приглашений на мероприятия Компании (мероприятия
                                    | партнеров Компании); на последующую передачу Компанией указанных в регистрационной форме персональных данных третьим лицам для обработки и хранения персональных данных.
                                p.b-pop-up__item
                                    | При этом гражданин вправе отозвать согласие на использование персональных данных, направив Компании письменное уведомление по адресу: 220073, г. Минск, ул. Скрыганова, 6А, пом. 12. В случае получения уведомления об отзыве согласия на использование
                                    | персональных данных Компания, а также третьи лица, которым переданы персональные данные, прекращают обработку персональных данных и уничтожают данные в течение 5 (пяти) рабочих дней с даты получения отзыва.
                                p.b-pop-up__item
                                    | Гражданин гарантирует, что данные, содержащиеся в регистрационной форме, являются достоверными; при предоставлении информации не нарушается действующее законодательство Республики Беларусь, законные права и интересы третьих лиц.
                    .b-map__info
                        .b-map__title Приходите в гости!
                        .b-map__address г. Минск, Скрыганова 6а, этаж 4
                #gmapContainer
            // End block: map
        script(src='js/vendor/device.js')
        script(src='js/vendor/owl.carousel.js')
        script(src='js/vendor/wow.js')
        script(src='js/vendor/jquery.fancybox.pack.js')
        script(src='js/vendor/jquery.fancybox-media.js')
        script(src='js/vendor/container.js')
        script(src='js/vendor/stickybits.js')
        script(src='js/vendor/svgxuse.js')
        script(src='js/bundle.js')
        script(src='js/scripts.js')
