doctype html
html.no-js(lang='ru', prefix='ya: http://webmaster.yandex.ru/vocabularies/')
    head
        meta(http-equiv='content-type', content='text/html;charset=windows-1251')
        // /Added by HTTrack
        title Webcom Performance – агентство перфоманс маркетинга с 19-летним опытом
        meta(name='description', content='Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат. ')
        script.
            (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            'gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5FGLNC');
        // End Google Tag Manager
        // <meta charset="windows-1251">
        meta(name='yandex-verification', content='58f219750a67c2c0')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='alternate', hreflang='ru-kz', href='https://www.webcom.kz/')
        meta(property='fb:app_id', content='500532776628010')
        meta(name='robots', content='noyaca')
        meta(name='robots', content='noodp')
        meta(property='ya:interaction', content='XML_FORM')
        meta(property='ya:interaction:url', content='https://www.promo-webcom.by/redir-promo-webcom-v-2.xml')
        link(rel='alternate', hreflang='ru', href='index.html')
        link(rel='icon', type='image/ico', href='images/favicon.ico')
        link(rel='shortcut icon', href='images/icon-64.png')
        link(rel='apple-touch-icon', href='images/icon-76.png', sizes='76x76')
        link(rel='apple-touch-icon', href='images/icon-120.png', sizes='120x120')
        link(rel='apple-touch-icon', href='images/icon-152.png', sizes='152x152')
        link(rel='apple-touch-icon', href='images/icon-180.png', sizes='180x180')
        link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
        link(rel='manifest', href='site.html')
        link(rel='mask-icon', href='index-2.html', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='theme-color', content='#ffffff')
        link(rel='mask-icon', href='images/safari-pinned-tab.svg')
        link(href='https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i|Rubik:300,400,500,700&subset=cyrillic', rel='stylesheet')
        link(href='images/global.min.css', rel='stylesheet')
        link(href='images/animate.min.css', rel='stylesheet')
        link(href='images/owl.carousel.min.css', rel='stylesheet')
        link(href='images/header-b-btn-connection-fix.css', rel='stylesheet')
        link(href='images/styles.min3860.css?v=1', rel='stylesheet')
        link(href='https://www.promo-webcom.by/landing-page/index/css/styles.min.css?v=1', rel='stylesheet')
        script(src='images/jquery.min.js')
        script(src='images/device.min.js')
        script.
            //Временное решение с веней на моб. устройствах
            $(function () {
            if (navigator.userAgent.match(/(iPad|iPhone|iPod|android)/i)) {
            $('.venyoo-mobile-widget').parent().remove();
            }
            });
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        block scripts
    body
        // Google Tag Manager
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5FGLNC', height='0', width='0', style='display:none;visibility:hidden')
        // Loader
        script.
            document.write('<div class="b-loading-page" style="display:none">' +
            '<div class="b-loading-page__box" data-name="загрузка">' +
            '<img class="b-loading-page__logo" src="/landing-page/vendor/images/loading-logo.svg" alt="">' +
            '</div>' +
            '</div>');
        // Bynetweek row
        block content
        
        // Start block: pop-up-information
        #b-pop-up-information.b-pop-up-information
            .b-pop-up-information__wrap
                .b-pop-up-information__img-block
                    img.b-pop-up-information__icon(src='images/info-icon.svg', alt='', role='presentation')
                .b-pop-up-information__text-block
                    h2.b-pop-up-information__title.b-pop-up-information__title--orange.b-pop-up-information__title--upper
                        | Условия использования информации
                    .b-pop-up-information__items
                        .b-pop-up-information__item
                            p.b-pop-up-information__textual
                                | Любое использование текстовой или графической информации с
                                | сайта
                                br
                                |  www.promo-webcom.by возможно при соблюдении следующих условий:
                        .b-pop-up-information__item
                            ul.b-pop-up-information__docket
                                li.b-pop-up-information__docket-item
                                    | указание обязательной прямой активной ссылки на сайт
                                    | www.promo-webcom.by;
                                li.b-pop-up-information__docket-item
                                    | использование материалов в информационных, некоммерческих
                                    | или личных целях;
                                li.b-pop-up-information__docket-item
                                    | все тексты и графические изображения, расположенные на
                                    | сайте, не должны изменяться при воспроизведении
                        .b-pop-up-information__item
                            p.b-pop-up-information__textual
                                | Текстовое и графическое наполнение, стилистические композиции и
                                | общий дизайн сайта являются собственностью группы компаний Webcom Group®
                        .b-pop-up-information__item
                            p.b-pop-up-information__textual
                                | За достоверность информации, предоставленной другими источниками и
                                | опубликованной на сервере, компания ответственности не несет.
        // End block: pop-up-information
        link(href='images/jquery.fancybox.min.css', rel='stylesheet')
        link(href='images/b-modal.min.css', rel='stylesheet')
        link(href='images/b-modal.media.min.css', rel='stylesheet')
        script(src='images/wow.min.js')
        script(src='images/owl.carousel.min.js')
        script(src='images/jquery.fancybox.pack.min.js')
        script(src='images/jquery.fancybox-media.min.js')
        script(src='images/b_modal.min.js', charset='UTF-8')
        script(src='images/b_modal_validate.min.js', charset='UTF-8')
        script(src='images/container.min.js', charset='UTF-8')
        script(src='images/svgxuse.min.js', charset='UTF-8')
        script(src='images/b_new_modal.min.js', charset='UTF-8')
        script(src='images/b_new_modal_validate.min.js', charset='UTF-8')
        script(src='images/bundle.min.js', charset='UTF-8')
        script(src='images/main.min.js', charset='UTF-8')
        script(src='images/jquery.cookie.min.js')
        script(src='images/jquery.inputmask.min.js')
        script(src='images/jquery.inputmask.extensions.min.js')
        script(src='images/wmnsapi.js')
        script(src='images/amoprocessor.js')
        script(src='images/ajaxsendler5e1f.js?v=2', charset='UTF-8')
        script(src='images/header-footer.min.js', charset='UTF-8')
        script(src='images/wnew057c.js?wc=venyoo/default/science&widget_id=5453248820674560')
        // <script src="/landing-page/services/js/vendor/wow.min.js"></script>
        // <script src="/landing-page/services/js/vendor/device.min.js"></script>
        // <script src="/landing-page/services/js/vendor/owl.carousel.min.js"></script>
        // <script src="/landing-page/services/js/vendor/jquery.fancybox.pack.min.js"></script>
        // <script src="/landing-page/services/js/vendor/jquery.fancybox-media.min.js"></script>
        // <script src="/landing-page/services/js/vendor/container.min.js"></script>
        // <script charset="utf-8" src="/temp/js/bundle.min.js"></script>
        // <script src="/landing-page/vendor/new/js/vendor/svgxuse.min.js"></script>
