/*base*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper-kr {
    overflow: hidden;
}
.inner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
        padding: 0 24px;
    }

    @media screen and (max-width:767px) {
        padding: 0 15px;
    }
}

.s-section {
    padding: 42px 0;

    &__heading {
        margin: 0 0 40px;
    }

    &__title {
        width: 100%;
        color: #1C1C1C;
        font-family: "Rubik", sans-serif ;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 24px;
    }

    &__desc {
        color: #333333;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        margin: 0 0 24px;

        &.b-arsenal__desc {
            line-height: 26px;
            font-size: 20px;
            text-align: center;
            margin: 0 0 42px;
        }
    }

    &.is_dark {
        * {
            color: #FFFFFF;
        }
    }

    @media screen and (max-width: 1023px) {
        &__heading {
            margin: 0 0 30px;
        }

        &__title {
            font-size: 28px;
            line-height: 34px;
            letter-spacing: -0.01em;
            margin: 0 0 16px;
        }

        &__desc {
            font-size: 15px;
            line-height: 19px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 30px 0;

        &__heading {
            margin: 0 0 24px;
        }

        &__title {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.rating {
    display: inline-block;

    &__group {
        @include truncate(100%);
    }

    &__star {
        path {
            fill: #8A979F;
        }

        &.is_active {
            path {
                fill: #FF9800;
            }
        }
    }

    @media screen and (max-width: 767px) {
        &__star {
            width: 16px;
            height: 16px;
        }
    }
}

.b-btn {
    @include truncate(100%);
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;
    overflow: hidden;

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &-group {
        text-align: center;
    }

    &-prime {
        width: 100%;
        max-width: 320px;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(28, 28, 28, 0.2);
        background: linear-gradient(180deg, #FFFC00 -28.12%, #FF6600 100%);
        box-shadow: 0px 10px 20px rgba(0, 16, 161, 0.21);
        padding: 12px;

        &:hover,
        &:focus {
            color: #FFFFFF;
        }
    }

    &-download {
        width: 100%;
        max-width: 270px;
        border: 2px solid #FFFFFF;
        padding: 9px 22px;
        text-align: left;

        .icon {
            vertical-align: middle;
            width: 26px;
            height: 24px;
            fill: #FFFFFF;
            margin-right: 13%;
        }

        &:hover,
        &:focus {
            background: #FFFFFF;
            opacity: 1;

            * {
                color: #4986E3;
                fill: #4986E3;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        font-size: 18px;
        line-height: 21px;

        &-prime {
            max-width: 266px;
            padding: 12px;
        }
    }

    @media screen and (max-width: 767px) {
        &-prime {
            max-width: 270px;
        }
    }
}

.is-invalid {
    [data-required] {
        border-color: #F04124;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23F04124' viewBox='-2 -2 7 7'><path stroke='%23F04124' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    &__msg {
        display: none;
        width: 100%;
        margin-top: 0.5rem;
        font-size: 80%;
        font-family: "Rubik", sans-serif ;
        color: #F04124;

        .is-invalid & {
            display: block;
        }
    }
}

.b-form {
    &__group {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 -0.8rem 1.6rem;
    }

    &__control {
        position: relative;
        flex: 1;
        max-width: 100%;
        margin: 0 0.8rem;

        .icon {
            position: absolute;
            top: 16px;
            left: 16px;
            width: 16px;
            height: 16px;
        }

        input,
        textarea {
            @include input-placeholder {
                color: #C0CCD3;
            }

            width: 100%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            background: #EFF2F7;
            border: 1px solid #C0CCD3;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 1.2rem 1.6rem 1.2rem 4.8rem;
            resize: none;

            &:focus {
                @include input-placeholder {
                    color: transparent;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        &__group {
            display: block;
        }

        &__control {
            margin-bottom: 16px;

            input,
            textarea {
                @include input-placeholder {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                }

                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                padding: 11px 16px 11px 48px;
            }

            .icon {
                top: 12px;
            }
        }
    }
}

.b-row {
    display: flex;
    flex-wrap: wrap;

    &__col {
        width: 100%;
        flex: 0 0 auto;
        min-height: 1px;
    }
}

.text-medium {
    font-style: normal;
    font-weight: 500;
}

.text-bold {
    font-style: normal;
    font-weight: 700;
}

.b-footer--fullwidth .b-footer__up {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}