// placeholders
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

// усечение элемента применять к текстовым тегам типа "span" "p" и т.д.
// пример: @include truncate(110px);
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Aspect Ratio Mixin
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// /* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}

// пример:
// .block-with-text {
//     @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
// }

// Font Size with rem
@mixin fontsize($size: 24, $base: 14) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}
// functions
@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @warn '#{ $number } is in wrong format';
    @return $number;
}

@function getrem($size, $base: 16px) {
    $remSize: $size / $base;
    @return #{$remSize}rem;
}

@function getvw($xs-size, $w-max: 320px) {
    $xs-size: strip-unit($xs-size);
    $w-max: strip-unit($w-max);
    @return $xs-size * 100vw / $w-max;
}

// line clamp
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//button
@mixin btn($padding: .375rem .75rem) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    white-space: nowrap;
    user-select: none;
    padding: $padding;
}
// example
// .btn {
//     display: inline-block;
//     vertical-align: middle;
//     width: auto;
//     padding: $base-spacing;
//     margin: 0 0 $base-spacing;
//     background-color: $base-accent-color;
//     color: $base-background-color;
//     font-weight: bold;
//     white-space: nowrap;
//     transition: all $base-transition-duration $base-transition-timing;
//     cursor: pointer;
//     border-radius: $base-border-radius;
//     box-shadow: $base-box-shadow;    
    
//     &:hover,
//     &:focus {
//         background-color: darken($base-accent-color, 10%);
//         color: $base-background-color;
//         box-shadow: $hover-box-shadow;
//     }
// }
// .btn {
//     display: inline-block;
//     font-weight: 300;
//     color: #222;
//     text-align: center;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.5rem;
//     font-size: 0.9375rem;
//     line-height: 1.5;
//     border-radius: 0;
//     -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
// }

// button, [type="button"], [type="reset"], [type="submit"] {
//     -webkit-appearance: button;
// }