/*banner*/
.s-banner {
    text-align: center;
    padding-top: 130px;

    &__title {
        max-width: 680px;
        margin: 0 auto 40px;
    }

    &__desc {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.01em;
        margin: 0 0 60px;

        &:last-child {
            margin: 0;
        }
    }

    &__note {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        margin: 0 0 24px;

        &:last-child {
            margin: 0;
        }
    }

    &__title {
        font-weight: 500;
    }

    .b-btn-group {
        margin: 0 0 80px;

        &:last-child {
            margin: 0;
        }
    }

    @media screen and (max-width: 1023px) {
        padding: 80px 0 24px;

        &__title {
            margin-bottom: 30px;
        }

        &__desc {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 40px;
        }

        .b-btn-group {
            margin: 0 0 50px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 100px 0 32px;

        &__title {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.02em;
        }

        &__desc {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
        }

        .b-btn-group {
            margin: 0 0 100px;
        }

        &__note {
            font-size: 10px;
            line-height: 12px;
        }

        &__title,
        &__desc {
            padding: 0 7%;
        }
    }
}

/*difficulties*/
.s-difficulties {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(232, 245, 255, 0.2) 0%, rgba(243, 250, 255, 0.2) 51.38%, rgba(247, 252, 255, 0.2) 100%), url(../img/moscow-city.jpg), #F1F9FF;
    background-blend-mode: normal, lighten, normal, normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b-difficulties {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 18px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex: 1 1 auto;
        align-items: center;
        max-width: calc(50% - 30px);
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 0px 36px rgba(49, 156, 222, 0.06);
        margin: 0 15px 30px;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        text-align: center;
        width: 72px;
        height: 100%;
        min-height: 88px;
        background: #F4F7FB;
        border-radius: 8px 0 0 8px;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        flex: 1;
        max-width: 100%;
        background: #FFFFFF;
        border-radius: 0 8px 8px 0;
        padding: 24px;
        margin: 0;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }

    &__desc {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        margin: 0 0 16px;

        &:last-child {
            margin: 0;
        }
    }

    @media screen and (max-width: 1023px) {
        &__list {
            margin: 0 -8px 16px;
        }

        &__item {
            max-width: calc(50% - 16px);
            margin: 0 8px 16px;
        }

        &__icon {

            svg {
                width: 32px;
                height: 32px;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            padding: 20px;
        }

        &__desc {
            font-size: 16px;
            line-height: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        &__item {
            max-width: none;
            margin: 0 8px 8px;
        }

        &__icon {
            width: 44px;
            height: 100%;
            min-height: 64px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        &__text {
            font-size: 15px;
            line-height: 17px;
            padding: 12px;
        }

        &__desc {
            font-size: 15px;
            line-height: 17px;
        }
    }
}

/*about*/
.s-about {
    background: url(../img/bg-about.png) center/cover no-repeat, radial-gradient(4143.48px at 128.96% 125.07%, #45A1C4 0%, #1F4F66 14.67%, #13304A 100%);
    padding-bottom: 0;

    &-desc {
        background: linear-gradient(278.62deg, #2A6BCE -1.4%, #4986E3 94.12%);
        padding: 30px 0;

        &__text {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.01em;
            margin: 0;
        }
    }

    @media screen and (max-width: 767px) {
        &-desc {
            padding: 24px 0;

            &__text {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}

.b-about {
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 100%;
        flex: 1 1 auto;
        max-width: 33.33%;
        margin-bottom: 40px;
    }

    &__icon {
        width: 150px;
        height: 150px;
        background: url(../img/Ellipse.svg) center/contain no-repeat;
        margin: 0 auto;
        overflow: hidden;
    }

    &__data {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 38px;

        .count {
            color: #FF6600;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: normal;
            text-align: center;

            &-sm {
                font-size: 34px;
            }
        }

        .text {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: normal;
            text-align: center;
            color: #595959;
        }
    }

    &__text {
        width: 100%;
        max-width: 270px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        margin: 0 auto;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 4px;

            button {
                color: transparent;
                width: 6px;
                height: 6px;
                background: #C4C4C4;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 100%;
            }

            &.slick-active {
                button {
                    background: #00B9FF;
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        &__item {
            margin-bottom: 30px;
        }

        &__text {
            font-size: 15px;
            line-height: 19px;
        }
    }

    @media screen and (max-width: 767px) {
        &__list {
            display: block;
            margin-bottom: 24px;
        }

        &__item {
            max-width: none;
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

/*drive-business*/
.s-drive-business {
    background: radial-gradient(1241.99px at 100% 0%, rgba(208, 241, 252, 0.3) 0%, rgba(255, 255, 255, 0) 100%), url(../img/bg-drive.png) center/cover no-repeat, #FFFFFF;
    padding-bottom: 0;

    &-desc {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) -13.64%, rgba(255, 255, 255, 0.9) 100%);
        padding: 40px 0;
        border-bottom: 1px solid #C0CCD3;

        &__row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        &__icon {
            display: inline-block;
            vertical-align: top;
            background: #FFFFFF;
            box-shadow: 0px 6px 14px rgba(73, 134, 227, 0.22);
            border-radius: 8px;
            padding: 19px;
            margin-right: 3%;

            svg {
                width: 32px;
                height: 32px;
            }
        }

        &__text {
            flex: 1;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.01em;
            margin: 0;
        }

        @media screen and (max-width: 1023px) {
            padding: 30px 0;

            &__text {
                font-size: 15px;
                line-height: 19px;
            }
        }

        @media screen and (max-width: 767px) {
            &__icon {
                background: none;
                box-shadow: none;
                padding: 0;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            &__text {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.b-collapse {
    &__list {
        counter-reset: list;
        margin-bottom: 40px;
    }

    &__item {
        margin-bottom: 8px;
    }

    &__title {
        margin: 0;
    }

    &__toggle {
        position: relative;
        width: 100%;
        color: #1C1C1C;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        background: #FFFFFF;
        box-shadow: 0px 6px 12px rgba(0, 147, 194, 0.12);
        border-radius: 8px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        user-select: none;
        border: 1px solid transparent;
        padding: 19px 90px 19px 70px;
        cursor: pointer;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

        &::before {
            position: absolute;
            top: 20px;
            left: 24px;
            counter-increment: list;
            content: counter(list);
            width: 24px;
            height: 24px;
            color: #FFFFFF;
            font-size: 18px;
            text-align: center;
            background: #006AAF;
            border-radius: 100%;
        }

        &::after {
            display: block;
            position: absolute;
            content: '';
            top: 16px;
            right: 24px;
            background-image: url(../img/sprite.png);
            background-position: -32px 0px;
            width: 32px;
            height: 32px;
        }

        &.is-active {
            &::after {
                background-position: 0px 0px;
            }
        }
    }

    &__block {
        width: 100%;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        padding: 0 24px;
        transition: all .5s;

        &.is-active {
            max-height: 1100px;
            visibility: visible;
            padding: 30px 24px;
        }
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.01em;
        margin: 0 0 30px;

        &:last-child {
            margin: 0;
        }
    }

    @media screen and (max-width: 1023px) {
        &__toggle {
            font-size: 16px;
            line-height: 20px;

            &::before {
                top: 16px;
                line-height: 24px;
            }
        }

        &__text {
            font-size: 15px;
            line-height: 19px;
        }
    }

    @media screen and (max-width: 767px) {
        &__toggle {
            font-size: 15px;
            line-height: 19px;
        }

        &__block {
            padding: 0px 16px;

            &.is-active {
                padding: 24px 16px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

/*will-get*/
.b-will-get {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 1 1 auto;
        max-width: 33.33%;
        padding: 0 15px;
        overflow: hidden;
    }

    &__icon {
        text-align: center;
        background: #F4F7FB;
        padding: 19px;
        margin-right: 10%;
        background: #FF9800;
        box-shadow: 0px 6px 12px rgba(255, 152, 0, 0.14);
        border-radius: 8px;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__text {
        flex: 1;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        color: #333333;
        margin: 0;
    }

    @media screen and (max-width: 1023px) {
        &__text {
            font-size: 15px;
            line-height: 19px;
        }
    }

    @media screen and (max-width: 767px) {
        &__item {
            max-width: none;
            margin-bottom: 3%;
        }

        &__icon {
            margin-right: 3%;
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

/*Testimonials*/
.s-feedback {
    background: linear-gradient(180deg, rgba(232, 245, 255, 0.2) 0%, rgba(243, 250, 255, 0.2) 51.38%, rgba(247, 252, 255, 0.2) 100%), #EFF2F7;
    background-blend-mode: lighten, normal;
}

.b-feedback {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &__list {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        background: #FFFFFF url(../img/bg-feed.png) center no-repeat;
        box-shadow: 0px 6px 12px rgba(0, 147, 194, 0.12);
        border-radius: 8px;
        padding: 30px 40px;
        margin: 0 0 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__head {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        &>* {
            width: 100%;
            flex: 1 1 auto;
            max-width: 33.33%;
        }
    }

    &__info {
        &>* {
            @include truncate(100%);
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.01em;
            margin: 0;
        }
    }

    &__org {
        color: #8A979F;
    }

    &__rate {
        text-align: center;
        overflow: hidden;
    }

    &__date {
        @include truncate(100%);
        color: #8A979F;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
    }

    &__body {
        p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
        }
    }

    &__view {
        @include truncate(100%);
        display: inline-block;
        color: #5288A3;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        text-decoration-line: underline;
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 46px;
    }

    @media screen and (max-width: 767px) {
        &__head {
            flex-direction: column;

            &>* {
                max-width: none;
                text-align: left;
                margin-bottom: 10px;
            }
        }

        &__date {
            text-align: left;
        }

        &__body {
            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

/*text*/
.s-text {
    background: linear-gradient(276.48deg, #4986E3 -1.4%, #2A6BCE 94.12%);

    .inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .s-section__title {
        width: auto;
        display: inline-block;
        vertical-align: top;
        text-transform: none;
        letter-spacing: 0;
        margin: 0;
    }

    @media screen and (max-width: 1199px) {
        .inner {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }

        .s-section__title {
            margin-bottom: 24px;
        }
    }

    @media screen and (max-width: 767px) {
        .s-section__title {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.02em;
        }
    }
}

/*ASK FORM*/
.s-form {
    background: url(../img/bg-send-msg.jpg) center bottom/auto 100% no-repeat;

    &__form {
        width: 100%;
        max-width: 570px;
        margin: 0 auto;
    }

    @media screen and (max-width: 1023px) {
        &__form {
            max-width: none;
        }
    }
}

.b-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__item {
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        padding: 16px;

        .b-header-new--fixed & {
            color: #333;
        }
    }

    @media screen and (max-width: 1023px) {
        .b-header-new--fixed & {
            display: block;
            position: fixed;
            width: 100%;
            height: calc(100vh - 64px);
            top: 64px;
            left: -100%;
            background: #132C43;
            transition: left 0.6s;
            z-index: 100;

            &.is-open {
                left: 0;
            }

            &__item {
                display: block;
                width: 100%;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                padding: 16px 24px;

                &.is-active {
                    background: #4986E3;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: block;
        position: fixed;
        width: 100%;
        height: calc(100vh - 64px);
        top: 64px;
        left: -100%;
        background: #132C43;
        transition: left 0.6s;
        z-index: 100;

        &.is-open {
            left: 0;
        }

        &__item {
            display: block;
            width: 100%;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            padding: 16px 24px;

            &.is-active {
                background: #4986E3;
            }
        }
    }
}

.wrapper-intl {

    /*header nav*/
    header {
        height: auto;
    }

    .b-header-new--fixed {
        height: 56px;

        &.b-header-new {
            .b-header-new__item--sublinks {
                top: 0;
            }
        }

        .b-header-new__item--btn-connection {
            transform: skewX(-30deg);

            .b-btn-connection__mobile,
            .b-btn-connection__text {
                transform: skewX(30deg);
            }
        }
    }

    .header-bg {
        background: url(../img/background.jpg) no-repeat center top;
        background-attachment: fixed !important;
    }

    .b-header-new__item--logo {
        margin: 25px 0;
    }

    .b-header-new__row--general {
        height: auto;
        justify-content: space-between;

        .b-header-new__item--sublinks {
            top: 24.5px;
        }
    }

    .b-header-new--fixed .b-header-new__item--btn-menu {
        display: none;
    }

    .b-footer {
        background: linear-gradient(180deg, rgba(10, 36, 56, 0.5) 0%, rgba(10, 36, 56, 0.2) 100%), url(../img/bg-footer.jpg);
        background-blend-mode: multiply, normal, normal, normal;
        background-size: cover;

        &__row {
            border-bottom: 1px solid #245770;

            &:last-child {
                border-bottom: none;
            }
        }

        .b-navbar {
            width: 100%;
            justify-content: center;
            padding: 9px 0;
        }

        &__top {
            border-bottom: 1px solid rgba(255, 255, 255, 0.11);
        }

        &__contact {
            text-align: center;

            &>li {
                width: 100%;
                max-width: 205px;
                display: inline-block;
                vertical-align: top;
                margin: 35px 17px;

                &>a {
                    @include truncate(100%);
                    display: block;
                    color: #FFFC00;
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                }

                &>svg {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 18px;
                }
            }
        }
    }

    @media only screen and (max-width: 1199px) {
        .b-footer {
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 1023px) {
        .b-navbar {
            width: 100%;
            justify-content: space-around;
            order: 1;

            &__item {
                font-size: 15px;
                line-height: 18px;
                padding: 10px;
            }

        }

        .b-header-new--fixed {
            .b-navbar {
                // display: none;
                top: 55px;
                height: calc(100vh - 55px);

                &__item {
                    color: #FFFFFF;
                }
            }

            .b-header-new__row--general {
                height: 75px;
            }

            .b-header-new__item--logo {
                margin: 0;
            }

            &.b-header-new .b-header-new__item--sublinks {
                top: 5px;
            }
        }


        .b-header-new__row--general {
            flex-wrap: wrap;
        }

        .b-footer {
            background: linear-gradient(180deg, rgba(10, 36, 56, 0.5) 0%, rgba(10, 36, 56, 0.2) 100%), linear-gradient(180deg, rgba(18, 35, 56, 0) 39.45%, #122338 105.86%, #122338 105.86%), linear-gradient(180deg, rgba(49, 70, 79, 0.86) -152.64%, rgba(4, 24, 48, 0.86) 95.48%), url(../img/bg-footer.jpg);

            .b-navbar {
                display: none;
            }

            &__contact {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 13px 0;

                &>li {
                    width: auto;
                    max-width: none;
                    margin: 13px 56px 13px 0;

                    &:last-child {
                        margin: 13px 0;
                    }

                    &>svg {
                        width: 22px;
                        height: 22px;
                        vertical-align: middle;
                        margin-bottom: 0;
                        margin-right: 16px;
                    }

                    &>a {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                        line-height: 16px;

                        &[href*='mailto:'] {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        header:not(.b-header-new--fixed) {
            background: #132C43;

            &.is-open {
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: 1000;
            }
        }

        .b-navbar {

            &__item {
                padding: 16px 24px;

                &:hover {
                    color: #fff;
                    background: #4986E3;
                }
            }

        }

        .b-header-new__item--logo {
            margin: 16px 0;
        }

        .header-bg {
            background: url('../img/background-sm.jpg') no-repeat;
            background-size: 100%;
        }

        .b-footer {
            &__top {
                padding: 0 24px;
            }

            &__contact {
                justify-content: flex-start;
            }

            &__row {
                align-items: flex-start;
                padding-left: 0;
                padding-right: 0;
                padding: 0 24px;
            }

            &__item {
                &:last-child {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

/*mobile  button*/
.b-btn-connection__mobile {
    display: none;
    width: 16px;
    height: 16px;
    margin: 0 12px;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.b-header-new__item--btn-menu-mobile {
    display: none;
    height: 32px;
    background: linear-gradient(270.92deg, #4986E3 -5.04%, #2A6BCE 97.24%);
    transform: skewX(-30deg);
    border-radius: 4px 6px;

    button {
        height: 100%;
        background: 0 0;
        margin: 0;
        padding: 0;
        border: 0;
        width: 43px;
    }

    svg {
        height: 100%;
        transform: skewX(30deg);
    }

    .close {
        display: none;
    }

    .is-active {
        svg {
            display: none;
        }

        .close {
            display: block;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper-intl .b-header-new--fullwidth .b-header-new__item--btn-connection {
        display: flex;
        height: 32px;
        margin-left: auto;

        a {
            padding: 0;
        }

        .b-btn-connection__text {
            display: none;
        }
    }

    .b-header-new__item--btn-menu-mobile {
        display: flex;
    }
}

.wrapper-intl .b-header-new--fullwidth {
    @media screen and (max-width: 1023px) {
        &.b-header-new--fixed {
            .b-header-new__item--btn-connection {
                display: flex;
                height: 32px;
                margin-left: auto;
            }

            .b-header-new__item--btn-menu-mobile {
                display: flex;
            }
        }
    }
}


/* Start block: client-history */
.wrapper-intl .b-client-history {
    .b-client__result .b-result__item {
        background: radial-gradient(757.01px at 155.14% -155.73%, #00B9FF 0%, #004A8F 100%);
    }

    .b-client__problems .b-problems__item--br-left {
        border-left-color: #006EB3;
    }
}

/*Start block: slider-two-row*/
.wrapper-intl .b-slider-two-row {
    .b-slider-two-row__items--line:after {
        display: none;
    }

    .b-slider-two-row__item {
        width: 100%;
        max-width: calc(99.9%/5);

        .b-item__img {
            width: auto;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 1023px) {
        .b-slider-two-row__item {
            max-width: calc(99.9%/4);
        }
    }

    @media only screen and (max-width: 767px) {
        .b-slider-two-row__item {
            max-width: calc(90%/2);
        }
    }
}

/*logo status*/
.wrapper-intl {
    .b-header-new__item--logo-status {
        width: 274px;
        align-items: center;
        padding: 0 10px;

        .b-logo {
            margin-right: 10px;
            margin-left: 0;
        }

    }

    .b-header-new--fixed {
        .b-header-new__item--logo-status {
            &>:nth-child(n) {
                transform: skewX(0deg);
            }

            .b-logo {
                margin-right: 10%;

                &::before {
                    height: 45%;
                }
            }
        }
    }
}

.b-logo-status {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #4986E3;
    margin-bottom: -2px;
}


@media only screen and (max-width: 767px) {
    .wrapper-intl {
        .b-logo-status {
            font-size: 10.24px;
            line-height: 10px;
        }

        .b-header-new .b-logo {
            margin-right: 20px;

            &::before {
                content: '';
                display: block;
                height: 45%;
                width: 2px;
                background: #b6cad1;
                transform: skewX(-26deg) translateY(-50%);
                position: absolute;
                top: 50%;
                right: -6px;
            }
        }

        .b-header-new__item--logo-status {
            width: 175px;
        }
    }
}

/*ABOUT-US*/
.s-ABOUT-US {
    background: url(../img/bg-about-us.jpg) no-repeat center top;
    background-size: cover;
}