/* spec prog fixes 28-08-19*/
.wrapper-kr {
    .s-prog-1__info {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%);

        &-icon {
            left: getrem(15px);
        }

        .inner {
            padding-left: getrem(75px);
        }
    }

    .b-calc-range {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;

            // padding-left: getrem(80px);
            // padding-right: getrem(80px);
            &-min,
            &-max {
                position: static;
            }

            .js-range {
                flex: 1 1 0%;
                margin-left: getrem(10px);
                margin-right: getrem(10px);
            }
        }
    }

    .b-examples-advert-new {
        .b-tooltip {
            margin-left: 0;
            margin-right: getrem(4px);
        }
    }
    .b-main-screen__attention--stroke-red:before {
        background: url(../img/kr/red-stroke.svg) no-repeat center/contain;
    }
    .b-main-screen__remark {
        left: 50%;
        transform: translate(-50%, 0);
    }
}