@import "./mixins";
@import "./fonts";

@import "./base";
@import "./modules";
/**
* spec prog
*/
@import "./KR/layout";
@import "./KR/Programs_v_1";
@import "./KR/How_we_work";
@import "./KR/Settings_v_1";
@import "./KR/Summ_v_1";
@import "./KR/Frame_6";
@import "./KR/Frame_5";
@import "./KR/varsslider";
@import "./KR/tooltip";
@import "./KR/Stats";
@import "./KR/control";
@import "./KR/calc";
/**
* rus
*/
@import "./RUS/rus";
@import "./RUS/Actual_1920";
@import "./RUS/workflow";
@import "./RUS/numbers";
/**
* selfcontrol
*/
@import "./SELFCONTROL/calc";
// fixes
@import "./RUS/fixes";

/**
* fixes
*/
/*<!-- Start block: help-variant-new-->*/
.b-help-variant-new {
    &__container {
        flex-direction: column;
    }

    &__wrap {
        max-width: none;
        text-align: center;
        margin: 0 0 35px;
    }

    &__btn {
        padding: 14px;
    }
}

/*<!-- Start block: cost-->*/
.b-cost {
    a {
        color: #42C461;
        text-decoration: underline;
    }

    &__container {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

/*<!-- Start block: examples-advert-new-->*/
.b-examples-advert-new {
    .b-examples-advert-new__icon {
        fill: #FF9800;
    }
}

/*b-certificate*/
.b-certificate {
    &__textual {
        line-height: 21px;
    }
}

/*spec-prog fixes*/
.wrapper-kr {
    .b-main-screen__attention {
        font-family: 'Rubik', sans-serif;
        margin-bottom: getrem(25px);

        &:nth-child(3) {
            margin-bottom: 0;

            &:before {
                background: url(../img/kr/red-stroke-sm.svg) no-repeat center/contain;
            }
        }
    }

    .b-main-screen__subtext {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 158%;
    }

    .b-main-screen__title {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 146%;
    }

    .b-main-screen__support {
        align-items: flex-start;
    }

    .b-main-screen__box {

        // align-items: flex-start;
        &-item {
            position: relative;
            display: block;
            margin-top: 5px;

            .b-tooltip {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);

                svg path {
                    fill: #ffffff;
                    opacity: 0.6;
                }
            }
        }
    }

    .b-main-screen__remark {
        font-size: 17px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .b-summ-card-body,
    .b-summ-card.b-summ-card-total {
        padding-bottom: 20px;
    }

    .b-summ-card-text {
        margin-bottom: 12px;
    }

    .b-summ-card.b-summ-card-total {
        .b-summ-card-img {
            margin-bottom: 22px;
        }
    }

    .s-prog-1__info-text {
        a {
            font-weight: normal;
        }
    }

    .b-help-variant-new__desc span {
        color: #FF9800;
    }

    .b-examples-advert-new__icon svg {
        width: getrem(32px);
        height: getrem(32px);
    }

    .b-examples-advert-new {
        background-image: url(../img/kr/bg-advant.jpg);
        background-size: cover;
    }

    .b-help-variant-new {
        background-image: url(../img/bg-about-us.jpg);
        background-size: cover;
    }

    .no-wrap {
        @include truncate(100%);
        color: inherit;
    }

    .b-new-title {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
    }

    .s-prog-1__info {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%);

        &-icon {
            left: getrem(15px);
        }

        .inner {
            padding-left: getrem(75px);
        }
    }

    .b-examples-advert-new {
        .b-tooltip {
            margin-left: 0;
            margin-right: getrem(4px);
        }
    }

    .b-main-screen__attention--stroke-red:before {
        background: url(../img/kr/red-stroke.svg) no-repeat center/contain;
    }

    .b-options__head {
        padding-left: 95px;
    }

    .b-tools__footnote {
        margin-top: 30px;
    }

    .b-about__text {
        margin-left: auto;
        margin-right: auto;
    }

    .s-about {
        padding-bottom: 40px;

        &-desc__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27 / 20 * 1em;
            letter-spacing: 0.01em;
            color: #FFFC00;
        }
        .slick-dots li button:before {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        .b-calc-range {
            display: flex;
            align-items: center;

            // padding-left: getrem(80px);
            // padding-right: getrem(80px);
            &-min,
            &-max {
                position: static;
            }

            .js-range {
                flex: 1 1 0%;
                margin-left: getrem(10px);
                margin-right: getrem(10px);
            }
        }

        .b-options {
            &__head {
                height: 120px;
            }

            &__item {
                height: 585px;
            }
            &__body {p{
                margin-bottom: 19px;
            }}
        }
    }

    @media screen and (max-width: 767px) {
        .b-options__item {
            display: block;
        }
    }
}

// FIXES 28-08-19
// @import "./styles-NEW-fixes";