/*Actual_1920*/
.s-actual {
    background: #ffffff;
    padding-bottom: 0;

    &-footnote {
        background: #F7F7F7;
        margin-top: 30px;
        padding: 39px 0;

        &-content {
            position: relative;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            color: #333333;
            letter-spacing: 0.01em;
            padding-left: 100px;
            margin: 0;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 70px;
                height: 70px;
                background: #FFFFFF url("data:image/svg+xml,%3Csvg width='12' height='32' viewBox='0 0 12 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.9077 24H3.0895C2.69546 24 2.35453 24.1442 2.06653 24.4319C1.77877 24.7198 1.63477 25.0605 1.63477 25.4545V30.5454C1.63477 30.9392 1.77877 31.2802 2.06653 31.5686C2.35477 31.8559 2.69538 32.0001 3.0895 32.0001H8.90818C9.30157 32.0001 9.64267 31.8559 9.93091 31.5686C10.2183 31.2803 10.3623 30.9393 10.3623 30.5454V25.4545C10.3623 25.0606 10.218 24.7199 9.93035 24.4319C9.64243 24.144 9.30133 24 8.9077 24Z' fill='%23E2291C'/%3E%3Cpath d='M10.647 0.431763C10.3668 0.14424 10.0297 0 9.63554 0H2.36317C1.96929 0 1.63242 0.14424 1.35198 0.431763C1.0717 0.719685 0.939162 1.06078 0.954287 1.45465L1.59047 18.9087C1.60559 19.3026 1.76074 19.6439 2.0563 19.9313C2.3517 20.2196 2.69638 20.3637 3.09041 20.3637H8.90909C9.30249 20.3637 9.64708 20.2196 9.9432 19.9313C10.2385 19.644 10.3932 19.3026 10.409 18.9087L11.0448 1.45465C11.0606 1.06078 10.9274 0.720004 10.647 0.431763Z' fill='%23E2291C'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: 0px 6px 12px rgba(119, 119, 119, 0.12);
                border-radius: 100%;
            }
        }
    }

    .s-section__heading {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .s-section__heading {
            margin-bottom: 24px;
        }

        &-footnote {
            padding: 24px 0;

            &-content {
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                padding-left: 0;
                padding-top: 95px;

                &::before {
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        &-footnote {
            padding: 30px 0;

            &-content {
                font-size: 15px;
                line-height: 19px;
                padding-left: 94px;
            }
        }
    }
}

.b-actual {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;
    }

    &-item {
        position: relative;
        width: 100%;
        flex: 1 1 auto;
        max-width: 33.33%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
        border-left: 2px dashed #EEEEEE;

        &:nth-child(3n + 1) {
            border-left: none;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: #FFFFFF;
        padding: 0 0 24px;
        text-align: center;

        &>* {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-img {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            background: #FFFFFF;
            border: 1px solid #F4F7FB;
            box-shadow: 0px 6px 12px rgba(119, 119, 119, 0.12);
            border-radius: 8px;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 36px;
                height: 36px;
            }
        }

        &-text {
            flex: 1;
            max-width: 100%;
            display: flex;
            align-items: center;
            color: #333333;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.03em;
            margin: 0;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &-card {
            flex-direction: row;
            align-items: flex-start;
            padding: 0;

            &-img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                margin-right: 16px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &-text {
                font-size: 14px;
                line-height: 17px;
                text-align: left;
            }
        }

        &-item {
            max-width: none;
            padding-top: 20px;
            padding-bottom: 20px;
            border-left: none;
            border-top: 1px dashed #C0CCD3;
            margin-bottom: 0;

            &:first-child {
                padding-top: 0;
                border-top: none;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        &-card {
            padding: 0;

            &-text {
                font-size: 15px;
                line-height: 19px;
                letter-spacing: -0.02em;
            }
        }

        &-item {
            margin-bottom: 0;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}