/*fixes 17-06*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');

.wrapper-rus {
    .s-section {
        &>[class*='__container'] {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .header-bg {
        background-size: auto;
    }

    .s-banner {
        padding-bottom: 110px;
    }

    .b-settings__body ul li::before {
        top: 0;
        font-size: 18px;
        color: #00719C;
    }

    .b-certificate-index {
        &__desc {
            font-weight: 300;
            font-size: 17px;
            line-height: 22px / 17px * 1;
        }

        &__box.is-auto {
            &>* {
                margin-right: getrem(32px);
                margin-bottom: getrem(24px);

                &:last-child {
                    margin-right: 0;
                }
            }

            .b-certificate-index__box-item {
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: getrem(24px);
            }
        }
        &__box.is-rating {
            .b-certificate-index__link {
                max-width: 116px;
            }
        }
    }

    .b-arsenal {
        .owl-carousel.owl-drag .owl-item {
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .b-settings__body ul li {
        margin-bottom: 32px;

        &::before {
            margin-right: 30px;
        }
    }

    .s-ABOUT-US .b-btn-group p {
        margin: 0;
    }

    .b-footer--fullwidth .b-footer__row--general .b-footer__item--contact {
        flex: 1;
        margin-left: 0;
    }

    .b-footer--fullwidth [data-thumb-init] {
        text-decoration: underline;
    }

    .b-footer__item--menu {
        padding-left: 40px;
    }

    .b-footer__item--socials {
        padding: 0 40px;
    }

    .b-slider-two-row .b-slider-two-row__item {
        max-width: calc(99.9%/6);

        img {
            max-width: 100%;
        }

        @media only screen and (max-width: 1023px) {
            max-width: calc(99.9%/4);
        }

        @media only screen and (max-width: 767px) {
            max-width: calc(90%/2);
        }
    }
    .b-header-new__item--btn-menu-mobile {
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
}

.b-workflow {
    .b-tooltip {
        margin-bottom: 4px;
    }
}

.b-actual {
    .b-tooltip {

        &::after {
            left: auto;
            right: -36px;
        }
    }

    &-card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &-text {
            width: 100%;
            flex: 1 1 auto;
            max-width: 100%;
            justify-content: center;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &-card {
            &-img {
                margin-bottom: 0;
            }

            &-text {
                display: block;
                flex: 1 1 0%;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .s-actual {
        &-footnote {
            margin-top: 0;
        }
    }

    .s-workflow {
        &-result {
            .b-actual-card {
                align-items: center;
                padding: 0;
            }

            .b-tooltip {
                bottom: 0px;
            }
        }
    }

    .b-workflow {
        &-card {
            &-text {
                position: relative;
            }
        }

        .b-tooltip {
            position: static;

            &::before {
                display: none;
            }

            &::after {
                top: 0;
                left: 0;
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                font-size: 11px;
                padding: getrem(12px) getrem(14px);
            }
        }
    }

    .s-numbers {
        .b-actual {
            &-item {
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 0;
            }

            &-card {
                display: block;

                &-img {
                    font-size: 42px;
                    margin: 0 0 15px;
                }

                &-text {
                    text-align: center;
                }
            }
        }
    }

    .wrapper-rus {
        .b-slider-two-row .b-slider-two-row__item .b-item__img {
            max-width: 100%;
        }

        .b-certificate-index__box-item {
            width: 100%;
            max-width: 50%;
        }

        .b-certificate-index__icon,
        .b-certificate-index__link {
            width: 136px;
        }

        .b-certificate-index__desc {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
        }

        .b-certificate-index__box-item:nth-child(n) {
            margin-left: 0;
            margin-right: 0;
        }

        .b-certificate-index__box {
            justify-content: space-between;

            .b-certificate-index__icon.google-smb {
                max-height: none;
                max-width: none;
                width: 100%;
            }
        }
        .b-footer__item--socials {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .b-actual {
        &-card {
            &-text {
                position: relative;
            }
        }

        .b-tooltip {
            position: static;

            &::before {
                display: none;
            }

            &::after {
                top: 100%;
                left: 0;
                max-width: 100%;
                padding: getrem(12px, 14px);
                overflow: hidden;
            }
        }
    }
}