/*numbers*/
.s-numbers {
    .b-actual {
        &-item {
            margin-bottom: 50px;
            padding-left: 40px;
            padding-right: 40px;
        }
        &-card {
            padding-bottom: 0;

            &-img {
                width: auto;
                height: auto;
                border: none;
                box-shadow: none;
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 1;
                color: #FF9800;
            }
            &-text {
                display: block;
            }
        }
    }
}