.wrapper-rus {
    .b-header-new__item--logo-status {
        @media only screen and (min-width: 768px) {
            width: 225px;
        }
    }

    .b-logo-status {
        color: #00719C;
    }

    .b-navbar__item {
        &:hover {
            color: #5EEBA7;
        }
    }

    .s-banner {
        padding-bottom: 130px;

        &__title,
        &__desc {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }

        .b-btn {
            max-width: 360px;
        }
    }

    .header-bg {
        background: url(../img/rus/bg-banner.jpg) top center no-repeat;
        background-size: auto 100%;
    }

    .b-settings {
        &__body ul li {
            margin-bottom: 16px;
        }

        .s-section__title {
            text-align: left;
        }
    }

    @media only screen and (min-width: 1200px) {
        .b-arsenal__container {
            max-width: 1283px;
            padding: 48px 15px;
        }
    }

    @media only screen and (min-width: 1024px) {
        .b-slider-two-row--img-card-dark {
            background-position: center center;
        }
    }

    .s-ABOUT-US {
        .s-section__heading {
            margin-bottom: 0;
        }

        .s-section__desc {
            font-weight: 300;
            letter-spacing: -0.02em;

            p {
                margin: 0 0 30px;
            }
        }

        .b-btn-group {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #00719C;
        }
    }

    .b-certificate-index {
        font-weight: 300;
        background-image: url(../img/rus/Bg.jpg);

        &__box {
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16.9817px;
            line-height: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            &:last-child {
                border-bottom: none;
            }

            &.is-auto {
                justify-content: start;

                .b-certificate-index__box-item {
                    flex: 1;
                    margin-bottom: 0;
                }

                .b-certificate-index__link {
                    width: auto;
                }
            }

            &.is-rating {
                a {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 22px;
                    text-decoration: underline;
                    color: #5EEBA7;
                }

                .b-certificate-index__box-item {
                    max-width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 0;

                    &>* {
                        margin-right: 30px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .b-certificate-index__link {
                    width: auto;
                }

                .b-certificate-index__box-item-desc {
                    flex: 1;
                    max-width: 100%;

                    p {
                        margin: 0 0 15px;
                    }
                }
            }
        }

        @media screen and (min-width: 320px) and (max-width: 767px) {
            &__title {
                letter-spacing: 0.07em;
            }

            &__box {
                &.is-auto {
                    font-size: 14px;
                    line-height: 17px;
                    padding: 12px 0 20px;

                    &>*,
                    .b-certificate-index__link {
                        width: 100%;
                        max-width: 50%;

                        &:nth-child(n) {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }

                    .b-certificate-index__icon {
                        max-width: 131px;
                        max-height: 40px;
                    }

                    &.is-rating {
                        .b-certificate-index__box-item {
                            width: 100%;
                            flex: 1 1 auto;
                            max-width: none;
                            flex-wrap: nowrap;
                            margin-bottom: 20px;

                            &>* {
                                flex: 0 1 auto;
                                margin-right: 15px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .b-certificate-index__link {
                                width: auto;
                                max-width: none;
                            }
                        }

                        .b-certificate-index__icon {
                            width: 76px;
                            height: 80px;
                            max-width: none;
                            max-height: none;
                        }

                        a {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }

                &-item {
                    margin-bottom: 24px;
                }
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            &__title {
                letter-spacing: 0.07em;
            }

            &__box {
                &.is-auto {
                    font-size: 15px;
                    line-height: 19px;
                    letter-spacing: -0.02em;
                    padding: 12px 0 20px;

                    .b-certificate-index__icon {
                        max-width: 131px;
                        max-height: 40px;
                    }

                    &.is-rating {
                        .b-certificate-index__icon {
                            max-width: 76px;
                            max-height: 80px;
                        }

                        a {
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }
                }

                &-item {
                    margin-bottom: 24px;
                }
            }
        }
    }
}