/*workflow*/
.b-workflow {

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;
    }

    &-item {
        position: relative;
        width: 100%;
        flex: 1 1 auto;
        max-width: 370px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;

        &::before {
            display: block;
            position: absolute;
            content: '';
            top: 60px;
            left: 0;
            width: 72px;
            height: 36px;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml,%3Csvg width='72' height='36' viewBox='0 0 72 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M71.9997 17.922L44.434 0V10.4415H16.1191V25.87H44.434V35.9998L71.9997 17.922Z' fill='%238A979F' fill-opacity='0.5'/%3E%3Crect y='10.575' width='3.22388' height='15.2999' fill='%238A979F' fill-opacity='0.5'/%3E%3Crect x='10.7461' y='10.5748' width='3.22388' height='15.2999' fill='%238A979F' fill-opacity='0.5'/%3E%3Crect x='5.37305' y='10.5748' width='3.22388' height='15.2999' fill='%238A979F' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:nth-child(3n + 1) {
            &::before {
                display: none;
            }
        }

        &-num {
            @include truncate(100%);
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            color: #00719C;
            font-family: "Rubik", sans-serif ;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0.01em;
            text-align: center;
            background: linear-gradient(102.3deg, #FFFFFF -0.95%, #F0F5FF 71.58%), linear-gradient(225deg, #00719C 0%, #2996C0 100%);
            border: 0.25px solid rgba(0, 0, 0, 0.08);
            box-shadow: 0px 4px 5px rgba(0, 147, 194, 0.23);
            border-radius: 1px;
            z-index: 1;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: #FFFFFF;
        padding: 0 0 24px;
        text-align: center;

        &>* {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-img {
            display: inline-block;
            position: relative;
            width: 120px;
            height: 120px;
            background: #FFFFFF;
            border: 1px solid #F4F7FB;
            box-shadow: 0px 6px 12px rgba(0, 147, 194, 0.17);
            border-radius: 8px;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 56px;
                height: 56px;
            }
        }

        &-text {
            max-width: 100%;
            color: #333333;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            margin: 0;
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 4px;

            button {
                color: transparent;
                width: 6px;
                height: 6px;
                background: #C4C4C4;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 100%;
            }

            &.slick-active {
                button {
                    background: #00B9FF;
                }
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &-card {
            &-img {
                width: 80px;
                height: 80px;
                border: 0.671428px solid #F4F7FB;
                box-shadow: 0px 4.02857px 8.05714px rgba(0, 147, 194, 0.17);
                border-radius: 5.37143px;

                svg {
                    width: 36px;
                    height: 36px;
                }
            }

            &-text {
                font-size: 14px;
                line-height: 17px;
            }
        }

        &-item {
            max-width: none;
            margin: 20px 0 0;

            &::before {
                display: none;
            }

            &-num {
                width: 28px;
                height: 28px;
                font-size: 16.0488px;
                line-height: 28px;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        &-card {
            &-img {
                width: 70px;
                height: 70px;

                svg {
                    width: 32px;
                    height: 32px;
                }
            }

            &-text {
                font-size: 15px;
                line-height: 19px;
                letter-spacing: -0.02em;
            }
        }

        &-item {
            max-width: 33.33%;

            &-num {
                width: 24px;
                height: 24px;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

.s-workflow {
    .s-section__heading {
        margin-bottom: 50px;
    }

    .s-section__title {
        letter-spacing: 0.02em;
    }

    .s-section__content>* {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            transform: rotate(45deg);
            width: 28px;
            height: 28px;
            top: calc(100% - 14px);
            left: calc(50% - 14px);
            z-index: 10;
        }

        &:last-child {
            &::before {
                display: none;
            }
        }
    }

    &-list {
        &::before {
            background-color: #fff;
        }

    }

    &-info {
        background: url(../img/rus/bg-workflow-info.jpg) center/cover no-repeat, radial-gradient(4143.48px at 128.96% 125.07%, #45A1C4 0%, #1F4F66 14.67%, #13304A 100%);
        padding: 60px 0 24px;

        &::before {
            background-color: #254564;
        }

        * {
            color: #FFFFFF;
        }

        .b-settings {
            &__body {
                ul {
                    li {
                        &::before {
                            content: '';
                            width: 70px;
                            height: 70px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        &:nth-child(1) {
                            &::before {
                                background-image: url("data:image/svg+xml,%3Csvg width='32' height='30' viewBox='0 0 32 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0002 7.99963C13.1202 7.99963 11.1514 10.3224 11.625 13.1636L12.3438 17.4644C12.6278 19.17 14.2706 20.5628 16.0002 20.5628C17.7278 20.5628 19.3742 19.17 19.6578 17.4644L20.3742 13.1636C20.8478 10.3228 18.879 7.99963 16.0002 7.99963ZM17.7434 12.7248L17.0274 17.0272C16.9558 17.45 16.4298 17.8968 16.0002 17.8968C15.5718 17.8968 15.0442 17.45 14.9742 17.0272L14.2554 12.7248C14.1594 12.1364 14.2766 11.61 14.5902 11.2392C14.9038 10.8696 15.4038 10.6664 16.0002 10.6664C16.5966 10.6664 17.0966 10.8696 17.4102 11.2392C17.723 11.6092 17.8414 12.1364 17.7434 12.7248Z' fill='%2300719C'/%3E%3Cpath d='M24.9792 22.5476L19.9676 20.8788C18.9156 21.906 17.5016 22.5632 15.9988 22.5632C14.496 22.5632 13.082 21.906 12.03 20.8788L7.01963 22.5476C6.09283 22.8576 5.33203 23.9108 5.33203 24.8892V29.3328H26.6656V24.8892C26.6656 23.9108 25.9064 22.858 24.9792 22.5476ZM23.9988 26.6664H7.99883V25.032L11.504 23.864C12.8572 24.754 14.408 25.2304 15.9988 25.2304C17.5896 25.2304 19.1404 24.754 20.4936 23.864L23.9988 25.032V26.6664Z' fill='%2300719C'/%3E%3Cpath d='M21.3325 5.33325C20.1389 5.33325 19.1165 5.74885 18.3457 6.41805C19.3665 6.79165 20.2737 7.40245 20.9693 8.22405C22.1673 9.63685 22.6685 11.5573 22.3457 13.4925L21.6293 17.7933C21.6253 17.8189 21.6137 17.8441 21.6085 17.8697C23.2325 17.7305 24.7217 16.4113 24.9901 14.7981L25.7061 10.4973C26.1801 7.65605 24.2113 5.33325 21.3325 5.33325Z' fill='%2300719C'/%3E%3Cpath d='M11.028 8.2236C11.9944 7.0828 13.3616 6.3448 14.8852 6.0976L15.04 5.164C15.5144 2.3228 13.5456 -1.46484e-07 10.6664 -1.46484e-07C7.78595 -1.46484e-07 5.81715 2.3228 6.29115 5.164L7.00995 9.4648C7.23115 10.7992 8.28835 11.932 9.56595 12.3656C9.56075 10.828 10.0648 9.3616 11.028 8.2236Z' fill='%2300719C'/%3E%3Cpath d='M6.3856 20.6507L10.8232 19.1744C10.6184 18.7352 10.4504 18.2784 10.37 17.7932L9.8164 14.4727C8.638 14.2759 7.548 13.7084 6.698 12.8792L1.6876 14.5484C0.7604 14.858 0 15.9107 0 16.8892V21.3328H5.138C5.5156 21.0375 5.9348 20.8015 6.3856 20.6507Z' fill='%2300719C'/%3E%3Cpath d='M30.3143 19.8813L25.3027 18.2117C24.5839 18.9141 23.6895 19.4225 22.7207 19.6873L25.6127 20.6505C27.3547 21.2325 28.6675 23.0545 28.6675 24.8889V26.6665H32.0007V22.2229C32.0007 21.2445 31.2419 20.1917 30.3143 19.8813Z' fill='%2300719C'/%3E%3C/svg%3E%0A");
                            }
                        }

                        &:nth-child(2) {
                            &::before {
                                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7779 0H14.2227V4.44427H17.7779V0Z' fill='%2300719C'/%3E%3Cpath d='M21.3327 7.11096H10.666V10.6667H14.2217V32H17.7769V10.6667H21.3327V7.11096Z' fill='%2300719C'/%3E%3Cpath d='M7.11184 0H3.55664V11.5557H7.11184V0Z' fill='%2300719C'/%3E%3Cpath d='M10.6667 14.2224H0V17.7781H3.55573V32H7.11093V17.7781H10.6667V14.2224Z' fill='%2300719C'/%3E%3Cpath d='M28.4439 0H24.8887V18.6667H28.4439V0Z' fill='%2300719C'/%3E%3Cpath d='M32.0007 21.3334H21.334V24.8886H24.8897V32H28.4449V24.8886H32.0007V21.3334Z' fill='%2300719C'/%3E%3C/svg%3E ");
                            }
                        }

                        &:nth-child(3) {
                            &::before {
                                background-image: url("data:image/svg+xml,%3Csvg width='32' height='19' viewBox='0 0 32 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 4C13.7916 4 12 6.388 12 9.3332C12 12.2756 13.7916 14.6664 16 14.6664C18.2084 14.6664 20 12.2756 20 9.3332C20 6.388 18.2084 4 16 4ZM16 12C15.2628 12 14.6668 10.8048 14.6668 9.3332C14.6668 7.8592 15.2628 6.6664 16 6.6664C16.7356 6.6664 17.3332 7.8592 17.3332 9.3332C17.3332 10.8048 16.7356 12 16 12Z' fill='%2300719C'/%3E%3Cpath d='M0 -7.32422e-08V18.6664H32V-7.32422e-08H0ZM2.6668 2.6664H5.3332C5.3332 4.138 4.1396 5.3332 2.6668 5.3332V2.6664ZM2.6668 16V13.3332C4.1396 13.3332 5.3332 14.5256 5.3332 16H2.6668ZM29.3332 16H26.6668C26.6668 14.5256 27.8604 13.3332 29.3332 13.3332V16ZM29.3332 10.6664C26.388 10.6664 24 13.0548 24 16H8C8 13.0548 5.612 10.6664 2.6668 10.6664V8C5.612 8 8 5.6116 8 2.6664H24C24 5.6116 26.388 8 29.3332 8V10.6664ZM29.3332 5.3332C27.8604 5.3332 26.6668 4.138 26.6668 2.6664H29.3332V5.3332Z' fill='%2300719C'/%3E%3C/svg%3E ");
                            }
                        }
                    }
                }
            }
        }
    }

    &-result {
        padding-top: 55px;

        .b-actual {
            &-card {
                padding: 0 17%;

                &-img {
                    background: #FF9800;
                }
            }

            .s-section__title {
                margin-bottom: 50px;
            }
        }

        .b-tooltip {
            position: relative;
            bottom: -10px;
        }
    }

    @media screen and (max-width: 767px) {
        &-list {
            padding-bottom: 30px;
        }
        .s-section__heading {
            margin-bottom: 20px;
        }
    }
}