@font-face {
    font-family: 'Libre Franklin';
    src: url(./../fonts/LibreFranklin-Medium.eot);
    src: url(./../fonts/LibreFranklin-Medium.eot?#iefix) format('embedded-opentype'), url(./../fonts/LibreFranklin-Medium.woff2) format('woff2'), url(./../fonts/LibreFranklin-Medium.woff) format('woff'), url(./../fonts/LibreFranklin-Medium.ttf) format('truetype'), url(./../fonts/LibreFranklin-Medium.svg#LibreFranklin-Medium) format('svg');
    font-weight: 500;
    font-style: normal
}

.b-tools {
    overflow: hidden
}

.b-tools__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.b-tools__container>:last-child,
.b-tools__items .b-items__item .b-item__header-wrap>:last-child,
.b-tools__items .b-items__item .b-item__list .b-list__item:last-child {
    margin-bottom: 0
}

.b-tools__desc,
.b-tools__source .b-source__text {
    font-family: 'Roboto', 'Open Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 40px
}

.b-tools__desc--center {
    text-align: center
}

.b-tools__textual {
    font-family: 'Roboto', 'Open Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;
    width: 100%
}

.b-tools__source {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.b-tools__source--opacity-blue {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 40px
}

.b-tools__source--opacity-blue:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;
    background: #f3faff
}

.b-tools__source .b-source__text {
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
    margin: 0
}

.b-tools__source .b-source__icon {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 24px
}

.b-tools__source .b-source__icon--bg-white {
    background: #fff
}

.b-tools__source .b-source__icon--svg-orange svg {
    fill: #f60
}

.b-tools__source .b-source__icon--square {
    border-radius: 8px
}

.b-tools__source .b-source__icon--circle {
    border-radius: 50%
}

.b-tools__source .b-source__icon--shadow-blue {
    -webkit-box-shadow: 0 6px 12px rgba(0, 147, 194, .12);
    box-shadow: 0 6px 12px rgba(0, 147, 194, .12)
}

.b-tools__items .b-items__item .b-item__header-icon svg,
.b-tools__items .b-items__item .b-item__header-icon--bullet svg,
.b-tools__items .b-items__item .b-item__header-icon--square svg,
.b-tools__source .b-source__icon svg {
    font-size: 36px
}

.b-tools__items,
.b-tools__items .b-items__item .b-item__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.b-tools__items {
    margin: 0 auto 10px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.b-tools__items .b-items__item {
    position: relative;
    margin-bottom: 30px
}

.b-tools__items .b-items__item--col-1 {
    width: calc((100% - 30px*(1 - 1))/1)
}

.b-tools__items .b-items__item--col-2 {
    width: calc((100% - 30px*(2 - 1))/2)
}

.b-tools__items .b-items__item--col-3 {
    width: calc((100% - 30px*(3 - 1))/3)
}

.b-tools__items .b-items__item--col-4 {
    width: calc((100% - 30px*(4 - 1))/4)
}

.b-tools__items .b-items__item .b-item__header {
    border-radius: 8px
}

.b-tools__items .b-items__item .b-item__header--bg-white {
    background: #fff
}

.b-tools__items .b-items__item .b-item__header--shadow-blue {
    padding: 16px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 147, 194, .12);
    box-shadow: 0 6px 12px rgba(0, 147, 194, .12)
}

.b-tools__items .b-items__item .b-item__header-icon {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px
}

.b-tools__items .b-items__item .b-item__header-icon--bullet,
.b-tools__items .b-items__item .b-item__header-icon--square {
    width: 68px;
    min-height: 68px;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 147, 194, .12);
    box-shadow: 0 6px 12px rgba(0, 147, 194, .12)
}

.b-tools__items .b-items__item .b-item__header-icon--svg-orange svg {
    fill: #ff9800
}

.b-tools__items .b-items__item .b-item__header-icon--bg-white {
    background: #fff
}

.b-tools__items .b-items__item .b-item__header-wrap {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.b-tools__items .b-items__item .b-item__title {
    font-family: 'Roboto', 'Open Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
    margin: 0 0 12px
}

.b-tools__items .b-items__item .b-item__title--upper {
    text-transform: uppercase
}

.b-tools__items .b-items__item .b-item__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.b-tools__items .b-items__item .b-item__item-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 24px
}

.b-tools__items .b-items__item .b-item__item-link:last-child {
    margin-right: 0
}

.b-tools__items .b-items__item .b-item__icon-link {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 8px
}

.b-tools__items .b-items__item .b-item__icon-link--svg-gray svg {
    fill: #b6cdd6
}

.b-tools__items .b-items__item .b-item__icon-link svg {
    font-size: 20px
}

.b-tools__items .b-items__item .b-item__body {
    padding-top: 24px
}

.b-tools__items .b-items__item .b-item__list {
    margin: 0 0 24px calc(68px/2 - 12px/2);
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.b-tools__items .b-items__item .b-item__list--line {
    position: relative
}

.b-tools__items .b-items__item .b-item__list--line:before {
    content: '';
    width: 2px;
    position: absolute;
    left: calc(12px/2 - 2px/2);
    top: -24px;
    height: calc(100% + 24px)
}

.b-tools__items .b-items__item .b-item__list--line-orange:before {
    background: #ff9800
}

.b-tools__items .b-items__item .b-item__list--line-light-blue:before {
    background: #d0f1fc
}

.b-tools__items .b-items__item .b-item__list .b-list__item {
    font-family: 'Roboto', 'Open Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 24px
}

.b-tools__items .b-items__item .b-item__list .b-list__item--marker:last-child {
    position: relative
}

.b-tools__items .b-items__item .b-item__list .b-list__item--marker:last-child:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: calc(12px/2 - 4px/2);
    bottom: 0;
    width: 4px;
    height: calc(100%/2);
    background: #fff
}

.b-tools__items .b-items__item .b-item__list .b-list__item--marker:before {
    content: '';
    z-index: 1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 16px
}

.b-tools__items .b-items__item .b-item__list .b-list__item--marker-orange:before {
    background: #ff9800
}

.b-tools__items .b-items__item .b-item__list .b-list__item--marker-light-blue:before {
    background: #d0f1fc
}

.b-tools__items .b-items__item .b-item__text {
    font-family: 'Roboto', 'Open Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
    margin: 0
}

.sp-tools-default-icons_doc,
.sp-tools-default-icons_envelope-open,
.sp-tools-default-icons_flask,
.sp-tools-default-icons_monitor,
.sp-tools-default-icons_play,
.sp-tools-default-icons_search {
    width: 1em;
    height: 1em
}

@media only screen and (max-width:1199px) {
    .b-tools__container {
        padding: 48px 24px
    }

    .b-tools__container>:last-child,
    .b-tools__items .b-items__item .b-item__header-wrap>:last-child {
        margin-bottom: 0
    }

    .b-tools__desc {
        margin-bottom: 32px
    }

    .b-tools__textual {
        font-size: 16px;
        line-height: 20px
    }

    .b-tools__source--opacity-blue {
        margin-bottom: 32px
    }

    .b-tools__source .b-source__text {
        line-height: 20px
    }

    .b-tools__items {
        margin-bottom: 8px
    }

    .b-tools__items .b-items__item {
        margin-bottom: 24px
    }

    .b-tools__items .b-items__item--col-1 {
        width: calc((100% - 24px*(1 - 1))/1)
    }

    .b-tools__items .b-items__item--col-2 {
        width: calc((100% - 24px*(2 - 1))/2)
    }

    .b-tools__items .b-items__item--col-3 {
        width: calc((100% - 24px*(3 - 1))/3)
    }

    .b-tools__items .b-items__item--col-4 {
        width: calc((100% - 24px*(4 - 1))/4)
    }

    .b-tools__items .b-items__item .b-item__header-icon {
        margin-right: 24px
    }

    .b-tools__items .b-items__item .b-item__header-icon svg,
    .b-tools__items .b-items__item .b-item__header-icon--bullet svg,
    .b-tools__items .b-items__item .b-item__header-icon--square svg {
        font-size: 32px
    }

    .b-tools__items .b-items__item .b-item__header-icon--bullet,
    .b-tools__items .b-items__item .b-item__header-icon--square {
        width: 64px;
        min-height: 64px
    }

    .b-tools__items .b-items__item .b-item__title {
        line-height: 20px;
        margin-bottom: 16px
    }

    .b-tools__items .b-items__item .b-item__item-link {
        margin-right: 16px
    }

    .b-tools__items .b-items__item .b-item__item-link:last-child {
        margin-right: 0
    }

    .b-tools__items .b-items__item .b-item__body {
        padding-top: 16px
    }

    .b-tools__items .b-items__item .b-item__list {
        margin-left: calc(64px/2 - 12px/2);
        margin-bottom: 16px
    }

    .b-tools__items .b-items__item .b-item__list--line:before {
        top: -16px;
        height: calc(100% + 16px)
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:before {
        margin-right: 12px
    }

    .b-tools__items .b-items__item .b-item__text {
        font-size: 16px;
        line-height: 20px
    }
}

@media only screen and (max-width:1023px) {
    .b-tools__container {
        padding: 40px 24px
    }

    .b-tools__container>:last-child,
    .b-tools__items .b-items__item .b-item__header-wrap>:last-child {
        margin-bottom: 0
    }

    .b-tools__desc {
        line-height: 22px;
        font-size: 18px
    }

    .b-tools__textual {
        font-size: 15px;
        line-height: 19px
    }

    .b-tools__source--opacity-blue {
        margin-bottom: 24px
    }

    .b-tools__source .b-source__text {
        font-size: 16px
    }

    .b-tools__items .b-items__item {
        margin-bottom: 16px
    }

    .b-tools__items .b-items__item--col-1 {
        width: calc((100% - 16px*(1 - 1))/1)
    }

    .b-tools__items .b-items__item--col-2 {
        width: calc((100% - 16px*(2 - 1))/2)
    }

    .b-tools__items .b-items__item--col-3 {
        width: calc((100% - 16px*(3 - 1))/3)
    }

    .b-tools__items .b-items__item--col-4 {
        width: calc((100% - 16px*(4 - 1))/4)
    }

    .b-tools__items .b-items__item .b-item__header-icon {
        margin-right: 16px
    }

    .b-tools__items .b-items__item .b-item__title {
        font-size: 16px
    }

    .b-tools__items .b-items__item .b-item__item-link {
        margin-right: 24px
    }

    .b-tools__items .b-items__item .b-item__item-link:last-child {
        margin-right: 0
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item,
    .b-tools__items .b-items__item .b-item__text {
        font-size: 15px;
        line-height: 19px
    }
}

@media only screen and (max-width:767px) {
    .b-tools__container {
        padding: 32px 16px
    }

    .b-tools__container>:last-child,
    .b-tools__items .b-items__item .b-item__header-wrap>:last-child {
        margin-bottom: 0
    }

    .b-tools__desc {
        margin-bottom: 24px
    }

    .b-tools__desc,
    .b-tools__textual {
        font-size: 14px;
        line-height: 17px
    }

    .b-tools__source .b-source__text {
        font-size: 15px;
        line-height: 19px
    }

    .b-tools__source .b-source__icon {
        width: 36px;
        height: 36px;
        margin-right: 12px
    }

    .b-tools__source .b-source__icon--square {
        border-radius: 6px
    }

    .b-tools__source .b-source__icon svg {
        font-size: 20px
    }

    .b-tools__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .b-tools__items .b-items__item {
        margin-bottom: 8px
    }

    .b-tools__items .b-items__item--col-1,
    .b-tools__items .b-items__item--col-2,
    .b-tools__items .b-items__item--col-3,
    .b-tools__items .b-items__item--col-4 {
        width: 100%
    }

    .b-tools__items .b-items__item .b-item__header {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 6px
    }

    .b-tools__items .b-items__item .b-item__header-icon {
        margin-right: 12px
    }

    .b-tools__items .b-items__item .b-item__header-icon svg {
        font-size: 28px
    }

    .b-tools__items .b-items__item .b-item__header-icon--square {
        width: 38px;
        min-height: 38px;
        border-radius: 6px
    }

    .b-tools__items .b-items__item .b-item__header-icon--bullet svg,
    .b-tools__items .b-items__item .b-item__header-icon--square svg {
        font-size: 18px
    }

    .b-tools__items .b-items__item .b-item__header-icon--bullet {
        width: 48px;
        min-height: 40px;
        border-radius: 0 20px 20px 0;
        margin-left: -16px
    }

    .b-tools__items .b-items__item .b-item__title {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 8px
    }

    .b-tools__items .b-items__item .b-item__item-link:last-child {
        margin-right: 0
    }

    .b-tools__items .b-items__item .b-item__icon-link {
        margin-right: 4px
    }

    .b-tools__items .b-items__item .b-item__icon-link svg {
        font-size: 16px
    }

    .b-tools__items .b-items__item .b-item__list {
        margin-left: 0
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:before,
    .b-tools__items .b-items__item .b-item__list--line:before {
        content: none
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker {
        padding: 0 0 0 8px;
        border-left: 2px solid
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:last-child:after {
        content: none
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker-orange {
        border-left-color: #ff9800
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker-light-blue {
        border-left-color: #d0f1fc
    }

    .b-tools__items .b-items__item .b-item__text {
        font-size: 14px;
        line-height: 17px
    }
}