/*calculate RK*/
.s-calc {
    background: url(../img/kr/bg-calc.jpg) top center/cover no-repeat;
    .s-section__title {
        letter-spacing: -0.02em;
    }
}
.b-calc {
    text-align: center;

    p,
    span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: getrem(17px);
        line-height: 129%;
        color: #333333;
        margin: 0;

        &.text-style {
            * {
                all: inherit;
            }

            &-warning {
                color: #FDEE5A;
            }

            &-danger {
                color: #FF6600;
            }
        }

        &.text-medium {
            font-weight: 500;
        }
    }

    input {
        @include input-placeholder {
            color: #8A979F;
        }

        width: 100%;
        max-width: getrem(420px);
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: getrem(18px);
        line-height: 133%;
        text-align: center;
        letter-spacing: 0.01em;
        background: #EFF2F7;
        border: 1px solid #EFF2F7;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: getrem(12px);
    }

    &-wrap {
        width: 100%;
        max-width: getrem(970px);
        margin-left: auto;
        margin-right: auto;
    }

    &-body {
        &-group {
            &+.b-calc-body-group {
                margin-top: getrem(30px);
            }
        }
    }

    &-title {
        margin-bottom: getrem(24px);
    }

    &-group {
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(183, 183, 183, 0.32);
        border-radius: 8px;
        padding: getrem(35px) getrem(100px);

        &[data-attr="CALC_RESULT"] {
            display: none;
            padding-top: getrem(84px);
        }

        .is-open & {
            position: relative;
            border-radius: 8px 8px 0px 0px;

            &:not(:last-child)::after {
                position: absolute;
                content: '';
                left: 50%;
                bottom: getrem(-20px);
                width: 0;
                height: 0;
                border-left: getrem(22px) solid transparent;
                border-right: getrem(22px) solid transparent;
                border-top: getrem(22px) solid #FFFFFF;
                z-index: 1;
                transform: translate(-50%, 0);
            }

            &[data-attr="CALC_RESULT"] {
                border-radius: 0px 0px 8px 8px;
            }
        }

        &.has-bg {
            background: #00B9FF;

            * {
                color: #FFFFFF;
                font-weight: normal;
            }

            %color {
                color: #333333;
            }

            .b-calc-range-tooltip {
                @extend %color;

                span {
                    @extend %color;
                }

                .result {
                    @extend %color;
                    @include truncate(100%);
                    font-weight: bold;
                    font-size: getrem(14px);
                    line-height: 12 / 14 * 1;
                    text-transform: uppercase;

                    span {
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                    }
                }
            }
        }
    }

    &-range {
        position: relative;
        width: 100%;
        max-width: getrem(800px);
        margin: 0 auto getrem(20px);
        padding-top: getrem(28px);

        &-text {
            display: none;
        }

        &-min {
            position: absolute;
            top: 0;
            left: 0;
            font-size: getrem(17px);
            line-height: 129%;
        }

        &-max {
            position: absolute;
            top: 0;
            right: 0;
            font-size: getrem(17px);
            line-height: 129%;
        }

        &-tooltip {
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            min-width: getrem(142px);
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: getrem(12px);
            line-height: 14 / 12 * 1;
            text-align: center;
            letter-spacing: 0.01em;
            color: #333333;
            background: #FFFFFF;
            border-radius: 8px;
            padding: getrem(8px) getrem(16px);
            margin-bottom: getrem(8px);

            &::after {
                position: absolute;
                content: '';
                left: 50%;
                bottom: getrem(-8px);
                width: getrem(12px);
                height: getrem(12px);
                background: #FFFFFF;
                transform: rotate(45deg) translate(-50%, 0);
            }

            &>* {
                &+* {
                    margin-top: getrem(8px);
                }
            }
        }

        .js-range {
            height: getrem(4px);
            background: #FFFFFF;
            border-radius: 8px;
            border: none;

            .ui-slider-handle {
                width: getrem(12px);
                height: getrem(12px);
                background: #FFFC00;
                border-radius: 100%;
            }

            .ui-slider-range {
                background: #FFFC00;
            }
        }
    }

    &-result {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: getrem(189px);
        font-size: getrem(17px);
        line-height: 129%;
        text-align: center;
        text-transform: uppercase;
        background: #FDEE5A;
        padding: getrem(8px);
        margin-bottom: getrem(16px);

        .text-style {
            @include truncate(100%);
            display: inline-block;
            vertical-align: top;
            font-weight: bold;
        }

        .b-tooltip {
            position: absolute;
            top: 50%;
            right: getrem(-8px);
            transform: translate(100%, -50%);

            svg {
                path {
                    fill: #4DFFFC;
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {

        p,
        span {
            font-size: getrem(15px);
        }

        input {
            font-size: getrem(16px);
            letter-spacing: 0.01em;
            padding: getrem(9px);
        }

        &-group {
            padding: getrem(32px);
        }

        &-range {
            max-width: getrem(536px);
        }
    }

    @media screen and (max-width: 767px) {
        br {
            display: none;
        }

        p,
        span {
            font-size: getvw(14px);
        }

        input {
            font-size: getvw(15px);
            padding: getvw(9px);
        }

        &-wrap {
            max-width: none;
        }

        &-title {
            margin-bottom: getvw(24px);
        }

        &-group {
            padding: getvw(24px) getvw(16px);

            &[data-attr="CALC_RESULT"] {
                padding-top: getvw(48px);

                p {
                    font-size: getvw(12px);
                }
            }

            .is-open & {

                &:not(:last-child)::after {
                    bottom: getvw(-20px);
                    border-left: getvw(22px) solid transparent;
                    border-right: getvw(22px) solid transparent;
                    border-top: getvw(22px) solid #FFFFFF;
                }
            }
        }

        &-body {
            &-group {
                &+.b-calc-body-group {
                    margin-top: getvw(24px);
                }
            }
        }

        &-range {
            max-width: none;
            margin-bottom: getvw(28px);
            padding-top: 0;

            &>* {
                .b-calc & {
                    margin-bottom: getvw(19px);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-text {
                display: block;

                .b-calc-group[data-attr="CALC_RESULT"] & {
                    font-size: getvw(14px);
                }
            }

            &-min,
            &-max {
                display: none;
            }

            &-tooltip {
                display: none;
            }

            .js-range {
                height: getvw(2px);

                .ui-slider-handle {
                    width: getvw(8px);
                    height: getvw(8px);
                    top: getvw(-4.2px);
                    margin-left: getvw(-4.4px);
                }
            }
        }

        &-result {
            max-width: getvw(120px);
            font-size: getvw(12px);
            padding: getvw(5px) getvw(4px) getvw(4px);
            margin-bottom: getvw(12px);

            .text-style {
                font-size: inherit;
            }

            .b-tooltip {
                &::after {
                    left: auto;
                    right: getvw(-36px);
                    width: getvw(210px);
                }
            }
        }
    }
}