@import "./b-tools";

/*control*/
.b-control {
    background: url(../img/kr/bg-control.jpg), radial-gradient(4268.53px at 128.96% 125.07%, #45A1C4 0%, #1F4F66 14.67%, #13304A 100%), #FFFFFF;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 0;

    h2 {
        font-size: getrem(32px);
        line-height: 119%;
        letter-spacing: 0.02em;
    }

    p {
        font-size: getrem(17px);
        font-weight: 300;
        line-height: 129%;
        margin: 0;

        &+p {
            margin-top: getrem(30px);
        }

        &.text-medium {
            font-weight: 500;
        }

        &.text-center {
            text-align: center;
        }

        small {
            font-size: getrem(10px);
            line-height: 140%;
        }
    }

    .text-color {
        color: #FFFC00;
    }

    .s-section__desc {
        font-size: getrem(20px);
        line-height: 110%;
        letter-spacing: normal;
    }

    &-group {
        padding: getrem(40px) 0;

        &.has-bg {
            background: rgba(37, 64, 89, 0.6);
        }

        &-prices {
            $gap: 30px;
            padding: getrem(25px) 0;

            .b-row {
                margin-left: getrem($gap / - 2);
                margin-right: getrem($gap / - 2);

                &__col {
                    max-width: (1 / 3) * 100%;
                    text-align: center;
                    padding-left: getrem($gap / 2);
                    padding-right: getrem($gap / 2);
                }
            }
        }
    }

    &-price {
        &-head {
            font-weight: 500;
            padding: getrem(15px);
            border: 1px solid #D0F1FC;
            border-radius: getrem(4px);
            max-width: 80%;
            margin: 0 auto getrem(24px);

            p {
                font-weight: inherit;
            }
        }

        &-body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            min-height: getrem(40px);
        }
    }

    .b-tools {
        &__container {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .b-item {
        &__header {
            background: #FFFFFF;
            box-shadow: 0px 6px 12px rgba(0, 185, 255, 0.12);
            border-radius: 8px;
            padding: getrem(24px);

            &-icon {
                .wrapper-kr & {
                    margin-right: getrem(22px);
                }

                svg {
                    width: getrem(24px);
                    height: getrem(24px);
                }
            }
        }

        &__title {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: getrem(18px);
            line-height: 133%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #1C1C1C;
        }
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:before,
    .b-tools__items .b-items__item .b-item__list--line:before {
        background-color: #fff;
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:last-child:after {
        display: none;
    }

    .b-tools__items .b-items__item .b-item__list--line:before {
        height: calc(100% + 20px);
    }

    .b-tools__items .b-items__item .b-item__list .b-list__item--marker:before {
        margin-right: getrem(29px);
    }

    .b-tools__items .b-items__item .b-item__list,
    .b-tools__items .b-items__item {
        margin-bottom: 0;
    }
}