/*Frame 6*/
.s-frame-6 {
    background: url(../img/kr/bg-frame-6.jpg), radial-gradient(3824.50px at 128.96% 125.07%, #45A1C4 0%, #1F4F66 14.67%, #13304A 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .s-section__heading {
        margin-bottom: 0;
    }
    .s-section__desc {
        color: #FFFC00;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        margin-bottom: 0;
        a {
            color: #42C461;
        }
    }
}