/*Frame 5*/
.s-suggest {
    background: #F7FCFF;

    .s-section__title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .s-section__desc {
        color: #1C1C1C;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.01em;
    }
}

.b-suggest {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &-item {
        width: 100%;
        flex: 1 1 auto;
        max-width: 33.33%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;
        box-shadow: 0px 50px 44px -36px rgba(0, 110, 145, 0.2);
    }

    &-card {
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 36px rgba(8, 153, 199, 0.06);
        border-radius: 8px;
        padding: 40px 28px 24px;
        text-align: center;

        &-img {
            height: 70px;

            svg {
                max-width: 42px;
                max-height: 32px;
            }
        }

        &-text {
            color: #333333;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.03em;
            margin: 0;
        }
    }

    &-footnote {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        color: #333333;
        margin-top: 30px;
    }

    .b-tooltip {
        &::after {
            width: 192px;
        }
    }

    @media screen and (max-width: 767px) {
        &-list {
            margin-left: getvw(- 15px);
            margin-right: getvw(- 15px);
        }
    
        &-item {
            max-width: none;
            padding-left: getvw(15px);
            padding-right: getvw(15px);
            margin-bottom: getvw(25px);
        }
    }
}