/*section How_we_work*/
.s-account {
    background: #F7FCFF;
}

.b-account {
    &__list {
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        position: relative;
        max-width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 36px rgba(8, 153, 199, 0.06);
        border-radius: 8px;
        padding: 24px;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 24px;
            display: block;
            width: 40px;
            height: 40px;
            background: #006AAF;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0px 6px 14px rgba(0, 106, 175, 0.16);
            border-radius: 2px;
            transform: translate(0, -50%);
        }

        &.is-activated {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C8.7606 0 6.5457 2.6133 7.0791 5.8095L7.8858 10.6482C8.2053 12.5667 10.0557 14.1345 12 14.1345C13.9443 14.1345 15.7947 12.5664 16.1142 10.6482L16.9209 5.8095C17.4543 2.6133 15.2394 0 12 0ZM14.9481 5.4804L14.1417 10.3203C13.9836 11.2695 12.9618 12.1347 12 12.1347C11.0382 12.1347 10.0167 11.2695 9.8574 10.3194L9.0516 5.4804C8.8923 4.5243 9.1053 3.6435 9.651 2.9991C10.197 2.3547 11.031 2.0001 11.9997 2.0001C12.9684 2.0001 13.8036 2.3547 14.3493 2.9991C14.8944 3.6435 15.1074 4.5246 14.9481 5.4804Z' fill='white'/%3E%3Cpath d='M22.1025 16.3671L16.2021 14.4006C15.0741 15.4617 13.5813 16.1349 12 16.1349C10.4187 16.1349 8.9259 15.4617 7.7979 14.4006L1.8975 16.3671C0.8547 16.7157 0 17.9004 0 19.0002V24H24V19.0002C24 17.9004 23.1465 16.7157 22.1025 16.3671ZM21.9999 22.0002H2.0001V19.0002C2.0001 18.7599 2.3028 18.3411 2.5314 18.2637L7.3917 16.6449C8.7666 17.6124 10.3653 18.135 12 18.135C13.6338 18.135 15.2334 17.6124 16.6074 16.6449L21.4695 18.2649C21.6972 18.3411 21.9999 18.7599 21.9999 19.0002V22.0002Z' fill='white'/%3E%3Cpath d='M24 9.0001H21.9999V7H20.0001V9.0001H18V11.0002H20.0001V13.0003H21.9999V11.0002H24V9.0001Z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }

        &.is-deactivated {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C8.76061 0 6.54571 2.6133 7.07911 5.8095L7.88581 10.6482C8.20531 12.5667 10.0557 14.1345 12 14.1345C13.9443 14.1345 15.7947 12.5664 16.1142 10.6482L16.9209 5.8095C17.4543 2.6133 15.2394 0 12 0ZM14.9481 5.4804L14.1417 10.3203C13.9836 11.2695 12.9618 12.1347 12 12.1347C11.0382 12.1347 10.0167 11.2695 9.85741 10.3194L9.05161 5.4804C8.89231 4.5243 9.10531 3.6435 9.65101 2.9991C10.197 2.3547 11.031 2.0001 11.9997 2.0001C12.9684 2.0001 13.8036 2.3547 14.3493 2.9991C14.8944 3.6435 15.1074 4.5246 14.9481 5.4804Z' fill='white'/%3E%3Cpath d='M22.1025 16.3671L16.2021 14.4006C15.0741 15.4617 13.5813 16.1349 12 16.1349C10.4187 16.1349 8.9259 15.4617 7.7979 14.4006L1.8975 16.3671C0.8547 16.7157 0 17.9004 0 19.0002V24H24V19.0002C24 17.9004 23.1465 16.7157 22.1025 16.3671ZM21.9999 22.0002H2.0001V19.0002C2.0001 18.7599 2.3028 18.3411 2.5314 18.2637L7.3917 16.6449C8.7666 17.6124 10.3653 18.135 12 18.135C13.6338 18.135 15.2334 17.6124 16.6074 16.6449L21.4695 18.2649C21.6972 18.3411 21.9999 18.7599 21.9999 19.0002V22.0002Z' fill='white'/%3E%3Cpath d='M24 9H18V11.0001H24V9Z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__title {
        color: #595959;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
    }

    &__body {
        ul {
            li {
                position: relative;
                color: #595959;
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 22px;
                padding-left: 26px;
                margin-bottom: getrem(20px);

                &::before {
                    position: absolute;
                    content: '';
                    top: 6px;
                    left: 0;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: #EFF2F7;
                    border-radius: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            max-width: none;
            margin: 0 0 30px;
        }
    }
}