/*section PROGRAMS_V_1*/
.s-prog-1 {
    background: url(../img/kr/bg-prog-1.jpg);
    background-blend-mode: normal, lighten, normal, normal;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;

    .s-section__title {
        max-width: 991px;
        margin-left: auto;
        margin-right: auto;
    }

    .s-section__desc {
        color: #1C1C1C;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.01em;
    }

    .danger {
        color: #e2291c;
    }

    .is-warning {
        color: #FF9800;
    }

    &__info {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) -13.64%, rgba(255, 255, 255, 0.7) 100%);
        padding: 40px 0;
        margin-top: 40px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            transform: rotate(45deg);
            width: 28px;
            height: 28px;
            background-color: #F8FBFC;
            top: calc(100% - 14px);
            left: 50%;
            z-index: 10;
        }

        .inner {
            position: relative;
        }

        &-text {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            color: #333333;
            margin: 0;
        }

        &-icon {
            position: absolute;
            top: 0;
            left: -64px;
            width: 32px;
            height: 32px;
        }
    }

    @media screen and(max-width: 767px) {
        .s-section__desc {
            font-size: 14px;
        }
        &__info {
            &::before {
                display: none;
            }
        }
    }
}

.b-options {
    &__list {
        margin-left: -15px;
        margin-right: -15px;
        counter-reset: list;
        justify-content: center;
    }

    &__item {
        max-width: 370px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 36px rgba(8, 153, 199, 0.06);
    }

    &__head {
        position: relative;
        min-height: 112px;
        background: radial-gradient(874.60px at 155.14% -155.73%, #00B9FF 0%, #004A8F 100%);
        border-radius: 8px 8px 0px 0px;
        padding: 24px 24px 24px 104px;

        &::before {
            position: absolute;
            display: inline-block;
            counter-increment: list;
            content: counter(list);
            top: 24px;
            left: 24px;
            width: 64px;
            height: 64px;
            color: #006AAF;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 64px;
            text-align: center;
            background: #FFFFFF;
            border-radius: 100%;
        }
    }

    &__body {
        flex: 1;
        background: #FFFFFF;
        padding: 32px 24px 8px;

        p {
            color: #333333;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.02em;
            margin: 0 0 35px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__title {
        position: relative;
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: getrem(17px);
        line-height: 24px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin: 0;

        .b-tooltip {
            top: 4px;
            vertical-align: top;
            margin-left: 0;
            margin-right: 4px;

            svg {
                opacity: 0.6;

                path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 0px 0px 8px 8px;
        padding: 8px 32px 24px;
    }

    &__link {
        color: #009731;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        text-decoration-line: underline;
    }

    &__btn {
        @include truncate(136px);
        width: 100%;
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        vertical-align: middle;
        user-select: none;
        background: #42C461;
        border-radius: 2px;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
    }

    &__footnote {
        color: #333333;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-top: 30px;
    }

    @media screen and(max-width: 767px) {
        &__head {
            padding: 24px 24px 24px 72px;
            &::before {
                width: 32px;
                height: 32px;
                font-size: 32px;
                line-height: 32px;
            }
        }

        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__link {
            font-size: 12px;
        }
        &__btn {
            width: auto;
            padding: 8px;
        }
    }
}