/*Settings_v_1*/
.s-settings {
    background: url(../img/bg-about.png) center/cover no-repeat, radial-gradient(4143.48px at 128.96% 125.07%, #45A1C4 0%, #1F4F66 14.67%, #13304A 100%);
}

.b-settings {
    &__title {
        color: #FFFFFF;
        font-family: "Rubik", sans-serif ;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 40px;
    }

    &__body {
        ul {
            counter-reset: list;

            li {
                display: flex;
                position: relative;
                color: #FFFFFF;
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 22px;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }


                &::before {
                    @include truncate(100%);
                    position: relative;
                    flex: 0 0 auto;
                    max-width: 100%;
                    display: block;
                    counter-increment: list;
                    content: counter(list);
                    top: 3px;
                    left: 0;
                    width: 32px;
                    height: 36px;
                    color: #006AAF;
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 36px;
                    text-align: center;
                    text-transform: uppercase;
                    background: #FFFFFF;
                    border-radius: 8px;
                    margin-right: 16px;
                }

                p {
                    align-self: center;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}