/*SUMM_V_1*/
.b-summ {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-item {
        position: relative;
        width: auto;
        flex: 0 0 auto;
        max-width: 100%;
        margin-bottom: 8px;

        &:not(:first-child) {
            margin-left: 72px;

            &::before {
                display: block;
                position: absolute;
                content: '';
                top: 50%;
                left: -48px;
                width: 24px;
                height: 24px;
                transform: translate(0, -50%);
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='10.4' width='24' height='3.2' fill='%238A979F'/%3E%3Crect x='13.6' width='24' height='3.2' transform='rotate(90 13.6 0)' fill='%238A979F'/%3E%3C/svg%3E%0A");
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &:last-child {
            &::before {
                width: 30px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='14' viewBox='0 0 30 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='4' fill='%238A979F'/%3E%3Crect y='10' width='30' height='4' fill='%238A979F'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &-card {
        width: 100%;
        max-width: 230px;
        text-align: center;
        background: #FFFFFF;
        border: 1px dashed #C0CCD3;
        border-radius: 8px;

        &-head {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 80px;
            padding: 20px 0 12px;
            border-bottom: 1px solid #EFF2F7;
            background: #EFF2F7;

            .b-tooltip {
                display: inline-block;
                position: absolute;
                top: 5px;
                right: -20px;
            }
        }

        &-title {
            position: relative;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #1C1C1C;
            margin: 0 0 16px;

            &:last-child {
                margin: 0;
            }

            span {
                @include line-clamp(2);
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            height: calc(191px - 80px);
            padding: 20px 20px 12px;
            overflow: hidden;
        }

        &-text {
            @include line-clamp(2);
            flex: 1;
            margin: 0 0 20px;
        }

        &-img {
            max-width: 100%;
        }

        &.b-summ-card-total {
            max-width: 258px;
            height: 193px;
            padding: 40px 15px 12px;
            border: 1px solid #C0CCD3;

            .b-summ-card {
                &-img {
                    display: block;
                    width: 64px;
                    height: 64px;
                    margin: 0 auto 30px;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        &-card {
            max-width: none;

            &.b-summ-card-total {
                max-width: none;
            }

            .b-tooltip::after {
                left: auto;
                right: -36px;
                width: auto;
            }
        }

        &-item {
            width: 100%;

            &:not(:first-child) {
                margin-left: 0;
                margin-top: 30px;

                &::before {
                    display: block;
                    position: absolute;
                    content: '';
                    top: -30px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
}