/*icon info tooltip*/
.b-tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    text-align: left;
    text-transform: none;
    overflow: visible!important;
    margin-left: 4px;
    &>* {
        vertical-align: top;
    }

    &::before {
        content: '';
        display: none;
        position: absolute;
        transform: rotate(45deg);
        width: 28px;
        height: 28px;
        background-color: #fff;
        top: calc(100% + 14px);
        left: -6px;
        z-index: 10;
    }

    &::after {
        content: attr(data-title);
        display: none;
        position: absolute;
        top: calc(100% + 28px);
        left: -36px;
        width: 300px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #333333;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 24px;
        z-index: 10;
        box-shadow: 0 20px 20px 0 rgba(0,95,137,.2);
    }
    &:hover {
        &::before,
        &::after {
            display: block;
        }
    }
}