/*section !Pop-up_v_1*/
.s-var {
    background: url(../img/kr/bg-pop-1.jpg) center/cover no-repeat;
}

.b-var {
    &s {
        .s-section__desc {
            margin-bottom: getrem(70px);
        }

        &-slider {
            .arrow-text {
                display: inline-block;
                max-width: 96px;
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-align: right;
                margin-top: 18px;
            }

            .owl-nav {
                top: 55%;
                height: 80px;
                width: calc(100% + 186*2px);
                z-index: 1;

                .owl-prev,
                .owl-next {
                    text-align: center;
                }

                .owl-prev {
                    background: url(../img/kr/arrow-prev.svg) no-repeat center/cover;
                    width: 186px;

                    .arrow-text {
                        text-align: right;
                    }
                }

                .owl-next {
                    background: url(../img/kr/arrow-next.svg) no-repeat center/cover;
                    width: 186px;

                    .arrow-text {
                        text-align: left;
                    }
                }

                .owl-next,
                .owl-prev {
                    opacity: 0.4;
                    transition: 0.6s;

                    &:hover {
                        opacity: 1;
                    }

                    &.disabled,
                    &.disabled:hover {
                        opacity: 0.4;

                        .arrow-text {
                            visibility: hidden;
                        }
                    }
                }
            }

            &.owl-carousel .owl-stage-outer {
                overflow: visible;
            }

            .owl-item {
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }

        &-footnote {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-top: 30px;

            .text-color {
                color: #FFFC00;
            }
        }
    }

    &-card {
        &-img {
            position: relative;
            width: 70px;
            height: 70px;
            background: #FFFFFF;
            box-shadow: 0px 6px 12px rgba(0, 147, 194, 0.12);
            margin: 0 auto 30px;
            border-radius: 20px;
            overflow: hidden;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 32px;
                max-height: 32px;

                use {

                    &.banknote,
                    &.Purse {
                        fill: #FF9800;
                    }

                    [data-attr="var0"] & {
                        &.banknote {
                            fill: #006AAF;
                        }
                    }
                }

                path {
                    fill: inherit;
                }
            }
        }

        &-text {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            text-align: center;

            .text-color {
                color: #FFFC00;
            }
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-item {
        position: relative;
        width: 100%;
        flex: 0 0 auto;
        max-width: calc(33.33% - 3%);
        margin-left: 0;

        &:nth-child(1n + 2) {
            margin-left: 3%;

            &::before {
                position: absolute;
                content: '';
                display: block;
                top: 35px;
                left: -4.5%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9.58579 9.58579C10.3668 10.3668 10.3668 11.6332 9.58579 12.4142L1 21' stroke='%23D0F1FC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &::after {
            position: absolute;
            content: '';
            display: block;
            top: 35px;
            left: 0;
            width: 100%;
            border-top: 2px dashed #D0F1FC;
            z-index: -1;
        }

        &:first-child {
            &::after {
                left: 50%;
                width: 50%;
            }
        }

        &:last-child {
            &::after {
                width: 50%;
            }
        }
    }

    .b-tooltip {
        vertical-align: middle;
        margin-left: 4px;

        &::after {
            left: auto;
            right: -36px;
        }

        svg {
            path {
                fill: #5EEBA7;
            }
        }
    }

    .blink {
        display: inline-block;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#fff, 0.6);
            border-radius: 20px;
            opacity: 0;
        }

        &:before {
            transform: scale(1);
            animation: blink 10s infinite linear;
        }

        &:after {
            animation: blink 10s .6s infinite linear;
        }
    }

    @keyframes blink {
        0% {
            opacity: 0;
            transform: scale(0.4);
        }

        16% {
            opacity: 1;
            transform: scale(1);
        }

        33% {
            opacity: 0;
            transform: scale(2);
        }
    }
}

@media screen and (max-width: 1919px) {
    .s-var {
        .s-section__desc {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .b-var {
        &s {
            &-slider {
                .arrow-text {
                    visibility: hidden;
                }

                .owl-nav {
                    top: 56%;
                    height: 58px;
                    width: 100%;
                    z-index: 1;

                    .owl-next,
                    .owl-prev {
                        opacity: 0.4;

                        &.disabled {
                            opacity: 0.1;
                        }
                    }

                    .owl-prev {
                        background: url(../images/vendor/owl/prev.svg) no-repeat center/contain;
                        width: 32px;
                    }

                    .owl-next {
                        background: url(../images/vendor/owl/next.svg) no-repeat center/contain;
                        width: 32px;
                    }
                }
            }

            &-footnote {
                font-size: 15px;
                line-height: 20px;
            }
        }

        &-card {
            &-text {
                font-size: 15px;
                line-height: 19px;
                padding: 0 20px;
            }
        }
    }
}

@media screen and (max-width: 1066px) {
    .b-var {
        &s {
            &-slider {

                .owl-nav {
                    top: 49%;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .s-var {
        .s-section__desc {
            font-size: 15px;
            line-height: 19px;
        }
    }

    .b-var {
        &s {
            &-slider {

                .owl-nav {
                    top: 54%;
                    height: 42px;

                    .owl-prev,
                    .owl-next {
                        width: 24px;
                    }
                }
            }

            &-footnote {
                font-size: 12px;
                line-height: 14px;
            }
        }

        &-card {
            &-text {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .s-var {
        .s-section__desc {
            font-size: 14px;
            line-height: 17px;
        }
    }

    .b-var {
        &s {
            &-slider {

                .owl-nav {
                    top: 30%;
                    left: 0;
                    transform: none;
                }
            }

            &-footnote {
                font-size: 10px;
                line-height: 20px;
            }
        }

        &-item {
            max-width: none;
            margin-bottom: 70px;

            &:nth-child(1n + 2) {
                margin-left: 0;

                &::before {
                    top: -23px;
                    left: 50%;
                    transform: rotate(90deg) translate(-50%, -50%);
                    transform-origin: 0 0;
                }
            }

            &::after,
            &:first-child::after {
                top: auto;
                bottom: -15px;
                left: 50%;
                width: 32px;
                height: 0px;
                transform: rotate(90deg) translate(0, -50%);
                transform-origin: 0 0;
            }

            &:last-child {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }

        &-card {
            &-img {
                width: 60px;
                height: 60px;
            }

            &-text {
                font-size: 14px;
                line-height: 17px;
            }
        }

        .blink {
            width: 60px;
            height: 60px;
        }
    }
}